<div class="accordion-header bg-dark">
  <span class="m-0 align-middle">
    <div id="header-products-link" class="header-link-button" >
    <%= image_tag "products_icon.png", :width => "20px", :height => "20px" %>
    <span class="align-middle"><%= t('view.filternav.products') %></span>
    </div>
    <%
      counter = filter_count('origins') + filter_count('products') + filter_count('with_maturity_assessment') + filter_count('product_type')
      if counter > 0
        concat "<span id='accordian-origins-count' class='badge badge-light'>#{counter}</span>".html_safe
      else
        concat "<span id='accordian-origins-count' class='badge badge-light'></span>".html_safe
      end
    %>
    <i class="fa fa-angle-down float-right text-muted"></i>
  </span>
</div>
<div class="accordion-body p-0 bg-dark">
  <div class="row">
    <div id="clear-products" class="col-12 small clear-all">
      <a class="float-right" href="#"><%= t('view.filternav.clear') %></a>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 ml-1">
      <div class="form-check">
          <%= check_box_tag "with_maturity_assessment", true, params[:with_maturity_assessment],
                            class: "form-check-input filter-element checkbox-align" %>
          <%= label_tag "with_maturity_assessment", t('view.filternav.with-maturity'), class: "form-check-label" %>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 ml-1">
      <div class="form-check">
          <%= check_box_tag "is_launchable", true, params[:is_launchable],
                            class: "form-check-input filter-element checkbox-align" %>
          <%= label_tag "is_launchable", t('view.filternav.is-launchable'), class: "form-check-label" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 ml-1">
      <div class="form-group mb-1">
        <%= label_tag "origins", t('view.product.index.sources') %>
        <%= collection_select(nil, "origins", Origin.all.order(:name), :id, :name,
            { selected: params[:name], include_blank: t('view.filternav.title.origin')},
            { class: 'form-control filter-element' }) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 badges"></div>
  </div>
  <div class="row">
    <div class="col-12 ml-1">
      <div class="form-group mb-1">
        <%= label_tag "product_type", t('view.product.index.types') %>
        <select class="form-control filter-element" id="product_type" name="product_type">
          <option value>All</option>
          <option value="product">Product</option>
          <option value="dataset">Dataset</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 badges"></div>
  </div>
  <div class="row p-1 mt-1">
    <div class="col-12">
      <div class="form-group mb-1">
        <%= label_tag "products", t('model.product').titlecase.pluralize %>:
        <input type="text" id="products" class="form-control filter-element"
          placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 badges"></div>
  </div>
  <div class="row p-1 mt-1">
    <div class="col-12">
      <div class="form-group mb-1">
        <%= label_tag "tags", t('model.tag').titlecase.pluralize %>:
        <input type="text" id="tags" class="form-control filter-element"
          placeholder="<%= t('view.multi-select.assigned.label', model: t('model.tag').to_s.pluralize) %>" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 badges"></div>
  </div>
</div>
