<div class="accordion-header bg-dark">
  <span class="m-0 align-middle">
    <div id="header-projects-link" class="header-link-button" >
      <%= image_tag "project.png", :width => "20px",
                  alt: t('alt.el-icon', el: t('model.project')).humanize %>
      <span class="align-middle"><%= t('view.filternav.projects') %></span>
    </div>
    <%
      counter = filter_count('projects')
      if counter > 0
        concat "<span id='accordian-projects-count' class='badge badge-light'>#{counter}</span>".html_safe
      else
        concat "<span id='accordian-projects-count' class='badge badge-light'></span>".html_safe
      end
    %>
    <i class="fa fa-angle-down float-right text-muted"></i>
  </span>
</div>
<div class="accordion-body p-0 bg-dark">
  <div class="row">
    <div id="clear-projects" class="col-12 small clear-all">
      <a class="float-right" href="#"><%= t('view.filternav.clear') %></a>
    </div>
  </div>
  <div class="row p-1 mt-1">
    <div class="col-12">
      <div class="form-group mb-1">
        <label for="projects" class="sr-only"><%= t('model.project').pluralize.humanize %></label>
        <input type="text" id="projects" class="form-control filter-element"
          placeholder="<%= t('view.multi-select.assigned.label', model: t('model.project').to_s.pluralize) %>" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 badges"></div>
  </div>
  <div class="row">
    <div class="col-12 ml-1">
      <div class="form-group mb-1">
        <%= label_tag "project_origins", t('view.product.index.sources') %>
        <%= collection_select(nil, "project_origins", Origin.all.order(:name), :id, :name,
            { selected: params[:name], include_blank: t('view.filternav.title.project-origin')},
            { class: 'form-control filter-element text-muted' }) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 badges"></div>
  </div>
  <div class="row p-1 mt-1">
    <div class="col-12">
      <div class="form-group mb-1">
        <%= label_tag "project-tags", t('model.tag').titlecase.pluralize %>:
        <input type="text" id="project-tags" class="form-control filter-element"
          placeholder="<%= t('view.multi-select.assigned.label', model: t('model.tag').to_s.pluralize) %>" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 badges"></div>
  </div>
</div>