<%= form_with(model: playbook,  multipart: true, local: true, html: { id: 'playbook-form' }) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :playbook_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= playbook.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.playbook')) %>
  </div>
  
  <fieldset class="custom-file mt-2">
    <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file"/>
    <label class="custom-file-label" for="logo-file">
      <%= t('view.general.logo') %>
    </label>
  </fieldset>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.overview') %>
  </h6>
  <%= form.hidden_field :playbook_overview, id: :playbook_overview %>
  <div class="wysiwyg-editor" id='playbook-overview'>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.audience') %>
  </h6>
  <%= form.hidden_field :playbook_audience, id: :playbook_audience %>
  <div class="wysiwyg-editor" id='playbook-audience'>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.outcomes') %>
  </h6>
  <%= form.hidden_field :playbook_outcomes, id: :playbook_outcomes %>
  <div class="wysiwyg-editor" id='playbook-outcomes'>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.phases') %>
    <% if user_signed_in? && policy(Playbook).mod_allowed? %>
      <a href="#" class="card-link float-right" id="add-phase" style="color: #fbab18 !important"><%= t('view.general.add') %></a>
    <% end %>
  </h6>
  <div id="playbook-phases">
    <% @playbook.phases.each do |phase| %>
      <%= render :partial => 'phase', :object => phase %>
    <% end %>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  $('#add-phase').click(function(e) {
    e.preventDefault();
    $("#playbook-phases").append("<%= escape_javascript render(partial: 'phase', object: {}) %>")
  });

  $('.remove-phase').click(function(e) {
    e.preventDefault();
    removeId = e.currentTarget.id.split('-')[1].replace(" ", "-")
    $("#"+removeId).remove();
  });

  var overview = setUpEditor(<%= raw JSON.generate(@description.overview ) %>, "<%= t('view.playbook.form.overview') %>", "playbook-overview");
  var audience = setUpEditor(<%= raw JSON.generate(@description.audience ) %>, "<%= t('view.playbook.form.audience') %>", "playbook-audience");
  var outcomes = setUpEditor(<%= raw JSON.generate(@description.outcomes ) %>, "<%= t('view.playbook.form.outcomes') %>", "playbook-outcomes");
  var form = document.querySelector('#playbook-form');
  form.onsubmit = function(e) {
    $('#playbook_overview').val(JSON.stringify(overview.getContents()));
    $('#playbook_audience').val(JSON.stringify(audience.getContents()));
    $('#playbook_outcomes').val(JSON.stringify(outcomes.getContents()));
    
    $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
  };
</script>
