<%= form_with(model: playbook,  multipart: true, local: true, html: { id: 'playbook-form' }) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :playbook_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= playbook.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.playbook')) %>
  </div>
  
  <fieldset class="custom-file mt-2">
    <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file"/>
    <label class="custom-file-label" for="logo-file">
      <%= t('view.general.logo') %>
    </label>
  </fieldset>

  <fieldset class="form-check mt-2 mb-2">
    <%= form.check_box :maturity, {id: 'use_case_maturity', class: 'form-check-input'}, "Mature", "Beta" %>
    <%= form.label :maturity, t('view.general.is-mature').to_s, class: 'form-check-label' %>
  </fieldset>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.overview') %>
  </h6>

  <%= form.cktext_area :playbook_overview, value: @description.overview.html_safe, id: 'playbook_overview' %>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.audience') %>
  </h6>

  <%= form.cktext_area :playbook_audience, value: @description.audience.html_safe, id: 'playbook_audience' %>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.outcomes') %>
  </h6>

  <%= form.cktext_area :playbook_outcomes, value: @description.outcomes.html_safe, id: 'playbook_outcomes' %>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.phases') %>
    <% if user_signed_in? && policy(Playbook).mod_allowed? %>
      <a href="#" class="card-link float-right" id="add-phase" style="color: #fbab18 !important"><%= t('view.general.add') %></a>
    <% end %>
  </h6>
  <div id="playbook-phases">
    <% @playbook.phases.each do |phase| %>
      <%= render :partial => 'phase', :object => phase %>
    <% end %>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  $('#add-phase').click(function(e) {
    e.preventDefault();
    $("#playbook-phases").append("<%= escape_javascript render(partial: 'phase', object: {}) %>")
  });

  $('.remove-phase').click(function(e) {
    e.preventDefault();
    removeId = e.currentTarget.id.split('-')[1].replace(" ", "-")
    $("#"+removeId).remove();
  });

  var form = document.querySelector('#playbook-form');
  form.onsubmit = function(e) {
    
    $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
  };
</script>
