<% base_path = Rails.env.production? ? '/admin/' : '' %>
<%= form_with(model: playbook,  multipart: true, local: true, html: { id: 'playbook-form' }, url: base_path + playbook_path) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :playbook_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= playbook.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.playbook')) %>
  </div>
  
  <fieldset class="custom-file mt-2">
    <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file"/>
    <label class="custom-file-label" for="logo-file">
      <%= t('view.general.logo') %>
    </label>
  </fieldset>

  <fieldset class="form-check mt-2 mb-2">
    <%= form.check_box :maturity, {id: 'use_case_maturity', class: 'form-check-input'}, "Mature", "Beta" %>
    <%= form.label :maturity, t('view.general.is-mature').to_s, class: 'form-check-label' %>
  </fieldset>

  <div class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.cover') %>
  </div>

  <input type="hidden" id="playbook_cover" name="playbook[playbook_cover]" />
  <div id="cover_editor"> </div>

  <div class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.overview') %>
  </div>

  <input type="hidden" id="playbook_overview" name="playbook[playbook_overview]" />
  <div id="overview_editor"> </div>
  
  <div class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.audience') %>
  </div>

  <input type="hidden" id="playbook_audience" name="playbook[playbook_audience]" />
  <div id="audience_editor"> </div>
  
  <div class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.outcomes') %>
  </div>

  <input type="hidden" id="playbook_outcomes" name="playbook[playbook_outcomes]" />
  <div id="outcomes_editor"> </div>

  <fieldset class="form-label-group mt-2">
    <%= form.text_field :pdf_url, id: :pdf_url,
                        class: "form-control", placeholder: t('view.playbook.form.pdf-url') %>
    <%= form.label :pdf_url, t('view.playbook.form.pdf-url') %>
  </fieldset>
  
  <div class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.playbook.form.phases') %>
    <% if user_signed_in? && policy(Playbook).mod_allowed? %>
      <a href="#" class="card-link float-right" id="add-phase" style="color: #fbab18 !important"><%= t('view.general.add') %></a>
    <% end %>
  </div>
  <div id="playbook-phases">
    <% @playbook.phases.each do |phase| %>
      <%= render :partial => 'phase', :object => phase %>
    <% end %>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => "submit-btn" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  $('#add-phase').click(function(e) {
    e.preventDefault();
    $("#playbook-phases").append("<%= escape_javascript render(partial: 'phase', object: {}) %>")
  });

  $('.remove-phase').click(function(e) {
    e.preventDefault();
    removeId = e.currentTarget.id.split('-')[1].replace(" ", "-")
    $("#"+removeId).remove();
  });

  var form = document.querySelector('#playbook-form');
  form.onsubmit = function(e) {
    
    $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
  };

  var overviewEditor;
  var audienceEditor;
  var outcomesEditor;
  var coverEditor;
  $(document).ready(function() {
    overviewEditor = new FroalaEditor('#overview_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      fontSize: ['8', '9', '10', '11', '12', '14', '15', '16', '18', '20', '24', '30', '36', '48', '60', '72', '96'],
      fontFamily: {
        "Roboto,sans-serif": 'Roboto',
        "Arial": 'Arial',
        "Georgia": 'Georgia',
        "Impact": 'Impact',
        "Tahoma": 'Tahoma',
        "Times New Roman": 'Times New Roman',
        "Verdana": 'Verdana'
      },
      events: {
        'html.set': function() {
          var target = document.querySelector("#simple-editor div[data-component-marker='popover-content']");
          if (target) {
            var mutationObserver = new MutationObserver(function(mutationList) {
              mutationList.forEach(function(mutation) {
                var popover = mutation.target.parentNode.closest("div[data-component-marker='playbook-popover']");
                var content = mutation.target.parentNode.closest("div[data-component-marker='popover-content']");
                popover.setAttribute('data-content', content.innerHTML);
              });
            });
            var config = { subtree: true, attributes: true, childList: true, characterData: true };
            mutationObserver.observe(target, config);
          }
        }
      },
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      overviewEditor.html.set("<%= @description.overview.nil? ? "" : @description.overview
                                                                               .squish
                                                                               .gsub("\"","\\\"")
                                                                               .gsub("</script>","<\\\/script>")
                                                                               .html_safe %>");
    });

    coverEditor = new FroalaEditor('#cover_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      coverEditor.html.set("<%= @description.cover.nil? ? "" : @description.cover.squish.gsub("\"","\\\"").html_safe %>")
    });

    audienceEditor = new FroalaEditor('#audience_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      audienceEditor.html.set("<%= @description.audience.nil? ? "" : @description.audience.squish.gsub("\"","\\\"").html_safe %>")
    });

    outcomesEditor = new FroalaEditor('#outcomes_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      outcomesEditor.html.set("<%= @description.outcomes.nil? ? "" : @description.outcomes.squish.gsub("\"","\\\"").html_safe %>")
    });
  });

  $("#submit-btn").on('click', function(e) {
    var overviewHtml = overviewEditor.html.get()
    $("#playbook_overview").val(overviewHtml)

    var audienceHtml = audienceEditor.html.get()
    $("#playbook_audience").val(audienceHtml)

    var outcomesHtml = outcomesEditor.html.get()
    $("#playbook_outcomes").val(outcomesHtml)

    var coverHtml = coverEditor.html.get()
    $("#playbook_cover").val(coverHtml)
  });
</script>
