<div id='<%= "p_#{page.id}_header" %>' class="card-header card-btn"
        data-toggle="collapse" data-target='#<%= "p_#{page.id}_collapse" %>'>
  <div class="mb-0 float-left font-weight-bold ">
    <%= page.name %>&nbsp;
  </div>
  (<%= page.phase %>)
  <i class="fas fa-plus float-right"></i>
</div>
<div id='<%= "p_#{page.id}_collapse" %>' class="collapse">
  <div class="card-body p-3">
    <div class="border">
      <div id='<%= "p_#{page.id}_viewer" %>' style="height: 300px; overflow-y: hidden;" class="ml-3 mt-2">
        <%= render 'page_content', page_contents: @page_contents, playbook: @playbook %>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="float-right mb-0 p-2">
            <%= link_to t('view.general.view'), playbook_playbook_page_path(@playbook, page),
                        class: "card-link" %>
            <% if user_signed_in? && policy(Playbook).mod_allowed? %>
              <%= link_to t('view.general.edit'), edit_playbook_playbook_page_path(@playbook, page), class: "card-link" %>
            <% end %>
            <% if user_signed_in? && policy(Playbook).mod_allowed? %>
              <%= link_to t('view.playbook-page.index.edit-content'), edit_content_playbook_playbook_page_path(@playbook, page), class: "card-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if !page.child_pages.nil? %>
      <% page.child_pages.each do |child_page| %>
        <div class="ml-3">
          <%= render 'page', page: child_page %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
$("#<%= "p_#{page.id}_collapse" %>").on("show.bs.collapse", function(){
  <% @page_contents = PageContent.find_by(playbook_page_id: page.id, locale: I18n.locale) %>
  $("#<%= "p_#{page.id}_viewer" %>").html("<%= j(render partial: 'page_content', page_contents: @page_contents, playbook: @playbook) %>");
  $('[data-toggle="popover"]').popover();
})
</script>