<div id='<%= !phase["name"].nil? && phase["name"].gsub(" ", "-") %>'>
  <fieldset class="form-label-group inline" style="width:30%;">
    <input type="text" class="form-control" name='playbook[phases[][name]]' value='<%= phase["name"] %>' />
    <label><%= t('view.playbook.form.name') %></label>
  </fieldset>
  <fieldset class="form-label-group inline" style="width:60%;">
    <input type="text" class="form-control" name='playbook[phases[][description]]' value='<%= phase["description"] %>' />
    <label><%= t('view.playbook.form.description') %></label>
  </fieldset>
  <div class="remove-phase inline" id='remove-<%= phase["name"] %>'>
    <button class="btn btn-secondary text-white mb-3"><%= t('view.general.delete') %></button>
  </div>
</div>
