<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <div id='create-pdf', class='btn btn-outline-primary float-right mb-2')>
      <%= "#{t('view.playbook.index.create-pdf')}" %>
    </div>
  </div>
  <div id="loading-spinner" class="col-12 text-muted">
    <div class="spinner-border spinner-border-sm float-right mb-2" role="status">
      <span class="sr-only"><%= "#{t('view.playbook.index.creating-pdf')}" %>...</span>
    </div>
    <div class="float-right mb-2"><%= "#{t('view.playbook.index.creating-pdf')}" %>...</div>
  </div>
</div>

<%= render 'shared/playbooknav', playbook: @playbook %>

<div id="show-playbook">
<div class="card mt-2">
  
    <div class="card-body py-2 px-3">
      <div id="<%= @playbook.slug %>-overview" class="wysiwyg-viewer">
        <%= @description.overview.html_safe %>
      </div>
    </div>
    <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('view.playbook.index.audience') %>:</h5>
    </div>
    <div class="card-body py-2 px-3">
      <div id="<%= @playbook.slug %>-audience" class="wysiwyg-viewer">
      <%= @description.audience.html_safe %>
      </div>
    </div>
    <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('view.playbook.index.outcomes') %>:</h5>
    </div>
    <div class="card-body py-2 px-3">
      <div id="<%= @playbook.slug %>-outcomes" class="wysiwyg-viewer">
      <%= @description.outcomes.html_safe %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('view.playbook.index.phases') %>:</h5>
      </div>
      <div class="card-body p-0">
        <% @playbook.phases.each do |phase| %>
          <div class="ml-5 mt-2 mb-3">
          <strong><%= phase["name"] %>: </strong><%= phase["description"] %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('model.playbook-page').pluralize.titlecase %></h5>
        <% if user_signed_in? && policy(Playbook).mod_allowed? %>
          <%= link_to t('view.general.add'),
                      new_playbook_playbook_page_path(@playbook),
                      class: "card-link float-right", style: "color: #fbab18 !important" %>
        <% end %>
      </div>
      <div class="card-body p-0">
        <% if @pages.count > 0 %>
          <div class="accordion" id='<%= "#{@playbook.slug}_accordion" %>'>
            <% @pages.each do |page| %>
              <div class="card border-right-0 border-left-0 border-bottom-0">
                <div id='<%= "#{page.slug}_header" %>' class="card-header" 
                   data-toggle="collapse" data-target='#<%= "#{page.slug}_collapse" %>'
                   aria-expanded="true" aria-controls='<%= "#{page.slug}_collapse" %>'>
                  <h6 class="mb-0 float-left font-weight-bold <% if page.parent_page_id %>ml-3<% end %>">
                    <%= page.name %>&nbsp;
                  </h6>
                  (<%= page.phase %>)
                  <i class="fa fa-angle-down float-right"></i>
                </div>
                <div id='<%= "#{page.slug}_collapse" %>' class="collapse"
                   aria-labelledby='<%= "#{page.slug}_header" %>'
                   data-parent='#<%= "#{@playbook.slug}_accordion" %>'>
                  <div class="card-body p-3">
                    <div id='<%= "#{page.slug}_viewer" %>' style="height: 300px; overflow-y: hidden;">
                      <% @page_contents = PageContent.find_by(playbook_page_id: page.id, locale: I18n.locale) %>
                      <% if @page_contents %>
                        <% if @page_contents.editor_type == "simple" %>
                          <%= @page_contents.html.html_safe %>
                        <% else %>
                          <%= render 'shared/static_design', playbook: @playbook, page_contents: @page_contents %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="float-right mb-0">
                          <%= link_to t('view.general.view'), playbook_playbook_page_path(@playbook, page),
                                      class: "card-link" %>
                          <% if user_signed_in? && policy(Playbook).mod_allowed? %>
                            <%= link_to t('view.general.edit'), edit_playbook_playbook_page_path(@playbook, page), class: "card-link" %>
                          <% end %>
                          <% if user_signed_in? && policy(Playbook).mod_allowed? %>
                            <%= link_to t('view.playbook-page.index.edit-content'), edit_content_playbook_playbook_page_path(@playbook, page), class: "card-link" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <% else %>
            <div class="alert alert-light mb-0" role="alert">
              <%= t('view.playbook.index.no-page') %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card mt-2">
      
      <div class="card-footer border-0">
        <div class="float-right mb-0">
          <% if user_signed_in? && policy(Playbook).mod_allowed? %>
            <%= link_to t('view.general.edit'), edit_playbook_path(@playbook), class: "card-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    $("#loading-spinner").hide()

    $("#create-pdf").click(function () {
      url = "/playbooks/<%= @playbook.slug %>/create_pdf"
      fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json; charset=utf-8'
        },
      })
      .then(response => response.blob())
      .then(response => {
          $("#loading-spinner").hide()
          filename = "<%= @playbook.slug %>.pdf"
          const blob = new Blob([response], {type: 'application/pdf'});
          const downloadUrl = URL.createObjectURL(blob);
          const a = document.createElement("a");
          a.href = downloadUrl;
          a.download = filename;
          document.body.appendChild(a);
          a.click();
      });
      
      $("#loading-spinner").show()
    })
    
    $(document).on("turbolinks:load", function() {
      $('[data-toggle="popover"]').popover()
    });
</script>