<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="container-fluid">
  <%= image_tag(@playbook.image_file, class: 'card-img-top align-middle inline', skip_pipeline: true) %>
  <h5 class="inline"><%= @playbook.name %></h5>
</div>

<div id="show-playbook">
<div class="card mt-2">
  
    <div class="card-body py-2 px-3">
      <div id="<%= @playbook.slug %>-overview" class="wysiwyg-viewer">
        <%= @description.overview.html_safe %>
      </div>
    </div>
    <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('view.playbook.index.audience') %>:</h5>
    </div>
    <div class="card-body py-2 px-3">
      <div id="<%= @playbook.slug %>-audience" class="wysiwyg-viewer">
        <%= @description.audience.html_safe %>
      </div>
    </div>
    <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('view.playbook.index.outcomes') %>:</h5>
    </div>
    <div class="card-body py-2 px-3">
      <div id="<%= @playbook.slug %>-outcomes" class="wysiwyg-viewer">
      <%= @description.outcomes.html_safe %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('view.playbook.index.phases') %>:</h5>
      </div>
      <div class="card-body p-0">
        <% @playbook.phases.each do |phase| %>
          <div class="ml-5 mt-2 mb-3">
          <strong><%= phase["name"] %>: </strong><%= phase["description"] %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('model.activity').pluralize.titlecase %></h5>
      </div>
      <div class="card-body p-0">
        <% if @playbook.activities.count > 0 %>
          <div class="accordion" id='<%= "#{@playbook.slug}_accordion" %>'>
            <% @playbook.activities.each do |activity| %>
              <div class="card border-right-0 border-left-0 border-bottom-0">
                <div id='<%= "#{activity.slug}_header" %>' class="card-header" 
                   data-toggle="collapse" data-target='#<%= "#{activity.slug}_collapse" %>'
                   aria-expanded="true" aria-controls='<%= "#{activity.slug}_collapse" %>'>
                  <h6 class="mb-0 float-left font-weight-bold">
                    <%= activity.name %>&nbsp;
                  </h6>
                  (<%= activity.phase %>)
                </div>
                <div class="card-body p-3">
                  <div id='<%= "#{activity.slug}_viewer" %>'>
                    <%= activity.description %>
                  </div>
                </div>
                <div class="card-body p-0">
                  <% activity.resources.each do |resource| %>
                    <div class="ml-4 mt-2">
                    <strong><%= resource["name"] %>: </strong><%= resource["description"] %>
                    </div>
                    <div class="ml-5 mb-3">
                    <a href="<%= resource["url"] %>"><%= resource["url"] %></a>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header border-0">
                  <h5 class="float-left mb-0 font-weight-bold"><%= t('model.task').pluralize.titlecase %></h5>
                </div>
                <div class="card-body p-0">
                  <% if activity.tasks.count > 0 %>
                    <div class="accordion" id='<%= "#{activity.slug}_accordion" %>'>
                      <% activity.tasks.each do |task| %>
                        <div class="card border-right-0 border-left-0 border-bottom-0">
                          <h6 class="mb-0 float-left font-weight-bold">
                            <%= task.name %>
                          </h6>
                          <div id='<%= "#{task.slug}_collapse" %>' >
                            <div class="card-body p-3">
                              <div id='<%= "#{task.slug}_viewer" %>'>
                                <%= task.description %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="alert alert-light mb-0" role="alert">
                      <%= t('view.activity.index.no-data') %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% else %>
            <div class="alert alert-light mb-0" role="alert">
              <%= t('view.playbook.index.no-activity') %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-footer border-0">
        <div class="float-right mb-0">
          <% if user_signed_in? && policy(Playbook).mod_allowed? %>
            <%= link_to t('view.general.edit'), edit_playbook_path(@playbook), class: "card-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
