<% base_path = Rails.env.production? ? '/admin/' : '' %>
<% description = @maturity_rubric.maturity_rubric_descriptions
                                 .select { |desc| desc.locale == I18n.locale.to_s }
                                 .first %>
<%= form_with(model: maturity_rubric, local: true, html: { id: 'maturity-rubric-form' }, url: base_path + maturity_rubric_path) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :maturity_rubric_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= maturity_rubric.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.maturity-rubric')) %>
  </div>

  <label for="maturity-rubric-description">
    <%= t('view.maturity-rubric.form.description') %>
  </label>

  <input type="hidden" id="rubric_desc" name="maturity_rubric[mr_desc]" />
  <div id="rubric_desc_editor"> </div>
  
  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => 'submit-btn' %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  $("#submit-btn").on('click', function(e) {
    var descHtml = descEditor.html.get()
    $("#rubric_desc").val(descHtml)
  });

  var descEditor;
  $(document).ready(function() {
    descEditor = new FroalaEditor('#rubric_desc_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      descEditor.html.set("<%= description.nil? ? "" : description.description.squish.gsub("\"","\\\"").html_safe %>")
    });
  });

</script>
