<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <% if user_signed_in? && policy(MaturityRubric).mod_allowed? %>
      <%= link_to(new_maturity_rubric_path, class: 'btn btn-outline-primary float-left') do %>
        <%= "#{t('view.general.create')} #{t('model.maturity-rubric').to_s.titlecase}" %>
      <% end %>
    <% end %>
    <div class="form-group float-right mb-0">
      <%= form_tag(maturity_rubrics_path, method: "get", id: "search-form", class: "form-inline") do %>
        <%= text_field_tag :search, params[:search], class: "form-control rubric-search",
            placeholder: t('view.general.search-placeholder', model: t('model.maturity-rubric').to_s.pluralize) %>
        <div class="input-group-append">
          <%= submit_tag t('view.general.search'), class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="maturity-rubric-list" data-current-page="1">
  <%= render @maturity_rubrics %>
</div>

