<%= form_with(model: glossary, local: true, html: { id: 'glossary-form' }) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :glossary_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= glossary.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.glossary')) %>
  </div>

  <input type="hidden" id="glossary_desc" name="glossary[description]" />
  <div id="glossary_desc_editor"></div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => 'submit-btn' %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  var descEditor;

  $(document).ready(function() {
    descEditor = new FroalaEditor('#glossary_desc_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      descEditor.html.set("<%= glossary.description.nil? ? "" : glossary.description.squish.gsub("\\\"","\"").gsub("\"","\\\"").html_safe %>")
    });
  });

  $("#submit-btn").on('click', function(e) {
    var descHtml = descEditor.html.get()
    $("#glossary_desc").val(descHtml)
  });
</script>

