<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card">
  <div class="card-body px-3 py-3">
    <div>
      <%= "#{t('model.glossary').to_s.titlecase}: #{@glossary.name}" %>
    </div>
    <div id="glossary-viewer" class="wysiwyg-viewer">
      <%= @glossary.description.html_safe %>
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), glossaries_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@glossary).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_glossary_path(@glossary), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>
