<%
  hidden_class = 'd-none d-md-block'
  if (context == 'top-summary' && index < max_nav) ||
     (context == 'drop-summary' && index >= max_nav)
    hidden_class = 'd-block'
  end
%>

<div class="list-group-item w-100 text-center bg-transparent <%= hidden_class %>">
  <%= link_to building_blocks_path do %>
    <%
      btn_class = 'btn-secondary'
      if current_page?(:controller => 'building_blocks', :action => 'index')
        btn_class = 'btn-warning'
      end
    %>
    <span class="w-100 btn <%= btn_class %>">
      <%= image_tag "building_blocks_icon.png", :width => "20px", :height => "20px" %>
      <span class="d-none d-xl-inline-block">
        <%= t('model.building-block').titlecase.pluralize %>
      </span>
      <span class="bb-badge badge badge-light">--</span>
    </span>
  <% end %>
</div>
