<%
  hidden_class = 'd-none d-md-block'
  if (context == 'top-summary' && index < max_nav) ||
     (context == 'drop-summary' && index >= max_nav)
    hidden_class = 'd-block'
  end
%>

<div class="list-group-item w-100 text-center bg-transparent <%= hidden_class %>">
  <%= link_to organizations_path do %>
    <%
      btn_class = 'btn-secondary'
      if current_page?(:controller => 'organizations', :action => 'index')
        btn_class = 'btn-warning'
      end
    %>
    <span class="w-100 btn <%= btn_class %>">
      <div class="inline" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('model.organization').titlecase.pluralize %>">
        <%= image_tag "organizations_icon.png", :width => "20px", :height => "20px" %>
      </div>
      <span class="display-text-on-xl">
        <%= t('model.organization').titlecase.pluralize %>
      </span>
      <span class="org-badge badge badge-light">--</span>
    </span>
  <% end %>
</div>


