<%= form_with(model: use_case, local: true) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :use_case_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= use_case.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.use-case')) %>
  </div>

  <fieldset class="form-group">
    <%= form.label :sector_id, t('model.sector').to_s.titlecase %>
    <% options = options_from_collection_for_select(@sectors, 'id', 'name', use_case.sector_id) %>
    <%= form.select :sector_id, options, {}, :class => "form-control mb-2" %>
  </fieldset>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0">
    <%= t('view.use-case.form.assigned-sdg-targets') %>
  </h6>
  <fieldset class="form-label-group mt-2">
    <input type="text" id="sdg-target-search" class="form-control"
           placeholder="<%= t('view.use-case.form.search-sdg-targets') %>" />
    <label for="use-case-sdg-target">
      <%= t('view.use-case.form.search-sdg-targets') %>
    </label>
  </fieldset>

  <div class="row">
    <div id="base-selected-sdg-targets" class="col-6 col-lg-4 mb-2">
      <div class="card h-100">
        <div class="p-2 clearfix">
          <p class="mb-0 float-left"></p>
            <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
            </a>
          <input type="hidden"/>
        </div>
      </div>
    </div>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0">
    <%= t('view.multi-select.assigned.title', model: t('model.workflow').to_s.pluralize.humanize) %>
  </h6>

  <fieldset class="form-label-group mt-2">
    <input type="text" id="workflow-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.label', model: t('model.workflow').to_s.pluralize) %>" />
    <label for="use-case-workflow">
      <%= t('view.multi-select.assigned.label', model: t('model.workflow').to_s.pluralize) %>
    </label>
  </fieldset>

  <div class="row">
    <div id="base-selected-workflows" class="col-6 col-lg-4 mb-2">
      <div class="card h-100">
        <div class="p-2 clearfix">
          <p class="mb-0 float-left"></p>
            <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
            </a>
          <input type="hidden"/>
        </div>
      </div>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  <% use_case.sdg_targets.order("target_number").each do |sdg_target| %>
    addSdgTarget('<%= sdg_target.id %>', '<%= sdg_target.name %>');
  <% end %>
  <% use_case.workflows.order("name").each do |workflow| %>
    addWorkflow('<%= workflow.id %>', '<%= workflow.name %>');
  <% end %>
</script>
