
<div class="col-lg-5ths col-md-4 d-flex mt-2">
  <div class="card w-100 index-card">
    <div class="card-header bg-secondary text-white small truncate-parent">
      <%= link_to use_case.name, use_case, class: 'truncate-text',
          'title' => use_case.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    </div>
    <div class="model-logo">
      <i class="favorite-indicator" style="z-index:9;"
         data-slug="<%= use_case.slug %>"
         data-favorited="<%= current_user.saved_use_cases.include?(use_case.id) %>"
         data-toggle="tooltip"
         data-placement="top" data-original-title="<%= t('view.use-case.index.add_favorite') %>"></i>
      <%= link_to(use_case) do %>
        <%= image_tag(use_case.image_file, class: 'card-img-top align-middle px-2 py-2 use-case-filter') %>
      <% end %>
    </div>

    <div class="card-footer footer-padding">
      <%
        sdg_targets = uc_footer(use_case, 'sdg_targets')
        if sdg_targets.count > 0
          content = "<div class='footer-row mb-2' data-toggle='popover' data-placement='bottom'
                          data-html='true' data-content='#{uc_footer_popover(sdg_targets, 'view.use-case.index.sdg-target-popover')}'>"
          concat(content.html_safe)

          sdg_targets.each do |sdg_target|
            concat(image_tag(sdg_target[:filename], title: sdg_target[:tooltip],
                             class: 'footer-img mr-1', 'data-toggle': 'tooltip', 'data-placement': 'top'))
          end
          concat('</div>'.html_safe)
        end

        workflows = uc_footer(use_case, 'workflows')
        if workflows.count > 0
          content = "<div class='footer-row' data-toggle='popover' data-placement='bottom'
                          data-html='true' data-content='#{uc_footer_popover(workflows, 'view.use-case.index.workflow-popover')}'>"
          concat(content.html_safe)
          workflows.each do |workflow|
            concat(image_tag(workflow[:filename], title: workflow[:tooltip],
                             class: 'footer-img-small mr-1 workflow-filter', 'data-toggle': 'tooltip', 'data-placement': 'top'))
          end

          # When we have image for each workflow, we can use the following code.
          # workflows.each do |workflow|
          #   concat(image_tag(workflow[:filename], title: workflow[:tooltip],
          #                   class: 'footer-img', 'data-toggle': 'tooltip', 'data-placement': 'top'))
          # end
          concat('</div>'.html_safe)
        end

        if workflows.count == 0
          content = '<div class="footer-row"></div>'
          concat(content.html_safe)
        end

        if sdg_targets.count == 0
          content = '<div class="footer-row mb-2"></div>'
          concat(content.html_safe)
        end
      %>
      <div class="float-right mb-1">
        <% if use_case.maturity == "Beta" %>
          <span class='badge badge-warning'><%= use_case.maturity %></span>
        <% else %>
          <span class='badge badge-success'><%= use_case.maturity %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
