<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-6">
    <% if user_signed_in? && policy(UseCase).mod_allowed? %>
      <%= link_to t('view.general.create'), new_use_case_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>

<div class="row">
  <% if @use_cases.count > 0 %>
    <% @use_cases.each do |use_case| %>
      <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
        <div class="card index-card">
          <div class="card-header bg-secondary text-white small">
            <%= link_to truncate(use_case.name, length: 23, omission: '&hellip;', escape: false), use_case,
                'title' => use_case.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          </div>
          <div class="model-logo">
            <%= link_to(use_case) do %>
              <%= image_tag(use_case.image_file, class: 'card-img-top align-middle') %>
            <% end %>
          </div>

          <div class="card-footer">
            <small>
              <div class="row">
                <div class="col-12">
                  <%= "#{use_case.workflows.size} #{t('model.workflow').to_s.pluralize(use_case.workflows.size)}" %>,
                </div>
                <div class="col-12">
                  <%= "#{use_case.sdg_targets.size}  #{t('model.sdg_target').to_s.pluralize(use_case.sdg_targets.size)}" %>
                </div>
              </div>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
