<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div id="uc-more" class="hidden">
    <section class="hero bg-secondary mb-2 ml-3 mr-3">
      <div class="col-12 ml-4 mt-2 text-white">
        <div><strong><%= t('model.use-case').to_s.titleize.pluralize %></strong></div>
        <div id="uc-desc">
          <p class="mr-4"><%= t('view.use-case.index.definition').to_s %></p>
          <strong><%= t('view.general.characteristics').to_s %></strong>
          <ul>
            <% t('view.use-case.index.characteristics').each_line do |point| %>
              <li><%= point %></li>
            <% end %>
          </ul>
          <strong><%= t('view.general.description').to_s %></strong>
          <p class="mr-4"><%= t('view.use-case.index.description').to_s %></p>
        </div>
        <a href="#" id="uc-show-less" class="uc-show-hide hidden">
          <p class="float-left"><%= t('view.general.show-less').to_s %></p>
        </a>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="float-left">
      <a href="#" class="uc-show-hide small" id="uc-show-more">
        <%= t('view.general.show-use-case').to_s %>
      </a>
      <fieldset class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="mature-only">
        <label class="form-check-label" for="mature-only"><%= t('view.use-case.index.mature_only') %></label>
      </fieldset>
    </div>
    <div class="float-right">
      <% if user_signed_in? && policy(UseCase).create_allowed? %>
        <%= link_to t('view.general.create'), new_use_case_path, :class => 'small ml-1' %>
        <span class="small mr-1">&nbsp;|</span>
        <%= link_to t('view.organization.index.view-audit').titlecase,
                    audits_path(type: "UseCase"), class: 'small mr-1' %>
        <span class="small mr-1">&nbsp;|</span>
        <%= link_to "#{t('view.organization.index.view-audit')} for step".titlecase,
                    audits_path(type: "UseCaseStep"), class: 'small mr-1' %>
        <span class="small mr-1">&nbsp;|</span>
      <% end %>
      <%= link_to t('view.use-case.index.export-json'),
                  export_data_use_cases_path(format: 'json'),
                  target: :_blank, class: 'small mr-1' %>
      <span class="small mr-1">&nbsp;|</span>
      <%= link_to t('view.use-case.index.export-csv'),
                  export_data_use_cases_path(format: 'csv'),
                  target: :_blank, class: 'small mr-1' %>
    </div>
  </div>
</div>

<div id="current-list">
  <div id="use-case-list" class="row">
    <%= render @use_cases%>
  </div>
</div>

<script>
  $(".uc-show-hide").on('click', function(e) {
    e.preventDefault()
    $("#uc-more").toggleClass('hidden')
    $("#uc-show-more").toggleClass('hidden')
    $("#uc-show-less").toggleClass('hidden')
  });

  $(".model-logo").on({
    mouseenter: function() {
      const indicator = $(this).find(".favorite-indicator");
      const favorited = $(indicator).attr("data-favorited");
      if (favorited === "true") {
        indicator.addClass("fas fa-check-circle text-success");
      } else {
        indicator.addClass("fas fa-plus-circle");
      }
      indicator.fadeIn();
    },
    mouseleave: function() {
      $(this).find(".favorite-indicator").fadeOut();
    }
  });

  $(".favorite-indicator").each(function(index, element) {
    $(element).on("click", function(event) {
      const slug = $(element).attr("data-slug");
      const favorited = $(element).attr("data-favorited");

      let path = "favorite_use_case";
      let message = "<%= t('view.notification.favorite-save-notification') %>";
      if (favorited === "true") {
        path = "unfavorite_use_case";
        message = "<%= t('view.notification.favorite-remove-notification') %>";
      }

      $.post(`/use_cases/${slug}/${path}`, function(data) {
        $("#notifier").trigger({
          type: "notify",
          message: message
        });
        const parent = $(element).parent();
        $(element).attr("data-favorited", favorited === "true" ? "false" : "true");
        if (favorited !== "true") {
          $(element).removeClass("fa-plus-circle");
          $(element).addClass("fa-check-circle text-success");
        } else {
          $(element).removeClass("fa-check-circle text-success");
          $(element).addClass("fa-plus-circle");
        }
      });
    });
  });

  $(".favorite-context-menu").each(function(index, element) {
    $(element).on("click", function(event) {
      event.preventDefault();
      const slug = $(element).attr("data-slug");
      const favorited = $(element).attr("data-favorited");
  
      let path = "favorite_use_case";
      let message = "<%= t('view.notification.favorite-save-notification') %>";
      if (favorited === "true") {
        path = "unfavorite_use_case";
        message = "<%= t('view.notification.favorite-remove-notification') %>";
      }

      $.post(`/use_cases/${slug}/${path}`, function(data) {
        $("#notifier").trigger({
          type: "notify",
          message: message
        });
        const parent = $(element).parent();
        $(element).attr("data-favorited", favorited === "true" ? "false" : "true");
        if (favorited !== "true") {
          $(element).text("<%= t('view.general.remove-favorite') %>");
        } else {
          $(element).text("<%= t('view.general.add-favorite') %>");
        }
      });
    });
  });
</script>
