<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card">
  <div class="bg-secondary text-white card-header">
    <h5 class="float-left mb-0">
      <%= "#{t('model.use-case').to_s.titlecase}: #{@use_case.name}" %>
    </h5>
  </div>
  <div class="card-body">
    <p class="card-subtitle text-muted mb-0" >
      <strong><%= t('view.use-case.show.description') %>: </strong><%= @useCaseJson.desc %>
    </p>
    <p class="card-subtitle text-muted mt-3" >
      <strong><%= t('model.sector').to_s.titlecase %>: </strong><%= @sector_name %>
    </p>
    <% if @useCaseJson.steps %>
    <p class="card-subtitle text-muted mt-3" ><strong><%= t('view.use-case.show.steps') %>:</strong></p>
      <ul>
      <% @useCaseJson.steps.each do |step| %>
        <li class="text-muted"><%= step %>
      <% end %>
      </ul>
    <% end %>
    <div class="float-right" >
      <%= link_to 'Back', use_cases_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@use_case).mod_allowed? %>
        <%= link_to 'Edit', edit_use_case_path(@use_case), :class => "card-link" %>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('view.use-case.show.sdg-targets') %></h5>
  </div>
  <% if @use_case.sdg_targets.count > 0 %>
    <div class="row">
      <% @use_case.sdg_targets.order("target_number").each do |sdg_target| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <%= image_tag(sdg_target.image_file, class: 'card-img-top mx-auto w-25 px-0 pt-2 pb-0') %>
            <div class="card-body pb-2 pt-2">
              <p class="card-text mb-0" style="flex: 1"><%= sdg_target.target_number %></p>
              <p class="card-text text-muted mb-1" style="flex: 1"><%= sdg_target.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted"><%= t('view.use-case.show.no-sdg-targets') %></p>
  <% end %>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.workflow').to_s.pluralize.titlecase%></h5>
  </div>
  <% if @use_case.workflows.count > 0 %>
    <div class="row">
      <% @use_case.workflows.order("name").each do |workflow| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body px-1 py-1">
              <%= image_tag(workflow.image_file, class: 'footer-img') %>
              <span class="card-text text-muted mt-2">
                <%= link_to workflow.name, workflow %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.use-case'), multi: t('model.workflow').to_s.pluralize) %>
    </p>
  <% end %>
</div>
