<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-8 mb-2">
    <% if user_signed_in? && policy(UseCase).mod_allowed? %>
      <%= link_to  t('view.general.delete-with-model', model: t('model.use-case').titlecase), @use_case,
                  method: :delete, data: { confirm: t('view.general.delete-confirmation', model: t('model.use-case')) },
                  class: 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="bg-secondary text-white card-header">
    <h5 class="float-left mb-0">
      <%= "#{t('model.use-case').to_s.titlecase}: #{@use_case.name}" %>
    </h5>
    <div class="float-right mr-2 text-white"> 
      <%= t('view.use-case.index.maturity').to_s %>:
      <%= @use_case.maturity %>
    </div>
  </div>
  <%= image_tag(@use_case.image_file, class: 'card-img-top px-2 py-2 mx-auto use-case-filter', style: 'width: auto; height: 250px;') %>
  <div class="card-body">
    <div id="usecase-viewer" class="wysiwyg-viewer">
    </div>
    <div class="row">
      <div class="col-4">
        <% if !@use_case.tags.empty? %>
            <small class="font-italic pl-3">
            <%= t('model.tag').titlecase.pluralize %>:
            <%= @use_case.tags.join(", ") %>
            </small>
        <% end %>
      </div>
      <div class="offset-4 col-4">
        <p class="float-right mb-0" >
          <%= link_to t('view.general.back'), use_cases_path, :class => "card-link" %>
          <% if user_signed_in? && policy(@use_case).mod_allowed? %>
            <%= link_to t('view.general.edit'), edit_use_case_path(@use_case), :class => "card-link" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<% if @use_case.sdg_targets.count > 0 %>
  <div class="mt-2">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('view.use-case.show.sdg-targets') %></h5>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <% @use_case.sdg_targets.order("target_number").each do |sdg_target| %>
          <%= image_tag(sdg_target.image_file, height: '100rem', title: "#{sdg_target.target_number} #{sdg_target.name}") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="mt-2">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <div class="row">
      <div class="col-12">
        <h5 class="float-left mb-0"><%= t('view.use-case.show.use-case-steps') %></h5>
        <h5 class="float-right mb-0">
          <%= link_to t('view.general.add'), new_use_case_use_case_step_path(@use_case), class: "card-link text-warning small" %>
        </h5>
      </div>
    </div>
    <% if !@ucs_header.header.empty? %>
      <div class="row">
        <div id="usecasesteps-header" class="wysiwyg-viewer"></div>
      </div>
    <% end %>
  </div>
  <% if @use_case.use_case_steps.count > 0 %>
    <div class="row">
      <% @use_case.use_case_steps.order("step_number").each_with_index do |use_case_step, index| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <%= link_to(use_case_use_case_step_path(@use_case, use_case_step), class: 'card-link') do %>
                <%= "#{index + 1}. #{use_case_step.name}" %>
              <% end %>
              <div class="row mt-2">
                <div class="col-12">
                  <small class="workflow-color"><%= t('model.workflow').to_s.pluralize.titlecase %>:</small>
                  <% use_case_step.workflows.each do |workflow| %>
                    <%= link_to(workflow, style: 'text-decoration: none;') do %>
                      <%= image_tag(workflow.image_file, class: 'footer-img mr-1 workflow-filter', title: workflow.name, 'data-toggle': 'tooltip', 'data-placement': 'top') %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-12">
          <small class="text-muted"><%= t('view.use-case-step.show.no-data') %></small>
      </div>
    </div>
  <% end %>
</div>

<% if @use_case.use_case_steps.count > 0
     workflows = []
     @use_case.use_case_steps.each do |use_case_step|
       workflows = workflows | use_case_step.workflows 
     end

     building_blocks = []
     workflows.sort_by{|workflow| workflow.name.downcase }.each do |workflow|
       building_blocks = building_blocks | workflow.building_blocks
     end
   end
%>
  <div class="mt-2">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.building-block').to_s.titlecase.pluralize %></h5>
    </div>
    <% if !building_blocks.nil? %>
      <div class="row mt-2">
        <div class="col-12">
          <div class="card h-100">
            <div class="card-body py-2">
              <% !building_blocks.nil? && building_blocks.sort_by{|building_block| building_block.name.downcase }.each do |building_block| %>
                <%= link_to(building_block, style: 'text-decoration: none;') do %>
                  <%= image_tag(building_block.image_file, class: 'footer-img mr-1', title: building_block.name, 'data-toggle': 'tooltip', 'data-placement': 'top') %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-12">
            <small class="text-muted"><%= t('view.building-block.show.no-data') %></small>
        </div>
      </div>
    <% end %>
  </div>

<script>
  setUpViewer(<%= raw JSON.generate(@uc_desc.description) %>, 'usecase-viewer')
  <% if !@ucs_header.header.empty? %>
    setUpViewer(<%= raw JSON.generate(@ucs_header.header) %>, 'usecasesteps-header')
  <% end %>
</script>
