<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @deploys.count > 0 %>
      <% @deploys.each do |deploy| %>
        <tr>
          <td><%= deploy.instance_name %></td>
          <td><%= deploy.status %></td>
          <td><%= link_to deploy.url, "#{deploy.url}", target: :_blank %></td>
          <td class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Action</a>
              <div class="dropdown-menu">
              <%= link_to 'View', deploy_path(deploy.id), :class =>"dropdown-item"  %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Delete', deploy_path(deploy.id), method: :delete, data: { confirm: 'Are you sure?' }, :class =>"dropdown-item"  %>
              </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <small class="text-muted">
          <% if @message %>
            <p><%= @message %></p>
          <% else %>
            <p>No products have been deployed for the current user</p>
          <% end %>
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>