<link rel="stylesheet" type="text/css" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" />
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic&subset=latin,vietnamese,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek' rel='stylesheet' type='text/css'>

<%= form_with(model: @page_contents, url: save_design_playbook_playbook_page_path, local: true, html: { id: 'page-form' }) do |form| %>
<div id='<%= !@page_contents["name"].nil? && @page_contents["name"].gsub(" ", "-") %>'>
  <fieldset class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="editor_type" name="editor_type">
    <label class="form-check-label" for="editor-type"><%= t('view.playbook-page.form.editor-type') %></label>
  </fieldset>

  <input type="hidden" id="page_content" name="page_content" />
  <div id="simple-editor">
  </div>

  <div id="page-builder" class="hidden">
    <%= render('/playbook_pages/designer/grapes_style.css') %>

    <div id="gjs" style="height:0px; overflow:hidden"></div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => "submit-btn" %>
    <%= button_tag t('view.general.back'), :class => "btn btn-outline-secondary", type: "submit", name: "cancel", value: true %>
  </fieldset>

</div>
<% end %>

<script src="https://unpkg.com/grapesjs"></script>
<script src="https://unpkg.com/grapesjs-preset-webpage"></script>
<script src="https://unpkg.com/grapesjs-lory-slider"></script>
<script src="https://unpkg.com/grapesjs-tabs"></script>
<script src="https://unpkg.com/grapesjs-custom-code"></script>
<script src="https://unpkg.com/grapesjs-touch"></script>
<script src="https://unpkg.com/grapesjs-parser-postcss"></script>
<script src="https://unpkg.com/grapesjs-tooltip"></script>
<script src="https://unpkg.com/grapesjs-tui-image-editor"></script>
<script src="https://unpkg.com/grapesjs-typed"></script>
<script src="https://unpkg.com/grapesjs-style-bg"></script>
<script src="https://unpkg.com/toastr"></script>
<script src="https://nribeka.gitlab.io/js/grapesjs-custom-tooltip.min.js"></script>
<script type="text/javascript" defer>
  <%= render('/playbook_pages/designer/show_design.js') %>
</script>

<script defer>
  var simpleEditor;
  var grapesEditor;

  $(document).ready(function() {
    initializeEditors();

    simpleEditor = new FroalaEditor('#simple-editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      htmlRemoveTags: [],
      events: {
        'html.set': function() {
          var target = document.querySelector("#simple-editor div[data-component-marker='popover-content']");
          if (target) {
            var mutationObserver = new MutationObserver(function(mutationList) {
              mutationList.forEach(function(mutation) {
                var popover = mutation.target.parentNode.closest("div[data-component-marker='playbook-popover']");
                var content = mutation.target.parentNode.closest("div[data-component-marker='popover-content']");
                popover.setAttribute('data-content', content.innerHTML);
              });
            });
            var config = { subtree: true, attributes: true, childList: true, characterData: true };
            mutationObserver.observe(target, config);
          }
        }
      },
      fontFamily: {
        "Roboto,sans-serif": 'Roboto',
        "Arial": 'Arial',
        "Georgia": 'Georgia',
        "Impact": 'Impact',
        "Tahoma": 'Tahoma',
        "Times New Roman": 'Times New Roman',
        "Verdana": 'Verdana'
      },
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      simpleEditor.html.set("<%= @page_contents.html.nil? ? "" : @page_contents.html
                                                                               .squish
                                                                               .gsub("\"","\\\"")
                                                                               .gsub("</script>","<\\\/script>")
                                                                               .html_safe %>");
    });

    if ("<%= @page_contents.editor_type %>" == "simple") {
      $("#editor_type").removeAttr('checked');
    } else {
      $("#editor_type").attr('checked', 'true');
      $("#simple-editor").toggleClass('hidden')
      $("#page-builder").toggleClass('hidden')
    }
  });

  $("#submit-btn").on('click', function(e) {
    var html = simpleEditor.html.get();
    $("#page_content").val(html);
    
    if ($("#editor_type").is(':checked')) {
      grapesEditor.store();
    } 
  })

  $("#editor_type").on('click', function() {
    if ($("#editor_type").is(':checked')) {
      // Update the page builder with the current simple layout
      var html = simpleEditor.html.get()
      grapesEditor.setComponents(html);
    } else {
      // Update the simple editor with the current page builder
      var html = grapesEditor.getHtml();
      var css = grapesEditor.getCss();
      var content = "<style>"+css+"</style>"+html
      simpleEditor.html.set(content);
    }
    $("#simple-editor").toggleClass('hidden')
    $("#page-builder").toggleClass('hidden')
  })

  function initializeEditors() {
    if (typeof toastr === 'undefined') {
      setTimeout(initializeEditors, 500);
    } else {
      grapesEditor = initGrapes();
    }
  }
</script>
