<link rel="stylesheet" type="text/css" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" />

<%= form_with(model: @page_contents, url: save_design_playbook_playbook_page_path, local: true, html: { id: 'page-form' }) do |form| %>
<div id='<%= !@page_contents["name"].nil? && @page_contents["name"].gsub(" ", "-") %>'>
  <fieldset class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="editor_type" name="editor_type">
    <label class="form-check-label" for="editor-type"><%= t('view.playbook-page.form.editor-type') %></label>
  </fieldset>

  <input type="hidden" id="page_content" name="page_content" />
  <div id="simple-editor">
  </div>

  <div id="page-builder" class="hidden">
    <%= render('/playbook_pages/designer/grapes_style.css') %>

    <div id="gjs" style="height:0px; overflow:hidden"></div>

  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => "submit-btn" %>
    <%= button_tag t('view.general.back'), :class => "btn btn-outline-secondary", type: "submit", name: "cancel", value: true %>
  </fieldset>

</div>
<% end %>

<script src="https://unpkg.com/grapesjs"></script>
<script src="https://unpkg.com/grapesjs-preset-webpage"></script>
<script src="https://unpkg.com/grapesjs-lory-slider"></script>
<script src="https://unpkg.com/grapesjs-tabs"></script>
<script src="https://unpkg.com/grapesjs-custom-code"></script>
<script src="https://unpkg.com/grapesjs-touch"></script>
<script src="https://unpkg.com/grapesjs-parser-postcss"></script>
<script src="https://unpkg.com/grapesjs-tooltip"></script>
<script src="https://unpkg.com/grapesjs-tui-image-editor"></script>
<script src="https://unpkg.com/grapesjs-typed"></script>
<script src="https://unpkg.com/grapesjs-style-bg"></script>
<script src="https://unpkg.com/toastr"></script>
<script src="https://nribeka.gitlab.io/js/grapesjs-custom-tooltip.min.js"></script>
<script type="text/javascript" defer>
  <%= render('/playbook_pages/designer/show_design.js') %>
</script>

<script defer>
  $(document).ready(function() {
    initializeEditors();

    simpleEditor = new FroalaEditor('#simple-editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      simpleEditor.html.set("<%= @page_contents.html.nil? ? "" : @page_contents.html.squish.gsub(/<script.*?>[\s\S]*<\/script>/i, "").gsub("\"","\\\"").gsub("\'","\\\'").html_safe %>")
    });

    if ("<%= @page_contents.editor_type %>" == "simple") {
      $("#editor_type").removeAttr('checked');
    } else {
      $("#editor_type").attr('checked', 'true');
      $("#simple-editor").toggleClass('hidden')
      $("#page-builder").toggleClass('hidden')
    }
  })

  $("#submit-btn").on('click', function(e) {
    var html = simpleEditor.html.get()
    $("#page_content").val(html)
    
    if ($("#editor_type").is(':checked')) {
      $(".fa-save").click()
    } 
  })

  $("#editor_type").on('click', function() {
    if ($("#editor_type").is(':checked')) {
      // Update the page builder with the current simple layout
      var html = simpleEditor.html.get()
      grapesEditor.setComponents(html);
    } else {
      // Update the simple editor with the current page builder
      var html = grapesEditor.getHtml();
      simpleEditor.html.set(html);
    }
    $("#simple-editor").toggleClass('hidden')
    $("#page-builder").toggleClass('hidden')
  })

  function initializeEditors() {
    if (typeof toastr === 'undefined') {
      setTimeout(initializeEditors, 500);
    } else {
      initGrapes();
    }
  }
</script>
