<div class="col-lg-5ths col-md-4 w-100 mt-2">
  <div class="card index-card small">
    <div class="card-header bg-secondary text-white truncate-parent">
      <%= link_to play.name, play, class: 'truncate-text',
        'title' => play.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    </div>
    <div class="play-logo-frame ml-2 mt-2">
      <%= link_to(play) do %>
        <%= t('view.play.index.description') %>
        <br>
        <div class="text-muted float-left"><%= play.description %></div>
      <% end %>
    </div>
    <div class="card-footer footer-padding">
      <div class="footer-row">
        <%= t('view.play.index.author') %>: <%= play.author %>
      </div>
      <div class="footer-row">
        <%= t('view.play.index.version') %>: <%= play.version %>
      </div>
    </div>
  </div>
</div>