<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <% if user_signed_in? && policy(Play).mod_allowed? %>
      <%= link_to  t('view.general.delete-with-model', model: t('model.play').titlecase), @play,
                  method: :delete, data: { confirm: t('view.general.delete-confirmation', model: t('model.play')) },
                  class: 'btn btn-outline-secondary float-left' %>
    <% end %>
  </div>
</div>

<div id="show-play">
<div class="card mt-2">
  <h5 class="card-header bg-light border-0 font-weight-bold">
    <%= "#{@play.name}" %>
  </h5>
  <div class="card-body py-2 px-3">
    <h6 class="card-text text-muted mt-2 mb-2">
      <%= t('view.general.description') %>: 
    </h6>
    <p class="ml-4"><%= @play.description %></p>
    <div class="card mt-2">
      <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('view.activity.index.resources') %>:</h5>
      </div>
      <div class="card-body p-0">
        <% @play.resources.each do |resource| %>
          <div class="ml-4 mt-2">
          <strong><%= resource["name"] %>: </strong><%= resource["description"] %>
          </div>
          <div class="ml-5 mb-3">
          <a href="<%= resource["url"] %>"><%= resource["url"] %></a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header border-0">
        <h5 class="float-left mb-0 font-weight-bold"><%= t('model.task').pluralize.titlecase %></h5>
        <% if user_signed_in? && policy(Play).mod_allowed? %>
          <% if @playbook.nil? %>
            <%= link_to t('view.general.add'),
                      new_play_task_path(@play),
                      class: "card-link float-right", style: "color: #fbab18 !important" %>
          <% else %>
            <%= link_to t('view.general.add'),
                      new_playbook_activity_play_task_path(@playbook, @activity, @play),
                      class: "card-link float-right", style: "color: #fbab18 !important" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body p-0">
        <% if @play.tasks.count > 0 %>
          <div class="accordion" id='<%= "#{@play.slug}_accordion" %>'>
            <% @play.tasks.each do |task| %>
              <div class="card border-right-0 border-left-0 border-bottom-0">
                <div id='<%= "#{task.slug}_header" %>' class="card-header" 
                    data-toggle="collapse" data-target='#<%= "#{task.slug}_collapse" %>'
                    aria-expanded="true" aria-controls='<%= "#{task.slug}_collapse" %>'>
                  <h6 class="mb-0 float-left font-weight-bold">
                    <%= task.name %>
                  </h6>
                  <i class="fa fa-angle-down float-right"></i>
                </div>
                <div id='<%= "#{task.slug}_collapse" %>' class="collapse"
                    aria-labelledby='<%= "#{task.slug}_header" %>'
                    data-parent='#<%= "#{@play.slug}_accordion" %>'>
                  <div class="card-body p-3">
                    <div id='<%= "#{task.slug}_viewer" %>'>
                      <%= task.description %>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="float-right mb-0">
                          <% if @playbook.nil? %>
                            <%= link_to t('view.general.view'), play_task_path(@play, task),
                                        class: "card-link" %>
                          <% else %>
                            <%= link_to t('view.general.view'), playbook_activity_play_task_path(@playbook, @activity, @play, task),
                                        class: "card-link" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <% else %>
            <div class="alert alert-light mb-0" role="alert">
              <%= t('view.task.index.no-data') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer border-0">
      <div class="float-right mb-0">
        <% if @playbook.nil? %>
          <%= link_to t('view.general.view'), play_path(@play), class: "card-link" %>
          <% if user_signed_in? && policy(Play).mod_allowed? %>
            <%= link_to t('view.general.edit'), edit_play_path(@play), class: "card-link" %>
          <% end %>
        <% else %>
          <%= link_to t('view.general.view'), playbook_activity_play_path(@play), class: "card-link" %>
          <% if user_signed_in? && policy(Play).mod_allowed? %>
            <%= link_to t('view.general.edit'), edit_playbook_activity_play_path(@play), class: "card-link" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
