<%= form_with(model: workflow, local: true) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :workflow_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= workflow.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.workflow')) %>
  </div>

  <fieldset class="form-label-group">
    <%= form.text_field :description, id: :workflow_description, class: "form-control", placeholder: t('view.workflow.form.description') %>
    <%= form.label :description, t('view.workflow.form.description') %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :other_names, id: :workflow_other_names, class: "form-control", placeholder: t('view.workflow.form.other-names') %>
    <%= form.label :other_names, t('view.workflow.form.other-names') %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :category, id: :workflow_category, class: "form-control", placeholder: t('view.workflow.form.category') %>
    <%= form.label :category, t('view.workflow.form.category')%>
  </fieldset>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0">
    <%= t('view.multi-select.assigned.title', model: t('model.use-case').to_s.pluralize.titlecase) %>
  </h6>

  <fieldset class="form-label-group mt-2">
    <input type="text" id="use-case-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.title', model: t('model.use-case').to_s.pluralize) %>" />
    <label for="workflow-use-case">
      <%= t('view.multi-select.assigned.title', model: t('model.use-case').to_s.pluralize) %>
    </label>
  </fieldset>

  <div class="row">
    <div id="base-selected-use-cases" class="col-6 col-lg-4 mb-2">
      <div class="card h-100">
        <div class="px-1 clearfix badge badge-secondary">
          <p class="mb-0 float-left"></p>
            <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
          <input type="hidden"/>
        </div>
      </div>
    </div>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0">
    <%= t('view.multi-select.assigned.title', model: t('model.building-block').to_s.pluralize.titlecase) %>
  </h6>

  <fieldset class="form-label-group mt-2">
    <input type="text" id="building-block-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.title', model: t('model.building-block').to_s.pluralize) %>" />
    <label for="workflow-building-block">
      <%= t('view.multi-select.assigned.title', model: t('model.building-block').to_s.pluralize) %>
    </label>
  </fieldset>

  <div class="row">
    <div id="base-selected-building-blocks" class="col-6 col-lg-4 mb-2">
      <div class="card h-100">
        <div class="px-1 clearfix badge badge-secondary">
          <p class="mb-0 float-left"></p>
            <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
          <input type="hidden"/>
        </div>
      </div>
    </div>
  </div>
  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  <% workflow.use_cases.order("name").each do |use_case| %>
    addUseCase('<%= use_case.id %>', '<%= use_case.name %>');
  <% end %>
  <% workflow.building_blocks.order("name").each do |building_block| %>
    addBuildingBlock('<%= building_block.id %>', '<%= building_block.name %>');
  <% end %>
</script>
