<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div id="wf-more" class="hidden w-100">
    <section class="hero bg-secondary mb-2 ml-3 mr-3">
      <div class="col-12 mt-2 text-white">
        <h5><strong><%= t('model.workflow').to_s.titleize.pluralize %></strong></h5>
        <div id="wf-desc">
          <p class="mr-4"><%= t('view.workflow.index.definition').to_s %></p>
          <strong><%= t('view.general.characteristics').to_s %></strong>
          <ul>
            <% t('view.workflow.index.characteristics').each_line do |point| %>
              <li><%= point %></li>
            <% end %>
          </ul>
          <strong><%= t('view.general.description').to_s %></strong>
          <p class="mr-4"><%= t('view.workflow.index.description').to_s %></p>
          <a href="#" id="wf-show-less" class="wf-show-hide hidden">
            <p class="float-left"><%= t('view.general.show-less').to_s %></p>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="float-left">
      <a href="#" class="wf-show-hide small" id="wf-show-more">
        <%= t('view.general.show-workflow').to_s %>
      </a>
    </div>
    <div class="float-right">
      <% if user_signed_in? && policy(Workflow).mod_allowed? %>
        <%= link_to t('view.general.create'), new_workflow_path, :class => 'small ml-1' %>
        <span class="small mr-1">&nbsp;|</span>
      <% end %>
      <%= link_to t('view.workflow.index.export-json'),
                  export_data_workflows_path(format: 'json'),
                  target: :_blank, class: 'small mr-1' %>
      <span class="small mr-1">&nbsp;|</span>
      <%= link_to t('view.workflow.index.export-csv'),
                  export_data_workflows_path(format: 'csv'),
                  target: :_blank, class: 'small mr-1' %>
    </div>
  </div>
</div>

<div id="current-list">
  <div class="row">
    <%= render @workflows %>
  </div>
</div>

<script>
  $(".wf-show-hide").on('click', function(e) {
    e.preventDefault()
    $("#wf-more").toggleClass('hidden')
    $("#wf-show-more").toggleClass('hidden')
    $("#wf-show-less").toggleClass('hidden')
  })
</script>
