<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-6">
    <% if user_signed_in? && policy(Workflow).mod_allowed? %>
      <%= link_to t('view.general.create'), new_workflow_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>

<div class="row">
  <% if @workflows.count > 0 %>
    <% @workflows.each do |workflow| %>
      <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
        <div class="card index-card">
          <div class="card-header bg-secondary text-white small">
            <%= link_to truncate(workflow.name, length: 23, omission: '&hellip;', escape: false), workflow,
                'title' => workflow.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          </div>
          <div class="model-logo">
            <%= link_to(workflow) do %>
              <%= image_tag(workflow.image_file, class: 'card-img-top align-middle') %>
            <% end %>
          </div>

          <div class="card-footer">
            <small>
              <div class="row">
                <div class="col-12">
                  <%= "#{workflow.use_cases.size} #{t('model.use-case').to_s.pluralize(workflow.use_cases.size)}" %>,
                </div>
                <div class="col-12">
                  <%= "#{workflow.building_blocks.size}  #{t('model.building-block').to_s.pluralize(workflow.building_blocks.size)}" %>
                </div>
              </div>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
