<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card">
  <div class="bg-secondary text-white card-header">
    <h5 class="float-left mb-0">
      <%= "#{t('model.workflow').to_s.titlecase}: #{@workflow.name}" %>
    </h5>
  </div>
  <div class="card-body">
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.workflow.show.short-description') %>: </strong>
      <%= @workflowJson.short_desc %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.workflow.show.full-description') %>: </strong>
      <%= @workflowJson.full_desc %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.workflow.show.other-names') %>: </strong>
      <%= @workflowJson.other_names %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.workflow.show.mapping') %>: </strong>
      <% if @workflowJson.sample_mappings && @workflowJson.sample_mappings.count > 0 %>
        <ul>
        <% @workflowJson.sample_mappings.each do |mapping| %>
          <li class="text-muted"><strong><%= mapping.name %>: </strong><%= mapping.description %>
        <% end %>
        </ul>
      <% end %>
    </p>
    <div class="float-right" >
      <%= link_to t('view.general.back'), workflows_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@workflow).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_workflow_path(@workflow), :class => "card-link" %>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.use-case').to_s.titlecase.pluralize %></h5>
  </div>
  <% if @workflow.use_cases.count > 0 %>
    <div class="row">
      <% @workflow.use_cases.order("name").each do |use_case| %>
        <% useCaseJson = JSON.parse(use_case.description) %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <%= image_tag(use_case.image_file, class: 'card-img-top mx-auto w-25 px-0 pt-2 pb-0') %>
            <div class="card-body pb-2 pt-2">
              <div class="card-text"><%= link_to use_case.name, use_case %></div>
              <div class="card-text text-muted"><%= useCaseJson['desc'] %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.workflow'), multi: t('model.use-case').to_s.pluralize) %>
    </p>
  <% end %>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.building-block').to_s.titlecase.pluralize %></h5>
  </div>
  <% if @workflow.building_blocks.count > 0 %>
    <div class="row">
      <% @workflow.building_blocks.order("name").each do |building_block| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body px-1 py-1">
              <%= image_tag(building_block.image_file, class: 'footer-img-small') %>
              <span class="card-text text-muted mb-0">
                <%= link_to building_block.name, building_block %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.workflow'), multi: t('model.building-block').to_s.pluralize) %>
    </p>
  <% end %>
</div>