<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card">
  <div class="bg-secondary text-white card-header">
    <h5 class="float-left mb-0">
      <%= "#{t('model.workflow').to_s.titlecase}: #{@workflow.name}" %>
    </h5>
  </div>
  <%= image_tag(@workflow.image_file, class: 'card-img-top px-2 py-2 mx-auto workflow-filter', style: 'width: auto; height: 250px;') %>
  <div class="card-body">
    <div id="workflow-viewer" class="wysiwyg-viewer">
      <%= @wf_desc.description.html_safe %>
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), workflows_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@workflow).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_workflow_path(@workflow), :class => "card-link" %>
      <% end %>
  </div>
</div>

<% if @workflow.use_case_steps.count > 0
     use_cases = {}
     use_case_steps = {}
     @workflow.use_case_steps.each do |use_case_step|
       use_case = use_case_step.use_case
       use_cases[use_case.id] = use_case

       steps = use_case_steps[use_case.id] || []
       steps += [use_case_step]
       use_case_steps[use_case.id] = steps
     end
%>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.use-case').to_s.titlecase.pluralize %></h5>
    </div>

      <div class="row">
        <% use_cases.sort.map do |key, use_case| %>
          <div class="col-6 col-lg-4 mt-2">
            <div class="card h-100">
              <div class="card-body py-2">
                <%= link_to(use_case, style: 'text-decoration: none;') do %>
                  <%= image_tag(use_case.image_file, class: 'footer-img use-case-filter') %>
                  <%= use_case.name %> 
                <% end %>
                <div class="row">
                  <% use_case_steps[key].sort_by(&:step_number).each do |use_case_step| %>
                    <div class="col-12 mt-1">
                      <%= link_to(use_case_use_case_step_path(use_case, use_case_step), style: 'text-decoration: none;') do %>
                        <%= " Step #{use_case_step.step_number}. #{use_case_step.name}" %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
<% end %>

<% if @workflow.building_blocks.count > 0 %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.building-block').to_s.titlecase.pluralize %></h5>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <div class="card h-100">
          <div class="card-body py-2">
            <% @workflow.building_blocks.order("name").each do |building_block| %>
              <%= link_to(building_block, style: 'text-decoration: none;') do %>
                <%= image_tag(building_block.image_file, class: 'footer-img', title: building_block.name, 'data-toggle': 'tooltip', 'data-placement': 'top') %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

