<% description = task_tracker.task_tracker_descriptions
                             .select { |desc| desc.locale == I18n.locale.to_s }
                             .first %>
<%= form_with(model: task_tracker, local: true, html: { id: 'task-tracker-form' }) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :task_tracker_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= task_tracker.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.task-tracker')) %>
  </div>

  <input type="hidden" id="task_desc" name="task_tracker[tt_desc]" />
  <div id="task_editor"> </div>
  
  <fieldset class="form-label-group">
    <%= form.text_field :message, id: :task_tracker_message, class: "form-control", placeholder: t('view.general.message') %>
    <%= form.label :message, t('view.general.message') %>
  </fieldset>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => "submit-btn" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>

$("#submit-btn").on('click', function(e) {
    var descHtml = descEditor.html.get()
    $("#task_desc").val(descHtml)
  });

  var descEditor;
  $(document).ready(function() {
    descEditor = new FroalaEditor('#task_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      descEditor.html.set("<%= description.nil? ? "" : description.description.squish.gsub("\"","\\\"").html_safe %>")
    });
  });

</script>

