<p id="notice"><%= notice %></p>

  <div class="form-group float-right">
    <%= form_tag(sectors_path, :method => "get", id: "search-form", class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search sectors ...", :class => "form-control" %>
      <div class="input-group-append">
        <%= submit_tag "Search", :class => "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @sectors.count > 0 %>
      <% @sectors.each do |sector| %>
        <tr>
          <td><%= sector.name %></td>
          <td class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Action</a>
            <div class="dropdown-menu">
              <%= link_to 'View', sector, :class =>"dropdown-item" %>
              <%= link_to 'Edit', edit_sector_path(sector), :class =>"dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Delete', sector, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"dropdown-item" %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <small class="text-muted">
            We couldn't find sector matching to the search phrase. Do you want to <%= link_to 'create new sector?', new_sector_path %>
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @locations, :class => "apple-pagination" %>
