<p id="notice"><%= notice %></p>

<div class="card">
  <h5 class="card-header"><%= @sector.name %></h5>
  <div class="card-body">
    <h6 class="card-subtitle text-muted mb-2">
      <strong>Slug: </strong><%= @sector.slug %>
    </h6>
    <%= link_to 'Back', locations_path, :class => "card-link float-left" %>
    <%= link_to 'Edit', edit_sector_path(@sector), :class => "card-link float-right" %>
  </div>
</div>
