<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="card">
    <h5 class="card-header"><%= @sector.name %></h5>
    <div class="card-body">
      <h6 class="card-subtitle text-muted mb-2">
        <strong>Slug:
        </strong><%= @sector.slug %>
      </h6>
      <p class="float-right mb-0" >
        <%= link_to 'Back', sectors_path, :class => "card-link" %>
        <%= link_to 'Edit', edit_sector_path(@sector), :class => "card-link" %>
      </p>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="card">
    <div class="card-header clearfix">
      <h5 class="float-left">Organization</h5>
      <%= link_to 'Add', new_organization_path, :class => "card-link float-right" %>
    </div>
    <div class="card-body">
      <% if @sector.organizations.count > 0 %>
        <div class="card-columns">
          <% @sector.organizations.each do |organization| %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= link_to organization.name, organization %></h5>
                <h6 class="card-subtitle text-muted mb-2"><%= organization.website %></h6>
                <%= link_to 'Edit', edit_organization_path(organization), :class => "card-link float-right mb-2" %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="card-text text-muted">We don't have any contact information for this organization.</p>
      <% end %>
    </div>
  </div>
</div>
