<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<%= link_to 'Create New', new_user_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
<div class="float-right pb-2">
  <%= form_tag(users_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search users ...", :class => "form-control" %>
  <div class="input-group-append">
    <%= submit_tag "Search", :class => "btn btn-secondary" %>
  </div>
<% end %>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @users.count > 0 %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role.capitalize %></td>
          <td class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Action</a>
            <div class="dropdown-menu">
              <%= link_to 'View', user, :class =>"dropdown-item"  %>
              <%= link_to 'Edit', edit_user_path(user), :class =>"dropdown-item"  %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"dropdown-item" %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <small class="text-muted">
            We couldn't find users matching to the search phrase. Do you want to <%= link_to 'create new user?', new_user_path %>
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @locations, :class => "apple-pagination" %>
