<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card">
  <div class="bg-secondary text-white card-header">
    <%= "#{t('model.user').to_s.titlecase}: #{@user.email}" %>
  </div>
  <div class="card-body">
    <p class="card-subtitle text-muted mb-0" >
      <strong><%= t('view.user.form.role') %>: </strong>
      <%=
        @user.roles
             .map { |role| t("view.user.role.#{role}") }
             .join(', ')
      %>
    </p>
    <p class="card-subtitle text-muted mt-3" >
      <strong><%= t('view.user.show.approved') %>: </strong>
      <%= @user.confirmed_at.strftime('%m/%d/%Y - %H:%M') if !@user.confirmed_at.nil? %>
    </p>
    <% if @user.roles.include?(User.user_roles[:admin]) %>
      <p class="card-subtitle text-muted mt-3" >
        <strong><%= t('view.user.show.receive-backup') %>: </strong>
        <%= @user.receive_backup ? t('view.user.show.yes') : t('view.user.show.no') %>
      </p>
      <p class="card-subtitle text-muted mt-3" >
        <strong><%= t('view.user.show.receive-admin-emails') %>: </strong>
        <%= @user.receive_admin_emails ? t('view.user.show.yes') : t('view.user.show.no') %>
      </p>
    <% end %>
    <p class="card-subtitle mt-3"> 
      <%= link_to t('view.user.show.reset-password'), edit_user_registration_path, class: 'btn btn-secondary text-white' %>
    </p>
    <div class="float-right" >
      <%= link_to t('view.general.back'), users_path, :class => "card-link" %>
      <%= link_to t('view.general.edit'), edit_user_path(@user), :class => "card-link" %>
    </div>
  </div>
</div>

<% if @user.user_products.count > 0 %>
  <div class="mt-2">
    <div class="rounded bg-secondary text-white card-header">
      <%= t('model.product').to_s.pluralize.humanize %>
    </div>
    <div class="row">
      <% @user.user_products.each do |product_id| %>
        <% product = Product.find(product_id) %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card flex-row">
            <%= link_to product do %>
              <%= image_tag(product.image_file, height: 75, class: 'card-image-top align-middle p-1') %>
            <% end %>
            <div class="card-body align-middle my-auto px-2 py-2">
              <%= link_to product.name, product %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
