<style>
  #user-statistics .card {
    max-width: calc(33% - 30px);
  }
</style>

<div id="user-statistics" class="mt-3">

  <div class="row">
    <div class="col-12">
      <div class="float-right pb-2">
        <%= form_tag(statistics_users_path, :method => "get", id: "filter-form", class: "form-inline") do %>
          <div class="form-group mr-sm-2">
            <label for="identifier" class="sr-only">Identifier or email</label>
            <%= text_field_tag :search, params[:search],
                               placeholder: "Identifier or email",
                               class: "form-control" %>
          </div>
          <div class="form-group mr-sm-2">
            <label for="start_date" class="sr-only">Start date</label>
            <%= text_field_tag :start_date, params[:start_date],
                               placeholder: "Start date",
                               class: "form-control pick-date" %>
          </div>
          <div class="form-group mr-sm-2">
            <label for="end_date" class="sr-only">End date</label>
            <%= text_field_tag :end_date, params[:end_date],
                               placeholder: "End date",
                               class: "form-control pick-date" %>
          </div>
          <%= submit_tag "Filter", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-deck">

        <div class="card">
          <div class="bg-secondary text-white card-header">
            <h5 class="text-center">Identifier With Most Event</h5>
          </div>
          <div class="card-body">
            <%=
              "#{@number_distinct_user.identifier.split("-")[0]} - #{@number_distinct_user.count} event(s)" \
              unless @number_distinct_user.nil?
            %>
          </div>
        </div>

        <div class="card">
          <div class="bg-secondary text-white card-header">
            <h5 class="text-center">User With Most Event</h5>
          </div>
          <div class="card-body">
            <%=
              "#{@number_login_user.email} - #{@number_login_user.count} event(s)" \
              unless @number_login_user.nil?
            %>
          </div>
        </div>

        <div class="card">
          <div class="bg-secondary text-white card-header">
            <h5 class="text-center">Most Visited Product</h5>
          </div>
          <div class="card-body">
            <%=
              "#{@most_visited_product[0]} - #{@most_visited_product[1]} event(s)" \
              unless @most_visited_product.nil?
            %>
          </div>
        </div>

        <div class="card">
          <div class="bg-secondary text-white card-header">
            <h5 class="text-center">Most Recorded Event</h5>
          </div>
          <div class="card-body">
            <%=
              "#{UserEvent.event_types[@most_recorded_event.event_type]} - #{@most_recorded_event.count} event(s)" \
              unless @most_recorded_event.nil?
            %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Identifier</th>
      <th>Email</th>
      <th>Event Type</th>
      <th>Event Time</th>
      <th>Extended Data</th>
    </tr>
  </thead>

  <tbody>
    <% @user_events.each do |user_event| %>
      <tr>
        <td><%= user_event.identifier %></td>
        <td><%= user_event.email %></td>
        <td><%= UserEvent.event_types[user_event.event_type] %></td>
        <td><%= user_event.event_datetime.strftime("%m/%d/%Y %H:%M:%S") %></td>
        <td><pre><%= JSON.pretty_generate(user_event.extended_data) %></pre></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @user_events, :class => "float-right digg-pagination" %>

<script type="text/javascript">
  $(".pick-date").datepicker();
</script>
