<% #  style="top: 66px; position: sticky; z-index: 1024;" %>
<nav id="breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/products">
        <%= t('view.breadcrumb.home') %>
      </a>
    </li>
    <% breadcrumbs = build_breadcrumbs(params) %>
    <% breadcrumbs.each_with_index do |breadcrumb, index| %>
      <% next if breadcrumb[:label].nil? || breadcrumb[:label].blank? %>
      <% if index == breadcrumbs.count - 1 %>
        <% if params[:id] && params[:action] == 'show'%>
          <li class="breadcrumb-item active" aria-current="page">
            <%= breadcrumb[:label] %>
          </li>
        <% elsif params[:id] && params[:action] == 'edit'%>
          <li class="breadcrumb-item" aria-current="page">
            <a href='/<%= breadcrumb[:path] %>'>
              <%= breadcrumb[:label] %>
            </a>
          </li>
        <% end %>
      <% else %>
        <li class="breadcrumb-item" aria-current="page">
          <a href='/<%= breadcrumb[:path] %>'>
            <%= breadcrumb[:label] %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>