<div class="card">
  <div class="card-header bg-secondary text-white">
    <h5>Digital Investment Framework</h5>
  </div>
  <div class="card-body p-2">
    <div class="accordion ml-2">
        <div class="accordianheader">
            <p class="text-muted m-0"><%= t('view.filternav.sdgs') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">SDG Filters go here</p>
        </div>
        <div class="accordianheader">
            <p class="m-0 text-muted"><%= t('view.filternav.use_cases') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">Use Case Filters go here</p>
        </div>
        <div class="accordianheader">
            <p class="m-0 text-muted"><%= t('view.filternav.building_blocks') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">Building Block Filters go here</p>
        </div>
        <div class="accordianheader">
            <p class="m-0 text-muted"><%= t('view.filternav.workflows') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">Workflow Filters go here</p>
        </div>
        <div class="accordianheader">
            <p class="m-0 text-muted"><%= t('view.filternav.products') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">Product Filters go here</p>
        </div>
    </div>
  </div>
    
</div>