<div id="filter-nav" class="card">
  <div class="card-header bg-secondary text-white">
    <i class="fas fa-question-circle float-right" style="margin-top: 4px; cursor: pointer;" data-toggle="modal" data-target="#help-modal"></i>
    <h5 class="nav-header"><%= t('view.filternav.framework') %></h5>
  </div>
  <div class="card-body p-0 accordion-section">
    <div id="acc-framework" class="accordion">
      <% session[:portal]["filter_navs"].reject { |x| ['locations', 'organizations', 'sectors', 'projects'].include?(x) }
                                        .each do |filter_nav| %>
        <%= render "/shared/filter/#{filter_nav}" %>
      <% end %>
    </div>
  </div>
  <div class="card-header bg-secondary text-white">
    <h5 class="nav-header"><%= t('view.filternav.registry') %></h5>
  </div>
  <div class="card-body p-0">
    <div id="acc-registry" class="accordion">
      <% session[:portal]["filter_navs"].select { |x| ['locations', 'organizations', 'sectors', 'projects'].include?(x) }
                                        .each do |filter_nav| %>
        <%= render "/shared/filter/#{filter_nav}" %>
      <% end %>
      <div class="accordion-header bg-dark">
        <span class="m-0 align-middle">
          <span class="align-middle"><%= t('view.filternav.map') %></span>
          <i class="fa fa-angle-down float-right text-muted"></i>
        </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row p-1">
          <div class="col-12 ml-3">
            <%= link_to t('view.filternav.endorser-map'), 'map' %>
          </div>
          <div class="col-12 ml-3 mt-2">
            <%= link_to t('view.filternav.aggregator-map'), 'map_aggregators' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/help' %>
