<div class="card">
  <div class="card-header bg-secondary text-white">
    <h5><%= t('view.filternav.framework') %></h5>
  </div>
  <div class="card-body p-2">
    <div class="accordion">
        <div class="accordianheader">
            <p class="text-muted m-0"><%= t('view.filternav.sdgs') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
          <div class="row">
            <div class="col-md-4 offset-md-8 text-muted clear-all"><a href="#"><%= t('view.filternav.clear') %></a></div> 
          </div>
          <div class="form-row">
            <div class="col-12">
              <div class="form-group">
                <%= label_tag "sdgs", t('view.filternav.sdgs') %>
                <%= collection_select(nil, "sdgs", SustainableDevelopmentGoal.all.order(:name), :id, :name,
                    { selected: params[:name] },
                    { multiple: true, class: 'custom-select filter-element' }) %>
              </div>
            </div> 
          </div>
        </div>
        <div class="accordianheader">
            <p class="m-0 text-muted"><%= t('view.filternav.use_cases') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">Use Case Filters go here</p>
        </div>
        <div class="accordianheader">
            <p class="m-0 text-muted"><%= t('view.filternav.building_blocks') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">Building Block Filters go here</p>
        </div>
        <div class="accordianheader">
            <p class="m-0 text-muted"><%= t('view.filternav.workflows') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">Workflow Filters go here</p>
        </div>
        <div class="accordianheader">
            <p class="m-0 text-muted"><%= t('view.filternav.products') %><i class="fa fa-angle-down float-right text-muted"></i></p>
        </div>
        <div class="accordianbody">
            <p class="text-muted">Product Filters go here</p>
        </div>
    </div>
  </div>
  <div class="card-header bg-secondary text-white">
    <h5><%= t('view.filternav.registry') %></h5>
  </div>
  <div class="card-body p-2">
    <div class="accordion">
      <div class="accordianheader">
        <p class="text-muted m-0"><%= t('view.filternav.geographies') %><i class="fa fa-angle-down float-right text-muted"></i></p>
      </div>
      <div class="accordianbody">
        <p class="text-muted">SDG Filters go here</p>
      </div>
      <div class="accordianheader">
        <p class="text-muted m-0"><%= t('view.filternav.sectors') %><i class="fa fa-angle-down float-right text-muted"></i></p>
      </div>
      <div class="accordianbody">
        <p class="text-muted">SDG Filters go here</p>
      </div>
      <div class="accordianheader">
        <p class="text-muted m-0"><%= t('view.filternav.orgs') %><i class="fa fa-angle-down float-right text-muted"></i></p>
      </div>
      <div class="accordianbody">
        <div class="row">
          <div class="col-md-4 offset-md-8 text-muted clear-all"><a href="#"><%= t('view.filternav.clear') %></a></div> 
        </div>
        <div class="form-row mb-2">
          <div class="col-12">
            <div class="form-check">
                <%= check_box_tag "endorser_only", true, params[:endorser_only], {class: "form-check-input filter-element", name:"endorser"} %>
                <%= label_tag "endorser_only", t('view.organization.index.endorser-only'), class: "form-check-label" %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <div class="form-group">
              <%= label_tag "years", t('view.organization.index.year') %>
              <%= select(nil, "years",
                        Organization
                            .where.not(when_endorsed: nil)
                            .all
                            .collect {|o| [ o.when_endorsed.strftime('%Y'), o.when_endorsed.strftime('%Y') ] }
                            .uniq!
                            .sort!,
                        { selected: params[:years] },
                        { multiple: true, class: 'custom-select filter-element', name: 'years' }) %>
            </div>
          </div> 
        </div>
      </div>
      <div class="accordianheader">
        <p class="text-muted m-0"><%= t('view.filternav.projects') %><i class="fa fa-angle-down float-right text-muted"></i></p>
      </div>
      <div class="accordianbody">
        <p class="text-muted">SDG Filters go here</p>
      </div>
      <div class="card-header">
        <%= link_to t('view.filternav.map'), 'map', :class=>'text-muted p-0 m-0' %>
      </div>
    </div>
  </div>
</div>