<div id="footer" role="contentinfo">
<% if session[:portal]["slug"] == "default" %>
  <div class="sponsors description pb-0">
    <a href="https://digitalimpactalliance.org">The Digital Impact Alliance</a>
    <%= t('view.footer.tag-line') %>
  </div>
  <ul class="icons sponsors mb-0">
    <li><%= image_tag "unf-logo.png", :alt => "United Nations Foundation", :height => 50 %></li>
    <li><%= image_tag "bill-n-melinda-logo.png", :alt => "Bill and Melinda Gates Foundation", :height => 50 %></li>
    <li><%= image_tag "sweden-logo.png", :alt => "Swedish International Development Cooperation Agency", :height => 50 %></li>
    <li><%= image_tag "dfid-logo.png", :alt => "Department for International Development", :height => 50 %></li>
  </ul>
  <div class="sponsors description pt-1 pb-0">
    <%= t('view.footer.sponsor-line') %>
  </div>
  <ul class="icons sponsors">
    <li><%= image_tag "giz-logo.png", :alt => "Deutsche Gesellschaft für Internationale Zusammenarbeit", :height => 90 %></li>
    <li><%= image_tag "bmz-logo.png", :alt => "Bundesministerium für wirtschaftliche Zusammenarbeit und Entwicklung", :height => 90 %></li>
  </ul>
  <ul class="copyright">
    <li>
      <a target="_blank" rel="noreferrer noopener"
         href="https://digitalimpactalliance.org/contact-us/ict4sdg/"
         style="text-decoration:none;">
         <i class="fas fa-envelope"></i>
         <%= t('view.footer.ict4sdg-updates') %>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://forum.osc.dial.community"
          style="text-decoration:none;">
         <i class="fab fa-forumbee"></i>
         <%= t('view.footer.osc-forum') %>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener"
         href="https://gitlab.com/dial/osc/eng/t4d-online-catalog/product-registry"
          style="text-decoration:none;">
         <i class="fas fa-share-alt"></i>
         <%= t('view.footer.gitlab') %>
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li><%= t('view.footer.dial-social-media') %>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/DIAL_Community"
         class="fab fa-twitter" style="text-decoration:none;"
         aria-label="Twitter">
         <span class="d-md-none d-inline-block">Twitter</span>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://facebook.com/DigitalImpactAlliance"
         class="fab fa-facebook" style="text-decoration:none;"
         aria-label="Facebook">
         <span class="d-md-none d-inline-block">Facebook</span>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://www.instagram.com/dial_community"
         class="fab fa-instagram" style="text-decoration:none;"
         aria-label="Instagram">
         <span class="d-md-none d-inline-block">Instagram</span>
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>
      <%= t('view.footer.icons-provided') %>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://fontawesome.com/">
        <%= t('view.footer.fa-icons') %>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://www.globalgoals.org/">
        <%= t('view.footer.sdg-icons') %>
      </a>
    </li>
  </ul>
<% else %> 
  <div id="footer-content" class="wysiwyg-viewer custom-footer">
  </div>
  <ul class="copyright">
    <li>
      <%= t('view.footer.powered-by-dial') %> |
      <a target="_blank" rel="noreferrer noopener"
         href="https://gitlab.com/dial/osc/eng/t4d-online-catalog/product-registry">
        <%= t('view.footer.gitlab') %>
      </a>
    </li>
  </ul>
<% end %>
  <ul class="copyright">
    <li>© <%= Time.now.year %> Digital Impact Alliance</li>
    <li>
      <a target="_blank" rel="noreferrer noopener"
         href="https://solutions.dial.community/privacy">
        <%= t('view.footer.privacy-policy') %>
      </a>
    </li>
    <li>
      <%= link_to t('view.header.feedback'),
                'mailto:catalog-support@dial.community',
                target: '_blank' %>
    </li>
  </ul>
</footer>

<script>
  <% if session[:portal]["slug"] != "default" && !@footer.nil? && !@footer.empty? && @footer != "{}" %>
    $(document).on("turbolinks:load", function() {
      $('#footer-content').html("<%= @footer.html_safe %>");
    });
  <% end %>
</script>
