<footer id="footer">
  <ul class="icons sponsors">
    <li class="description">
      <a href="https://digitalimpactalliance.org">The Digital Impact Alliance</a>
      <%= t('view.footer.tag-line') %>
    </li>
    <li><%= image_tag "unf-logo.png", :alt => "United Nations Foundation" %></li>
    <li><%= image_tag "bill-n-melinda-logo.png", :alt => "Bill and Melinda Gates Foundation" %></li>
    <li><%= image_tag "sweden-logo.png", :alt => "Swedish International Development Cooperation Agency" %></li>
    <li><%= image_tag "usaid-logo.png", :alt => "USAID" %></li>
  </ul>
  <ul class="icons">
    <li>
      <a target="_blank" href="https://twitter.com/DIAL_Community"
         class="fab fa-twitter" style="text-decoration:none;">
      </a>
    </li>
    <li>
      <a target="_blank" href="https://facebook.com/DigitalImpactAlliance"
         class="fab fa-facebook" style="text-decoration:none;">
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/dial_community"
         class="fab fa-instagram" style="text-decoration:none;">
      </a>
    </li>
    <li>
      <a target="_blank" href="https://digitalimpactalliance.org/contact-us/ict4sdg/"
         class="fas fa-envelope" style="text-decoration:none;">
      </a>
    </li>
    <li>
      <a target="_blank" href="https://forum.osc.dial.community"
         class="fab fa-forumbee" style="text-decoration:none;">
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>© 2019 Digital Impact Alliance</li>
    <li>
      <a href="http://www.digitalimpactalliance.org/privacy-policy/"><%= t('view.footer.privacy-policy') %></a>
    </li>
  </ul>
</footer>
