<div id="header-outer" data-turbolinks-permanent>
  <div id="header-widget">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
        <a class="navbar-brand" href="/map">
          <%= image_tag "logo-dial.png", :alt => "DIAL Logo", :width => "199px", :height => "124px" %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Organization', organizations_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contacts', contacts_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sectors', sectors_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Locations', locations_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Products', products_path, :class => 'nav-link' %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                  <strong>
                    <%= current_user.email %>
                  </strong>
                </a>
                <div class="dropdown-menu">
                  <%= link_to "Profile Settings", edit_user_registration_path, :class => 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>
                </div>
              </li>
            <% else %>
              <li>
                <%= link_to 'Login', new_user_session_path, :class => 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
