<div id="header-outer" data-turbolinks-permanent>
  <div id="header-widget">
    <nav id="header" class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a href="/map">
          <%= image_tag "logo-dial.svg", :alt => "DIAL Logo", :width => "231px", :height => "86px" %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                <strong>Digital Principles</strong>
              </a>
              <div class="dropdown-menu">
                <%= link_to 'Organizations', organizations_path, :class => 'dropdown-item' %>
                <% if user_signed_in? %>
                  <%= link_to 'Contacts', contacts_path, :class => 'dropdown-item' %>
                  <%= link_to 'Locations', locations_path, :class => 'dropdown-item' %>
                  <%= link_to 'Sectors', sectors_path, :class => 'dropdown-item' %>
                  <% end %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                <strong>Product Registry</strong>
              </a>
              <div class="dropdown-menu">
                <%= link_to 'Products', products_path, :class => 'dropdown-item' %>
                <% if user_signed_in? %>
                  <%= link_to 'Deploys', deploys_path, :class => 'dropdown-item' %></strong>
                <% end %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                <strong>ICT4SDG</strong>
              </a>
              <div class="dropdown-menu">
                <%= link_to 'Building Blocks', building_blocks_path, :class => 'dropdown-item' %>
                <%= link_to 'SDGs', sustainable_development_goals_path, :class => 'dropdown-item' %>
                <% if user_signed_in? %>
                  <%= link_to 'Use Cases', use_cases_path, :class => 'dropdown-item' %>
                  <%= link_to 'Workflows', workflows_path, :class => 'dropdown-item' %>
                <% end %>
              </div>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                  <strong>
                    <%= current_user.email %>
                  </strong>
                </a>
                <div class="dropdown-menu">
                  <%= link_to "Profile Settings", edit_user_registration_path, :class => 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>
                </div>
              </li>
            <% else %>
              <li>
                <strong><%= link_to 'Login', new_user_session_path, :class => 'nav-link' %></strong>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
