<div class="row mb-2">
  <div class="col-12">
    <ul class="list-group w-100 flex-fill list-group-horizontal">
      <li class="list-group-item w-100 text-center">
        <a href="" class="font-weight-normal">
          <%= t('model.sdg').upcase.pluralize %>
        </a>
      </li>
      <li class="list-group-item w-100 text-center">
        <a href="" class="font-weight-normal">
          <%= t('model.use-case').titlecase.pluralize %>
        </a>
      </li>
      <li class="list-group-item w-100 text-center">
        <a href="" class="font-weight-normal">
          <%= t('model.workflow').titlecase.pluralize %>
        </a>
      </li>
      <li class="list-group-item w-100 text-center">
        <a href="" class="font-weight-normal">
          <%= t('model.building-block').titlecase.pluralize %>
        </a>
      </li>
      <li class="list-group-item w-100 text-center">
        <a href="" class="font-weight-normal">
          <%= t('model.product').titlecase.pluralize %>
        </a>
      </li>
      <li class="list-group-item w-100 text-center">
        <a href="" class="font-weight-normal">
          <%= t('model.organization').titlecase.pluralize %>
        </a>
      </li>
    </ul>
  </div>
</div>