<div class="row mb-2">
  <div class="col-12">
    <div class="list-group w-100 flex-fill list-group-horizontal">
      <a href="#" class="list-group-item w-100 text-center">
        <%= t('model.sdg').upcase.pluralize %>
      </a>
      <a href="#" class="list-group-item w-100 text-center">
        <%= t('model.use-case').titlecase.pluralize %>
      </a>
      <a href="#" class="list-group-item w-100 text-center">
        <%= t('model.workflow').titlecase.pluralize %>
      </a>
      <a href="#" class="list-group-item w-100 text-center">
        <%= t('model.building-block').titlecase.pluralize %>
      </a>
      <a href="#" class="list-group-item w-100 text-center">
        <%= t('model.product').titlecase.pluralize %>
      </a>
      <a href="#" class="list-group-item w-100 text-center">
        <%= t('model.organization').titlecase.pluralize %>
      </a>
    </div>
  </div>
</div>