<div id="header-outer" role="navigation" aria-labelledby="app-title" data-turbolinks-permanent>
  <div id="header-widget">
    <nav id="header" class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid">
        <h1 id="app-title" class="sr-only"><%= t('view.title') %></h1>
        <% if session[:portal]["slug"] == "default" %>
          <a class="header-logo-nav" href="/products">
            <%= image_tag "logo-dial-300w.png", alt: "DIAL Logo", sizes: '(max-width: 400px) 250px, 300px',
                          srcset: {'logo-dial-250w.png': '250w', 'logo-dial-300w.png': '300w' } %>
          </a>
        <% else %>
          <%= image_tag "/assets/portal_views/"+session[:portal]["slug"]+".png", :alt => "DIAL Logo", :height => "86px" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="text-small text-white language-switcher">
            <% if I18n.locale.to_s == "en" %>
              <div class="mr-3 inline selected-language"><%= t('view.header.english') %></div>
              <%= link_to t('view.header.german'), controller: :application, action: :update_locale, id: 'de' %>
            <% else %>
              <%= link_to t('view.header.english'), controller: :application, action: :update_locale, id: 'en' %>
              <div class="ml-3 inline selected-language"><%= t('view.header.german') %></div>
            <% end %>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mt-2">
              <strong><%= link_to t('view.header.covid-resources'),covid_index_path, :class => 'nav-link covid-item' %></strong>
            </li>
            <% if user_signed_in? %>
              <% if (policy(current_user).index?) %>
                <%= render '/shared/menu/admin' %>
              <% elsif (policy(current_user).mni?) %>
                <%= render '/shared/menu/mni' %>
              <% elsif (policy(current_user).ict4sdg?) %>
                <%= render '/shared/menu/ict4sdg' %>
              <% elsif (policy(current_user).principle?) %>
                <%= render '/shared/menu/principle' %>
              <% end %>
              <%= render '/shared/menu/authenticated' %>
            <% else %>
              <%= render '/shared/menu/unauthenticated' %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<script type="text/javascript">
  var collapseLeftNav = function() {
    $('#navbarCollapse').collapse('hide');
  }
  // Revert state of the main top nav on mobile when clicking any nav item.
  $('.header-logo-nav').on('click', collapseLeftNav);
  $('.dropdown-item').on('click', collapseLeftNav);
  $('.unauth-item').on('click', collapseLeftNav);
  $('.covid-item').on('click', collapseLeftNav);
</script>
