<% base_path = Rails.env.production? ? '/admin/' : '' %>
<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <div class="card-header bg-secondary text-white">
    <%= "#{t('model.setting').to_s.titlecase}: #{@setting.name}" %>
  </div>
  <div class="card-body py-2">
    <div class="row mb-2">
      <div class="col-12 text-muted">
        <%= "#{t('view.general.value')}: #{@setting.value}" %>
      </div>
    </div>
    <%= @setting.description %>
    <div class="float-right" >
      <%= link_to t('view.general.back'), base_path + settings_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@setting).mod_allowed? %>
        <%= link_to t('view.general.edit'), base_path + edit_setting_path(@setting), :class => "card-link" %>
      <% end %>
    </div>
  </div>
</div>
