  <%= form_with(model: contact, local: true) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :contact_name, :class => "form-control", :placeholder => "Name" %>
      <%= form.label :name %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= form.text_field :email, id: :contact_email, :class => "form-control", :placeholder => "Email" %>
      <%= form.label :email %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= form.text_field :title, id: :contact_title, :class => "form-control", :placeholder => "Title" %>
      <%= form.label :title %>
    </fieldset>

    <% if !@organization %>
      <fieldset class="form-label-group">
        <input type="text" id="organization-search" class="form-control" placeholder="Search and assign organizations ..." />
        <label for="country-organization">
          Search and assign organizations ...
        </label>
      </fieldset>
    <% end %>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">Assigned Organization</h6>
    <div class="row">
      <div id="base-selected-organizations" class="col-6 col-lg-4 mt-2">
        <div class="card h-100">
          <div class="p-2 clearfix">
            <p class="mb-0 float-left"></p>
            <% if !@organization %>
              <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
                <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
              </a>
            <% end %>
            <input type="hidden"/>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2"></div>
    <input id="original_name" type="hidden" value="<%= contact.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      One or more contact(s) with similar name already exists.
    </div>

    <fieldset class="float-right">
      <%= form.submit 'Submit', :class => "btn btn-primary" %>
      <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>

  <% end %>

  <script>
    <% contact.organizations.sort_by{|organization| organization.name }.each do |organization| %>
      addOrganization('<%= organization.id %>', '<%= organization.name %>');
    <% end %>
  </script>
