<p id="notice"><%= notice %></p>

<div class="float-right" style="padding-bottom: 1rem; ">
  <%= form_tag(contacts_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search contacts ...", :class => "form-control" %>
  <div class="input-group-append">
    <%= submit_tag "Search", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @contacts.count > 0 %>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.title %></td>
          <td class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Action</a>
            <div class="dropdown-menu">
              <%= link_to 'View', contact, :class =>"dropdown-item"  %>
              <%= link_to 'Edit', edit_contact_path(contact), :class =>"dropdown-item"  %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"dropdown-item"  %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <small class="text-muted">
            We couldn't find anyone matching to the search phrase. Do you want to <%= link_to 'create new contact?', new_contact_path %>
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @contacts, :class => "apple-pagination" %>
