<div class="card" style="width: 30rem;">
  <h5 class="card-header"><%= @contact.name %></h5>
  <div class="card-body">
    <h6 class="card-subtitle text-muted mb-2"><%= @contact.email %></h6>
    <% if @contact.title %>
      <p class="card-text"><%= @contact.title %></p>
    <% end %>
    <%= link_to 'Back', contacts_path, :class => "card-link float-left" %>
    <%= link_to 'Edit', edit_contact_path(@contact), :class => "card-link float-right" %>
  </div>
</div>
