<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white"><%= @contact.name %></h5>
  <div class="card-body">
    <h6 class="card-subtitle text-muted mb-2"><%= @contact.email %></h6>
    <% if @contact.title %>
      <p class="card-text"><%= @contact.title %></p>
    <% end %>
  </div>
  <div class="card-footer">
    <p class="float-right mb-0" >
      <%= link_to 'Back', contacts_path, :class => "card-link" %>
      <%= link_to 'Edit', edit_contact_path(@contact), :class => "card-link" %>
    </p>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0">Organization</h5>
    <%= link_to 'Add', new_organization_path, :class => "card-link text-white float-right" %>
  </div>
  <% if @contact.organizations.count > 0 %>
    <div class="row">
      <% @contact.organizations.each.with_index do |organization, index| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body pb-1">
              <h5 class="card-title"><%= link_to organization.name, organization %></h5>
              <h6 class="card-subtitle text-muted mb-2"><%= organization.website %></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">We don't have any contact information for this organization.</p>
  <% end %>
</div>
