<%= form_with(model: candidate_product, local: true) do |form| %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :candidate_product_name,
                        class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <input id="original_name" type="hidden" value="<%= candidate_product.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.candidate-product')) %>
  </div>

  <fieldset class="form-label-group">
    <%= form.text_field :website, id: :candidate_product_website,
        class: "form-control", placeholder: t('view.product.form.website') %>
    <%= form.label :website, t('view.product.form.website') %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :repository, id: :candidate_product_repository,
        class: "form-control", placeholder: t('view.product.form.repository') %>
    <%= form.label :repository, t('view.product.form.repository') %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :submitter_email, id: :candidate_product_submitter_email,
        class: "form-control", required: true, placeholder: t('view.product.form.submitter-email') %>
    <%= form.label :submitter_email, t('view.product.form.submitter-email') %>
  </fieldset>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), id: 'submit-candidate', class: "btn btn-primary",
                    disabled: !(candidate_product.rejected.nil? || candidate_product.rejected) %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", class: 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>
