<% base_path = Rails.env.production? ? '/admin/' : '' %>
<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-8 mb-2">
    <% if user_signed_in? && policy(@candidate_product).mod_allowed? %>
      <%= link_to t('view.general.delete-with-model', model: t('model.candidate-product').titlecase),
                  candidate_product_path(@candidate_product), method: :delete,
                  data: { confirm: t('view.general.delete-confirmation', model: t('model.candidate-product')) },
                  class: 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>
<div class="rounded bg-secondary text-white card-header">
  <%= "#{t('model.candidate-product').titlecase}:  #{@candidate_product.name}" %>
</div>

<div class="mt-2">
  <div class="row">
    <div class="col-lg-8 col-12">
      <p class="m-2">
        <strong><%= "#{t('view.candidate-product.index.website')}:" %></strong>
        <%= link_to @candidate_product.website.downcase.strip, "//#{@candidate_product.website.downcase.strip}", target: :_blank %>
      </p>
      <p class="m-2">
        <strong><%= "#{t('view.candidate-product.index.status')}:" %></strong>
        <%= @candidate_product.rejected.nil? ?
            t('view.candidate-product.index.status-new') :
            @candidate_product.rejected ?
              t('view.candidate-product.index.status-rejected') :
              t('view.candidate-product.index.status-approved')
        %>
      </p>
      <% if user_signed_in? && policy(Contact).view_allowed? %>
        <p class="m-2">
          <strong><%= "#{t('view.candidate-product.index.submitter-email')}:" %></strong>
          <%= @candidate_product.submitter_email %>
        </p>
      <% end %>
    </div>
  </div>
  <p class="float-right mb-0 mr-2" >
    <% if user_signed_in? && policy(@candidate_product).mod_allowed? %>
      <%= link_to t('view.general.back'), base_path + candidate_products_path, class: "card-link" %>
      <%= link_to t('view.general.edit'), base_path + edit_candidate_product_path(@candidate_product), class: "card-link" %>
    <% end %>
  </p>
</div>
