<div class="row m-3">
  <h5><%= t('view.audit.audit-log') %><%= !@curr_type.nil? && @curr_type.titlecase.downcase %></h5>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= t('view.general.name') %></th>
        <th><%= t('view.audit.username') %></th>
        <th><%= t('view.audit.action') %></th>
        <th><%= t('view.audit.changes') %></th>
      </tr>
    </thead>

    <tbody>
      <% @audit_list.each do |audit| %>
        <tr>
            <td><%= audit.associated_id %></td>
            <td><%= audit.username %></td>
            <td><%= audit.action %></td>
            <td><pre><%= JSON.pretty_generate(audit.audit_changes) %></pre></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @audit_list, class: 'float-right digg-pagination', inner_window: 1 %>
