<%
  base_path = Rails.env.production? ? '/admin' : ''
  entity_path = project.new_record? ?
                  request.query_parameters.nil? ?
                    projects_path :
                    projects_path(request.query_parameters)
                  :
                  request.query_parameters.nil? ?
                    project_path(project) :
                    project_path(project, request.query_parameters)
%>
<%= form_with(model: project, local: true, html: { id: 'project-form' },
              url: "#{base_path}#{entity_path}") do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :project_name, class: "form-control", placeholder: t('view.general.name') %>
      <%= form.label :name, t('view.general.name') %>
    </fieldset>

    <input id="original_name" type="hidden" value="<%= project.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      <%= t('view.general.duplicates', model: t('model.project')) %>
    </div>

    <input type="hidden" id="project_desc" name="project[project_description]" />
    <div id="project_desc_editor"> </div>
    
    <fieldset class="form-group mt-2">
      <%= label_tag "origins", t('view.product.index.sources') %>
      <%= form.collection_select(:origin_id, Origin.all.order(:name), :id, :name,
                                { },
                                { class: 'form-control filter-element', style: 'height: calc(1.5em + 0.75rem + 15px) !important' }) %>
    </fieldset>

    <div class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('view.multi-select.assigned.title', model: t('model.organization').to_s.pluralize.humanize) %>
      <% if current_user.roles.include?(User.user_roles[:org_user])%>
        <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true"
           title="<%= t('view.project.form.org-owner-tooltip') %>"></i>
      <% end %>
    </div>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="organization-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>" />
      <label for="country-organization">
        <%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-organizations" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <div class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('view.multi-select.assigned.title', model: t('model.product').to_s.pluralize.humanize) %> 
      <% if current_user.roles.include?(User.user_roles[:product_user]) %>
        <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true"
           title="<%= t('view.project.form.product-owner-tooltip') %>"></i>
      <% end %>
    </div>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="product-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
      <label for="country-product">
        <%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-products" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <div class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.country').to_s.pluralize.humanize %> 
    </div>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="country-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.country').to_s.pluralize) %>" />
      <label for="country-search">
        <%= t('view.multi-select.assigned.label', model: t('model.country').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-countries" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <div class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.tag').titlecase.pluralize %>
    </div>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="tag-search" class="form-control"
              placeholder="<%= t('view.multi-select.assigned.label', model: t('model.tag').pluralize.downcase) %>" />
      <label for="tag-search">
        <%= t('view.multi-select.assigned.label', model: t('model.tag').pluralize.downcase) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-tags" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <fieldset class="float-right mt-4">
      <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => "submit-btn" %>
      <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>

<script>
  <% project.organizations.sort_by{|organization| organization.name }.each do |organization| %>
    addOrganization('<%= organization.id %>', '<%= organization.name %>');
  <% end %>

  <% project.products.sort_by{|product| product.name }.each do |product| %>
    addProduct('<%= product.id %>', '<%= product.name %>');
  <% end %>

  <% project.countries.order("name").each do |country| %>
    addLocation('<%= country.id %>', '<%= country.name %>');
  <% end %>

  <% project.tags.each {|tag| %>
    tagProject('', '<%= tag %>');
  <% } %>

  $("#submit-btn").on('click', function(e) {
    var descHtml = descEditor.html.get()
    $("#project_desc").val(descHtml)
  });

  var descEditor;
  $(document).ready(function() {
    descEditor = new FroalaEditor('#project_desc_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      descEditor.html.set("<%= @project_description.description.nil? ? "" : @project_description.description.squish.gsub("\"","\\\"").html_safe %>")
    });
  });

</script>
