
<div class="col-lg-5ths col-md-4 w-100 mt-2">
  <div class="card index-card">
    <div class="card-header bg-secondary text-white truncate-parent">
      <%= link_to project.name, project, class: 'truncate-text',
        'title': project.name, 'data-toggle': 'tooltip', 'data-placement': 'top' %>
    </div>
    <div class="project-logo-frame ml-2 mt-2">
      <div class="overlay d-none d-lg-block indicator-list">
        <i class="favorite-indicator"
           data-slug="<%= project.slug %>"
           data-favorited="<%= current_user.saved_projects.include?(project.id) unless current_user.nil? %>"
           data-toggle="tooltip"
           data-placement="top" data-original-title="<%= t('view.project.index.toggle-favorite') %>"></i>
      </div>
      <%= link_to(project) do %>
        <div class="text-muted float-left"><%= t('model.organization').to_s.titlecase.pluralize %></div>
        <br>
        <%= image_tag(project.org_image_file, class: 'project-logo align-middle', skip_pipeline: true) %>
        <div class="text-muted float-left"><%= t('model.product').to_s.titlecase.pluralize %></div>
        <br>
        <%= image_tag(project.product_image_file, class: 'project-logo align-middle', skip_pipeline: true) %>
      <% end %>
    </div>
    <div class="card-footer">
      <div class="row h-100">
        <div class="col-10 col-md-12 right-marker">
          <div class="footer-row">
            <%= t('view.project.index.dates') %>:
            <%= !project.start_date.nil? ? project.start_date.strftime("%d/%m/%Y") : '' %>
             - 
            <%= !project.end_date.nil? ? project.end_date.strftime("%d/%m/%Y") : '' %>
          </div>
          <div class="footer-row">
            <%= t('view.project.index.source') %>: 
            <% if !project.origin.nil? %>
              <%= image_tag(project.origin_image_file, class: 'project-footer-img', width: 80) %> 
            <% end %>
          </div>
        </div>
        <div class="col-2 d-md-none h-100 d-flex justify-content-center dropup context-menu">
          <button id="project-context-menu" type="button" class="btn bg-transparent" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-2x align-self-center"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="project-context-menu">
            <% if user_signed_in? && policy(project).mod_allowed? %>
              <%= link_to "#{t('view.general.edit')} #{t('model.project')}",
                          edit_project_path(project), class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%= link_to "#{t('view.general.view')} #{t('model.project')}",
                        project, class: 'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
