
<div class="col-lg-5ths col-md-4 w-100 mt-2">
  <div class="card index-card small">
    <div class="card-header bg-secondary text-white truncate-parent">
      <%= link_to project.name, project, class: 'truncate-text',
        'title' => project.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    </div>
    <div class="project-logo-frame ml-2 mt-2">
      <i class="favorite-indicator"
         data-slug="<%= project.slug %>"
         data-favorited="<%= current_user.saved_projects.include?(project.id) unless current_user.nil? %>"
         data-toggle="tooltip"
         data-placement="top" data-original-title="<%= t('view.project.index.add_favorite') %>"></i>
      <%= link_to(project) do %>
        <div class="text-muted float-left"><%= t('model.organization').to_s.titlecase.pluralize %></div>
        <br>
        <%= image_tag(project.org_image_file, class: 'project-logo align-middle', skip_pipeline: true) %>
        <div class="text-muted float-left"><%= t('model.product').to_s.titlecase.pluralize %></div>
        <br>
        <%= image_tag(project.product_image_file, class: 'project-logo align-middle', skip_pipeline: true) %>
      <% end %>
    </div>
    <div class="card-footer footer-padding">
      <div class="footer-row">
        <%= t('view.project.index.dates') %>:
        <%= !project.start_date.nil? ? project.start_date.strftime("%d/%m/%Y") : '' %>
         - 
        <%= !project.end_date.nil? ? project.end_date.strftime("%d/%m/%Y") : '' %>
      </div>
      <div class="footer-row">
        <%= t('view.project.index.source') %>: 
        <% if !project.origin.nil? %>
          <%= image_tag(project.origin_image_file, class: 'project-footer-img') %> 
        <% end %>
      </div>
    </div>
  </div>
</div>
