<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <div class="float-right">
      <% if user_signed_in? && policy(Project).mod_allowed? %>
        <%= link_to t('view.general.create'), new_project_path, :class => 'small mr-1' %>
      <% end %>
    </div>
  </div>
</div>

<div id="current-list">
  <div id="project-list" data-current-page="1" class="row">
    <%= render @projects %>
  </div>
</div>

<script>
  $(".project-logo-frame").on({
    mouseenter: function() {
      const indicator = $(this).find(".favorite-indicator");
      const favorited = $(indicator).attr("data-favorited");
      if (favorited === "true") {
        indicator.addClass("fas fa-check-circle text-success");
      } else {
        indicator.addClass("fas fa-plus");
      }
      indicator.fadeIn();
    },
    mouseleave: function() {
      $(this).find(".favorite-indicator").fadeOut();
    }
  });

  $(".favorite-indicator").each(function(index, element) {
    $(element).on("click", function(event) {
      const slug = $(element).attr("data-slug");
      const favorited = $(element).attr("data-favorited");

      let path = "favorite_project";
      if (favorited === "true") {
        path = "unfavorite_project";
      }

      $.post(`/projects/${slug}/${path}`, function(data) {
        $("#notifier").trigger({
          type: "notify",
          message: "<%= t('view.notification.favorite-save-notification') %>"
        });
        const parent = $(element).parent();
        $(element).attr("data-favorited", favorited === "true" ? "false" : "true");
        if (favorited !== "true") {
          $(element).removeClass("fa-plus");
          $(element).addClass("fa-check-circle text-success");
        } else {
          $(element).removeClass("fa-check-circle text-success");
          $(element).addClass("fa-plus");
        }
      });
    });
  });
</script>