<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= t('view.general.name') %></th>
      <th><%= t('view.project.index.description') %></th>
      <th><%= t('view.project.index.start-date') %></th>
      <th><%= t('view.project.index.end-date') %></th>
      <th><%= t('view.project.index.budget') %></th>
    </tr>
  </thead>

  <tbody>
    <% if @projects.count > 0 %>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.start_date %></td>
          <td><%= project.end_date %></td>
          <td class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
               <%= t('view.general.action') %>
            </a>
            <div class="dropdown-menu">
              <%= link_to t('view.general.view'), project, :class =>"dropdown-item"  %>
              <% if user_signed_in? && policy(project).mod_allowed? %>
                <div class="dropdown-divider"></div>
                <%= link_to t('view.general.delete'), project, method: :delete, data: { confirm: t('view.gneral.delete-confirmation') }, :class =>"dropdown-item" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <small class="text-muted"><%= t('view.project.index.no-project') %></small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>