
<div class="col-lg-5ths col-md-4 d-flex mt-2">
  <div class="card w-100 index-card">
    <div class="card-header bg-secondary text-white truncate-parent">
      <%= link_to sustainable_development_goal.name, sustainable_development_goal, class: 'truncate-text',
        'title' => sustainable_development_goal.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    </div>
    <div class="model-logo">
      <%= link_to(sustainable_development_goal) do %>
        <%= image_tag(sustainable_development_goal.image_file, class: 'card-img-top align-middle px-2 py-2',
                      alt: t('alt.el-logo', el: sustainable_development_goal.name).humanize) %>
      <% end %>
    </div>
    <div class="card-footer">
      <div class="row h-100">
        <div class="col-10 col-md-12 right-marker">
          <%
            sdg_targets = sdg_footer(sustainable_development_goal, 'sdg_targets')
            if sdg_targets.count > 0
              content = "<div class='footer-row mb-2'>"
              concat(content.html_safe)
              sdg_targets.each do |sdg_target|
                concat(image_tag(sdg_target[:filename], title: sdg_target[:tooltip], alt: sdg_target[:alt_text],
                                 class: 'footer-img mr-1', 'data-toggle': 'tooltip', 'data-placement': 'top'))
              end
              concat('</div>'.html_safe)
            end
            use_cases = sdg_footer(sustainable_development_goal, 'use_cases')
            if use_cases.count > 0
              content = "<div class='footer-row'"
              concat(content.html_safe)
              use_cases.each do |use_case|
                concat(image_tag(use_case[:filename], title: use_case[:tooltip], alt: use_case[:alt_text],
                                 class: 'footer-img mb-1 mr-1', 'data-toggle': 'tooltip', 'data-placement': 'top'))
              end
              concat('</div>'.html_safe)
            end
            if sdg_targets.count == 0
              content = '<div class="footer-row mb-2"></div>'
              concat(content.html_safe)
            end
            if use_cases.count == 0
              content = '<div class="footer-row"></div>'
              concat(content.html_safe)
            end
          %>
        </div>
        <div class="col-2 d-md-none h-100 d-flex justify-content-center dropup context-menu">
          <button id="sdg-context-menu-<%= sustainable_development_goal.id %>" type="button" class="btn bg-transparent" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-2x align-self-center"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sdg-context-menu-<%= sustainable_development_goal.id %>">
            <%= link_to "#{t('view.general.view')} #{t('model.sdg').upcase}",
                        sustainable_development_goal, class: 'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
