<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <% if @sustainable_development_goals.count > 0 %>
    <% @sustainable_development_goals.order(:number).each do |sustainable_development_goal| %>
      <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
        <div class="card index-card">
          <div class="card-header bg-secondary text-white small">
            <%= link_to truncate(sustainable_development_goal.name, length: 23, omission: '&hellip;', escape: false), sustainable_development_goal,
                'title' => sustainable_development_goal.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          </div>
          <div class="model-logo">
            <%= link_to(sustainable_development_goal) do %>
              <%= image_tag(sustainable_development_goal.image_file, class: 'card-img-top align-middle') %>
            <% end %>
          </div>


          <div class="card-footer footer-padding">
            <%
              sdg_targets = sdg_footer(sustainable_development_goal, 'sdg_targets')
              if sdg_targets.count > 0
                content = "<div class='footer-row mb-2' data-toggle='popover' data-placement='bottom'
                                data-html='true' data-content='#{sdg_footer_popover(sdg_targets, 'view.use-case.index.sdg-target-popover')}'>"
                concat(content.html_safe)

                sdg_targets.each do |sdg_target|
                  concat(image_tag(sdg_target[:filename], title: sdg_target[:tooltip],
                                   class: 'footer-img mr-1', 'data-toggle': 'tooltip', 'data-placement': 'top'))
                end
                concat('</div>'.html_safe)
              end

              if sdg_targets.count == 0
                content = '<div class="footer-row mb-2"></div>'
                concat(content.html_safe)
              end
            %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
