  <div class="row mb-4">
    <div id="covid" class="col-md-12 mt-4">
      <h1 class="text-center" style="font-size: 1.8rem;">DIAL Support for COVID-19</h1>
      <div class="m-3 text-left text-muted">
        <p class="text-justify">
        COVID-19 has become the greatest public health crisis of our time. The Digital Impact Alliance (DIAL) has developed this online resource to support organizations and governments in their COVID-19 response. Though this tool was originally developed for the evaluation and deployment of open source digital tools, it can also be leveraged specifically to respond to COVID-19 in three areas:
        </p>
        <ul>
          <li class="text-justify">Provide tools to quickly set up messaging platforms.</li>
          <li class="text-justify">Quickly identify software platforms that can be used to support frontline health workers and organizations who are tracking COVID-19 outbreaks​.</li>
          <li class="text-justify">Link to other resources developed by partner organizations.​</li>
        </ul>
        <div>
          <%= link_to products_path, class: 'no-hover float-right' do %>
            <h5 class="text-primary icon-inline"><%= t("view.about.enter_catalog") %></h5>
            <i class="fas fa-external-link-alt text-muted icon-inline"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#products" data-toggle="tab">Software Products for COVID-19</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mobile" data-toggle="tab">Mobile Messaging Platforms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#resources" data-toggle="tab">Other Resources</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="mobile">
          <h2 class="text-muted mt-3">Using the Online Catalog for Mobile Messaging Response​</h2>
          <div class="col-12 pb-2 text-muted">
            <p class="text-justify pt-2">Governments and organizations need to provide regular information to their constituents. Mobile messaging channels are extremely effective, but can be time-consuming and expensive to set up.</p>
            <p class="text-justify pb-2">But DIAL can help. We have developed relationships with several mobile network aggregators around the world. These aggregators have established relationships with mobile network operators and can configure mobile services very quickly and easily. A mobile messaging solution can be established in a matter of hours.</p>
            <p class="text-justify">The DIAL online catalog lists mobile network service integrators that provide mobile service delivery around the world and services offered.</p>
            <p class="m-2"><%= link_to "Click on this link to see the aggregator map", '/map_aggregators' %></p>
            <%= image_tag("covid-agg1.png", width: '100%') %>
            <p class="m-2"><%= link_to "You can also navigate to the main product page, expand the 'Map Views' section on the left and click on 'Aggregator Map'", '/products' %></p>
          </div>
          <div class="col-12 pt-2 pb-2 text-muted">
            <p class="text-justify">On the map page, click on a country to show which aggregators work in that country. Click on an aggregator in that list to see detailed information about the services that they offer and which network operators they partner with.</p>
            <%= image_tag("covid-agg2.png", width: '100%') %>
          </div>
          <div class="col-12 pt-2 pb-2 text-muted">
            <p class="text-justify">Select an aggregator to view the details for that provider. The Operator Services section shows which services are available by country and which network operators provide those services.</p>
            <p class="text-justify">For example, if you are looking for Bulk SMS services in Kenya, you can expand the SMS menu and see that these services are offered by this aggregator through Safaricom.​</p>
            <%= image_tag("covid-agg4.png", width: '50%', class: "d-none d-md-block") %>
            <%= image_tag("covid-agg4.png", width: '100%', class: "d-block d-md-none") %>
          </div>
          <div class="col-12 pt-2 pb-2 text-muted">
            <p class="text-justify">Alternatively, <a href="https://registry.dial.community/organizations?urlFilter=true&aggregator_only=true">this link</a> will display a page that shows all of the mobile aggregators in the catalog. Select any aggregator to see which countries they work in, which mobile network operators they partner with, and the specific service offerings they provide.​</p>
            <%= image_tag("covid-agg3.png", width: '100%') %>
          </div>
        </div>
        <div class="tab-pane fade" id="products">
          <h2 class="text-muted mt-3">Using the Online Catalog for Product Discovery​</h2>
          <div class="col-12 pt-2 pb-2 text-muted">
            <p class="text-justify pt-2">Governments and organizations are looking for digital tools to help with COVID-19 surveillance, diagnosis, prevention and treatment.<p>
            <p class="text-justify pb-2">However, they may not know that there are mature open source solutions that are ready to be deployed to support these needs.</p>
            <p class="text-justify">The <a href="https://registry.dial.community/products">Online Catalog</a> contains a list of open source products that support the SDGs.</p>
            <p class="text-justify">Users can filter products by the SDGs that they are designed to address, the use cases that they are connected to, or the building blocks that they support.</p>
            <%= image_tag("covid-prod1.png", width: '100%') %>
          </div>
          <div class="col-12 pt-2 pb-2 text-muted">
            <p class="text-justify">Several of the products in the catalog have been tagged as supporting specific functionality needed for COVID-19 response.​</p>
            <p class="text-justify">To see these products, check the 'COVID-19 Only' box next to the search bar.</p>
            <p class="text-justify">Click on a specific product to get detailed information about the product.</p>
            <%= image_tag("covid-prod2.png", width: '100%') %>
          </div>
          <div class="col-12 pt-2 pb-2 text-muted">
            <p class="text-justify">The product details page will provide a description of the product, links to the product website and code repository, as well as other relevant data about the product.​</p>
            <%= image_tag("covid-prod3.png", width: '100%') %>
          </div>
        </div>
        <div class="tab-pane fade" id="resources">
          <h2 class="text-muted mt-3">Other COVID-19 Resources</h2>
          <div class="m-3 text-left text-muted">
            <h5>Johns Hopkins Researchers have published an assessment of Digital Tools for COVID-19 response that can be used by low- and middle-income countries</h5>
            <ul>
              <li><a href="https://www.jhsph.edu/departments/international-health/news/johns-hopkins-researchers-publish-assessment-of-digital-solutions-for-covid-19-response-in-low-and-middle-income-countries.html" target="_blank">View the report here</a></li>
            </ul>
            <h5>The CDC has created a Guide to Digital Tools for COVID-19 response</h5>
            <ul> 
              <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/global-covid-19/compare-digital-tools.html">View the guide here</a></li>
            </ul>
            <h5>Digital Square has a number of resources available to support organizations in their COVID response.</h5>
            <ul>
              <li><a href="https://path.zoom.us/rec/play/vpJ4cLqop243HILDuASDAvYrW9S7K6usgScb8_UEzRm8VXAGNlamNeBBMbbewJNnd8VplC77G3m4hu0O?autoplay=true&startTime=1585575432000" target="_blank">Watch webinar</a> on global goods that have been adapted for COVID-19 response</li>
              <li><a href="https://drive.google.com/file/d/14bqGbDwXnMNWSAZMNUmGLCbcFkIsjPVU/view" target="_blank">View slide deck</a> from webinar</li>
              <li><a href="https://wiki.digitalsquare.io/index.php/Main_Page#Global_Good_Adaptations_to_COVID-19" target="_blank">See the global goods</a> supported by Digital Square and how they have been adapted for COVID-19</li>
            </ul>
            <h5>The New America Foundation has created a Pandemic Response Repository listing digital resources to support governments in COVID response</h5>
            <ul> 
              <li><a href="https://newamericafoundation.github.io/pandemic-response-repository/">View the repository here</a></li>
            </ul>
            <h5>UNDESA has created a Compendium of Digital Government Initiatives in response to the COVID-19 Pandemic</h5>
            <ul> 
              <li><a href="https://publicadministration.un.org/egovkb/Portals/egovkb/Documents/un/2020-Survey/UNDESA%20Compendium%20of%20Digital%20Government%20Initiatives%20in%20Response%20to%20the%20COVID-19%20Pandemic.pdf">View the document here</a></li>
            </ul>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
