<%= form_with(model: building_block, local: true) do |form| %>
  <% if building_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building_block.errors.count, "error") %> prohibited this building_block from being saved:</h2>

      <ul>
      <% building_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :building_block_name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :building_block_slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
