<%= form_with(model: building_block, multipart: true, local: true, html: { id: 'bb-form' }) do |form| %>
  <fieldset class="form-label-group mt-2">
    <%= form.text_field :name, id: :building_block_name, :class => 'form-control', :placeholder => t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <input id="original_name" type="hidden" value="<%= building_block.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.building-block')) %>
  </div>
  
  <fieldset class="custom-file mb-2">
    <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file" />
    <label class="custom-file-label" for="logo-file">
      <%= t('view.general.logo') %>
    </label>
  </fieldset>

  <%
    default_maturity = building_block.maturity.nil? ? BuildingBlock.entity_status_types[:BETA] : building_block.maturity
    if policy(BuildingBlock).beta_only?
  %>
    <fieldset class="form-group mt-1 mb-0">
      <label for="building-block-maturity">
        <%= t('view.building-block.form.maturity-level') %>
      </label>
      <select id="building-block-maturity" class="form-control mb-2" name="building_block[maturity]"
              required="required" disabled="disabled">
        <%= options_for_select(BuildingBlock.entity_status_types
                                            .keys
                                            .map { |status_type| [status_type.titlecase, status_type] }
                                            .sort_by { |label, value| label }, default_maturity) %>
      </select>
    </fieldset>
  <% else %>
    <fieldset class="form-group mt-1 mb-0">
      <label for="building-block-maturity">
        <%= t('view.building-block.form.maturity-level') %>
      </label>
      <select id="building-block-maturity" class="form-control mb-2" name="building_block[maturity]"
              required="required">
        <%= options_for_select(BuildingBlock.entity_status_types
                                            .keys
                                            .map { |status_type| [status_type.titlecase, status_type] }
                                            .sort_by { |label, value| label }, default_maturity) %>
      </select>
    </fieldset>
  <% end %>

  <input type="hidden" id="bb_desc" name="building_block[bb_desc]" />
  <div id="bb_desc_editor"> </div>
  
  <div class="bg-secondary text-white rounded p-3 mb-0 mt-2 original-font-size">
    <%= t('view.multi-select.assigned.title', model: t('model.product').to_s.pluralize.humanize) %>
  </div>
  <% if !@product %>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="product-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
      <label for="product-search">
        <%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>
      </label>
    </fieldset>
    <% end %>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-products" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

  <div class="bg-secondary text-white border rounded p-3 mb-0 original-font-size">
    <%= t('view.multi-select.assigned.title', model: t('model.workflow').to_s.pluralize.humanize) %>
  </div>

  <fieldset class="form-label-group mt-2">
    <input type="text" id="workflow-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.label', model: t('model.workflow').to_s.pluralize) %>" />
    <label for="workflow-search">
      <%= t('view.multi-select.assigned.label', model: t('model.workflow').to_s.pluralize) %>
    </label>
  </fieldset>

  <div class="row">
    <div class="col-12">
      <span id="base-selected-workflows" class="selected-element badge badge-secondary px-1 mb-1">
        <span class="text-label"></span>
        <a onclick="remove(this);" style="cursor: pointer;">
          <i class="fas fa-trash-alt"></i>
        </a>
        <input type="hidden"/>
      </span>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => "submit-btn" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
  <% end %>

<script>
  var descEditor;
  
  <% building_block.products.order("name").each do |product| %>
    addProduct('<%= product.id %>', '<%= product.name %>');
  <% end %>
  <% building_block.workflows.order("name").each do |workflow| %>
    addWorkflow('<%= workflow.id %>', '<%= workflow.name %>');
  <% end %>

  $(document).ready(function() {
    descEditor = new FroalaEditor('#bb_desc_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      descEditor.html.set("<%= !@bb_desc.description.nil? ? "" : @bb_desc.description.squish.gsub("\"","\\\"").html_safe %>")
    });
  });

  $("#submit-btn").on('click', function(e) {
    var descHtml = descEditor.html.get()
    $("#bb_desc").val(descHtml)
  });
</script>
