<div class="card-body">
  <%= form_with(model: building_block, local: true) do |form| %>
    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :building_block_name, :class => "form-control", :placeholder => "Name" %>
      <%= form.label :name %>
    </fieldset>

    <% if !@product %>
      <fieldset class="form-label-group">
        <input type="text" id="product-search" class="form-control" placeholder="Search and assign products ..." />
        <label for="building-block-product">
          Search and assign products ...
        </label>
      </fieldset>
    <% end %>

    <div class="card">
      <h6 class="card-header">Assigned Products</h6>
      <div class="card-body">
        <fieldset id="selected-products">
          <div class="card-columns">
            <div id="base-selected-products" class="card" style="max-width: 20rem;">
              <div class="card-body p-1 d-flex">
                <p class="card-text p-1 m-0" style="flex: 1"></p>
                <% if !@product %>
                  <a class="card-link p-1" onclick="remove(this);">
                    <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
                  </a>
                <% end %>
                <input type="hidden"/>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <fieldset class="float-right mt-4">
      <%= form.submit 'Submit', :class => "btn btn-primary" %>
      <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>
</div>

<script>
  <% building_block.products.sort_by{|product| product.name }.each do |product| %>
    addProduct('<%= product.id %>', '<%= product.name %>');
  <% end %>
</script>
