<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="row">
  <div id="bb-more" class="hidden">
    <section class="hero bg-secondary mb-2 ml-3 mr-3">
      <div class="col-12 ml-4 mt-2 text-white">
        <h5><strong><%= t('model.building-block').to_s.titleize.pluralize %></strong></h5>
        <div id="bb-desc">
          <p class="mr-4"><%= t('view.building-block.index.definition').to_s %></p>
          <strong><%= t('view.general.characteristics').to_s %></strong>
          <ul>
            <% t('view.building-block.index.characteristics').each_line do |point| %>
              <li><%= point %></li>
            <% end %>
          </ul>
          <strong><%= t('view.general.description').to_s %></strong>
          <p class="mr-4"><%= t('view.building-block.index.description').to_s %></p>
          <a href="#" id="bb-show-less" class="bb-show-hide hidden">
            <p class="float-left"><%= t('view.general.show-less').to_s %></p>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="float-left">
      <a href="#" class="bb-show-hide small" id="bb-show-more">
        <%= t('view.general.show-bb').to_s %>
      </a>
      <fieldset class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="mature-only">
        <label class="form-check-label" for="mature-only"><%= t('view.building-block.index.mature_only') %></label>
      </fieldset>
    </div>
    <div class="float-right">
      <% if user_signed_in? && policy(BuildingBlock).create_allowed? %>
        <%= link_to t('view.general.create'), new_building_block_path, :class => 'small ml-1' %>
      <% end %>
    </div>
  </div>
</div>

<div id="current-list">
  <div id="building-block-index" class="row">
    <%= render @building_blocks %>
  </div>
</div>

<script>
  $(".bb-show-hide").on('click', function(e) {
    e.preventDefault()
    $("#bb-more").toggleClass('hidden')
    $("#bb-show-more").toggleClass('hidden')
    $("#bb-show-less").toggleClass('hidden')
  })
</script>
