<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-6">
    <% if user_signed_in? && policy(BuildingBlock).mod_allowed? %>
      <%= link_to t('view.general.create'), new_building_block_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
  <div class="col-6 pr-0">
    <div class="float-right pb-2">
      <%= form_tag(building_blocks_path, :method => "get", id: "search-form", class: "form-inline") do %>
        <%= text_field_tag :search, params[:search],
            placeholder: t('view.general.search-placeholder', model: t('model.building-block').to_s.pluralize),
            class: "form-control" %>
        <div class="input-group-append">
          <%= submit_tag t('view.general.search'), :class => "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% if @building_blocks.count > 0 %>
    <% @building_blocks.each do |building_block| %>
      <div class="col-lg-2 col-md-4 d-flex align-items-stretch mt-2">
        <div class="card index-card">
          <div class="card-header bg-secondary text-white small">
            <%= link_to truncate(building_block.name, length: 25, omission: '&hellip;', escape: false), building_block,
                'title' => building_block.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          </div>
          <div class="model-logo">
            <%= link_to(building_block) do %>
              <%= image_tag(building_block.image_file, class: 'card-img-top align-middle') %>
            <% end %>
          </div>
        
          <div class="card-footer">
            <small>
              <div class="row">
                <div class="col-12">
                  <%= "#{building_block.products.size} #{t('model.product').to_s.pluralize(building_block.products.size)}" %>,
                </div>
                <div class="col-12">
                  <%= "#{building_block.workflows.size}  #{t('model.workflow').to_s.pluralize(building_block.workflows.size)}" %>
                </div>
              </div>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
