<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <% if user_signed_in? && policy(BuildingBlock).mod_allowed? %>
      <%= link_to t('view.general.create'), new_building_block_path, :class => 'float-right small ml-1' %>
    <% end %>
  </div>
</div>

<div id="current-list">
<div id="building-block-index" class="row">
  <% if @building_blocks.count > 0 %>
    <% @building_blocks.each do |building_block| %>
      <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
        <div class="card index-card small">
          <div class="card-header bg-secondary text-white">
            <%= link_to truncate(building_block.name, length: 30, omission: '&hellip;', escape: false), building_block,
                'title' => building_block.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          </div>
          <div class="model-logo">
            <%= link_to(building_block) do %>
              <%= image_tag(building_block.image_file, class: 'card-img-top align-middle') %>
            <% end %>
          </div>

          <div class="card-footer footer-padding">
            <%
              products = bb_footer(building_block, 'products')
              if products.count > 0
                content = "<div class='footer-row' data-toggle='popover' data-placement='bottom'
                                data-html='true' data-content='#{bb_footer_popover(products, 'view.building-block.index.bb-product-popover')}'>"
                concat(content.html_safe)

                products.each do |product|
                  concat(image_tag(product[:filename], title: product[:tooltip],
                                 class: 'footer-img mr-1', 'data-toggle': 'tooltip', 'data-placement': 'top'))
                end
                concat('</div>'.html_safe)
              end

              workflows = bb_footer(building_block, 'workflows')
              if workflows.count > 0
                content = "<div class='footer-row' data-toggle='popover' data-placement='bottom'
                                data-html='true' data-content='#{bb_footer_popover(workflows, 'view.building-block.index.bb-workflow-popover')}'>"
                concat(content.html_safe)
                concat(image_tag(workflows[0][:filename], class: 'footer-img'))
                
                content = "<span class='text-muted ml-1'>#{building_block.workflows.size} #{t('model.workflow').titlecase.pluralize(building_block.workflows.size)}</span>"
                concat(content.html_safe)

                # When we have image for each workflow, we can use the following code.
                # workflows.each do |workflow|
                #   concat(image_tag(workflow[:filename], title: workflow[:tooltip],
                #                   class: 'footer-img', 'data-toggle': 'tooltip', 'data-placement': 'top'))
                # end
                concat('</div>'.html_safe)
              end

              if workflows.count == 0 || products.count == 0
                content = '<div class="footer-row"></div>'
                concat(content.html_safe)
              end
            %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
