<p id="notice"><%= notice %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white">
    Building Block: <%= @building_block.name %>
  </h5>
  <div class="card-body">
    <p class="card-subtitle text-muted mb-3" >
      <strong>Short Description: </strong>
      <%= @bbJson.short_desc %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong>Full Description: </strong>
      <%= @bbJson.full_description %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong>Other names: </strong>
      <%= @bbJson.other_names %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong>Key Digital Functionalities: </strong>
      <% if @digital_functions.count > 0 %>
        <ul>
        <% @digital_functions.each do |digital_func| %>
          <li class="text-muted"><%= digital_func %></li>
        <% end %>
        </ul>
      <% end %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong>Examples of use in different sectors: </strong>
      <% if @bbJson.sector_use.count > 0 %>
        <ul>
        <% @bbJson.sector_use.each do |sector| %>
          <li class="text-muted"><strong><%= sector.name %>: </strong><%= sector.description %>
        <% end %>
        </ul>
      <% end %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong>Examples of Existing Software: </strong>
      <% if @bbJson.existing_software.count > 0 %>
        <ul>
        <% @bbJson.existing_software.each do |software| %>
          <li class="text-muted"><%= software %>
        <% end %>
        </ul>
      <% end %>
    </p>
    <p class="float-right mb-0" >
      <%= link_to 'Back', building_blocks_path, :class => "card-link" %>
      <%= link_to 'Edit', edit_building_block_path(@building_block), :class => "card-link" %>
    </p>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0">Products</h5>
    <%= link_to 'Add', new_product_path, :class => "card-link text-white float-right" %>
  </div>
  <% if @building_block.products.count > 0 %>
    <div class="row">
      <% @building_block.products.each do |product| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body pb-1">
              <h5 class="card-title"><%= link_to product.name, product %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">We don't have any product information for this building block.</p>
  <% end %>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0">Workflows</h5>
  </div>
  <% if @building_block.workflows.count > 0 %>
    <div class="row">
      <% @building_block.workflows.order("name").each do |workflow| %>
        <div class="col-6 col-lg-4 mt-1">
          <div class="card h-100">
            <div class="card-body pb-2 pt-2">
              <p class="card-text text-muted mb-1" style="flex: 1"><%= link_to workflow.name, workflow %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">We don't have any Workflow information for this Building Block.</p>
  <% end %>
</div>
