<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <div class="card-header bg-secondary text-white original-font-size">
    <%= "#{t('model.building-block').to_s.titlecase}: #{@building_block.name}" %>
    <div class="float-right mr-2 text-white"> 
      <%= t('view.building-block.index.maturity').to_s %>:
      <%= @building_block.maturity %>
    </div>
  </div>
  <%= image_tag(@building_block.image_file,
                alt: t('alt.el-logo', el: @building_block.name).humanize,
                class: 'card-img-top px-2 py-2 mx-auto',
                style: 'width: auto; height: 250px;') %>
  <div class="card-body">
    <div id="bb-viewer" class="wysiwyg-viewer">
      <%= @bb_desc.description.html_safe %>
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), building_blocks_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@building_block).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_building_block_path(@building_block), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>

<% if session[:building_block_elevated_role].to_s.downcase == 'true' %>
  <div class="alert alert-info mt-2 mb-n3">
    <%= t('view.building-block.show.request-elevation',
        href: link_to(t('view.general.this-link'), new_candidate_role_path, class: 'card-link')).html_safe %>
  </div>
<% end %>

<% if !@building_block.products.nil? && @building_block.products.count > 0 %>
  <div class="mt-2">
    <div class="rounded bg-secondary text-white card-header original-font-size">
      <%= t('model.product').to_s.pluralize.humanize %>
    </div>
    <div class="row">
      <% @building_block.product_building_blocks.each do |bb_product| %>
        <div class="col-6 col-md-3 mt-2">
          <div class="card">
            <div class="d-flex flex-row align-self-center">
              <%= link_to bb_product.product do %>
                <%= image_tag(bb_product.product.image_file, height: 75,
                              alt: t('alt.el-logo', el: bb_product.product.name).humanize,
                              class: 'card-image-top align-middle p-1') %>
              <% end %>
              <div class="card-body align-middle my-auto px-2 py-2">
                <%= link_to bb_product.product.name, bb_product.product %>
              </div>
            </div>
            <div class="text-muted text-center"><%= bb_product.mapping_status %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @building_block.workflows.count > 0 %>
  <div class="mt-2">
    <div class="rounded bg-secondary text-white card-header original-font-size">
      <%= t('model.workflow').to_s.pluralize.humanize %>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <div class="card h-100">
          <div class="card-body py-2">
            <% @building_block.workflows.order("name").each do |workflow| %>
              <%= link_to(workflow, style: 'text-decoration: none;') do %>
                <%= image_tag(workflow.image_file, class: 'footer-img mr-1 workflow-filter',
                              alt: t('alt.el-logo', el: workflow.name).humanize,
                              title: workflow.name, 'data-toggle': 'tooltip', 'data-placement': 'top') %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="mt-2">
  <div class="rounded bg-secondary text-white card-header original-font-size">
    <%= t('view.general.comment').to_s.titlecase.pluralize %>
  </div>
</div>

