<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.building-block').to_s.titlecase}: #{@building_block.name}" %>
  </h5>
  <div class="card-body">
    <div class="text-center">
      <%= image_tag(@building_block.image_file, class: 'w-25 rounded mx-auto d-block') %>
    </div>
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.building-block.show.short-description') %>: </strong>
      <%= @bbJson.short_desc %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.building-block.show.full-description') %>: </strong>
      <%= @bbJson.full_description %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.building-block.show.other-names') %>: </strong>
      <%= @bbJson.other_names %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.building-block.show.key-functionalities') %>: </strong>
      <% if @digital_functions.count > 0 %>
        <ul>
        <% @digital_functions.each do |digital_func| %>
          <li class="text-muted"><%= digital_func %></li>
        <% end %>
        </ul>
      <% end %>
    </p>
    <p class="card-subtitle text-muted mb-3" >
      <strong><%= t('view.building-block.show.example-of-use') %>: </strong>
      <% if @bbJson.sector_use && @bbJson.sector_use.count > 0 %>
        <ul>
        <% @bbJson.sector_use.each do |sector| %>
          <li class="text-muted"><strong><%= sector.name %>: </strong><%= sector.description %>
        <% end %>
        </ul>
      <% end %>
    </p>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), building_blocks_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@building_block).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_building_block_path(@building_block), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.product').to_s.pluralize.humanize %></h5>
  </div>
  <div class="row">
  <% if @building_block.products %>
    <% @building_block.products.each do |product| %>
      <div class="col-6 col-lg-4 mt-2">
        <div class="card h-100">
          <div class="card-body pb-1">
            <%= link_to product do %>
              <%= image_tag(product.image_file, height: 75, class: 'align-middle') %>
              <h5 class="card-title ml-3" style="display:inline;"><%= link_to product.name, product %></h5>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @bbJson.commercial_software %>
    <% @bbJson.commercial_software.each do |product| %>
      <div class="col-6 col-lg-4 mt-2">
        <div class="card h-100">
          <div class="card-body pb-1" style="display:flex; align-items:center;">
            <h5 class="card-title text-muted"><%= product %></h5>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<div class="mt-4 mb-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.workflow').to_s.pluralize.humanize %></h5>
  </div>
  <% if @building_block.workflows.count > 0 %>
    <div class="row">
      <% @building_block.workflows.order("name").each do |workflow| %>
        <div class="col-6 col-lg-4 mt-1">
          <div class="card h-100">
            <div class="card-body pb-2 pt-2">
              <p class="card-text text-muted mb-1" style="flex: 1"><%= link_to workflow.name, workflow %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.building-block'), multi: t('model.workflow').to_s.pluralize) %>
    </p>
  <% end %>
</div>
