<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-8 mb-2">
    <% if user_signed_in? && policy(@candidate_organization).mod_allowed? %>
      <%= link_to 'Delete this organization', @organization, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>
<div class="border rounded bg-secondary text-white clearfix border card-header">
  <h5 class="float-left mb-0">
    <%= "#{t('model.candidate-organization').to_s.humanize}:  #{@candidate_organization.name}" %>
  </h5>
</div>

<div class="mt-2">
  <div class="row">
    <div class="col-lg-8 col-12">
      <p class="m-2">
        <strong><%= "#{t('view.organization.form.website')}:" %></strong>
        <%= link_to @candidate_organization.website.downcase.strip, "//#{@candidate_organization.website.downcase.strip}", target: :_blank %>
      </p>
    </div>
  </div>
  <p class="float-right mb-0 mr-2" >
    <% if user_signed_in? && policy(@candidate_organization).mod_allowed? %>
      <%= link_to 'Back', candidate_organizations_path, :class => "card-link" %>
      <%= link_to 'Edit', edit_candidate_organization_path(@candidate_organization), :class => "card-link" %>
    <% end %>
  </p>
</div>
