<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="container-fluid">
  <%= image_tag(@handbook.image_file, class: 'card-img-top align-middle inline', skip_pipeline: true) %>
  <div class="inline"><%= @handbook.name %></div>
</div>

<div id="show-handbook">
<div class="card mt-2">
  
    <div class="card-body py-2 px-3">
      <div id="<%= @handbook.slug %>-overview" class="wysiwyg-viewer">
        <%= @description.overview.html_safe %>
      </div>
    </div>
    <div class="card-header border-0">
        <div class="float-left mb-0 font-weight-bold"><%= t('view.handbook.index.audience') %>:</div>
    </div>
    <div class="card-body py-2 px-3">
      <div id="<%= @handbook.slug %>-audience" class="wysiwyg-viewer">
        <%= @description.audience.html_safe %>
      </div>
    </div>
    <div class="card-header border-0">
        <div class="float-left mb-0 font-weight-bold"><%= t('view.handbook.index.outcomes') %>:</div>
    </div>
    <div class="card-body py-2 px-3">
      <div id="<%= @handbook.slug %>-outcomes" class="wysiwyg-viewer">
      <%= @description.outcomes.html_safe %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header border-0">
        <div class="float-left mb-0 font-weight-bold"><%= t('view.handbook.index.phases') %>:</div>
      </div>
      <div class="card-body p-0">
        <% @handbook.phases.each do |phase| %>
          <div class="ml-5 mt-2 mb-3">
          <strong><%= phase["name"] %>: </strong><%= phase["description"] %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header border-0">
        <div class="float-left mb-0 font-weight-bold"><%= t('model.activity').pluralize.titlecase %></div>
      </div>
      <div class="card-body p-0">
        <% if @handbook.activities.count > 0 %>
          <div class="accordion" id='<%= "#{@handbook.slug}_accordion" %>'>
            <% @handbook.activities.each do |activity| %>
              <div class="card border-right-0 border-left-0 border-bottom-0">
                <div id='<%= "#{activity.slug}_header" %>' class="card-header" 
                   data-toggle="collapse" data-target='#<%= "#{activity.slug}_collapse" %>'
                   aria-expanded="true" aria-controls='<%= "#{activity.slug}_collapse" %>'>
                  <div class="mb-0 float-left font-weight-bold">
                    <%= activity.name %>&nbsp;
                  </div>
                  (<%= activity.phase %>)
                </div>
                <div class="card-body p-3">
                  <div id='<%= "#{activity.slug}_viewer" %>'>
                    <%= activity.description %>
                  </div>
                </div>
                <div class="card-body p-0">
                  <% activity.resources.each do |resource| %>
                    <div class="ml-4 mt-2">
                    <strong><%= resource["name"] %>: </strong><%= resource["description"] %>
                    </div>
                    <div class="ml-5 mb-3">
                    <a href="<%= resource["url"] %>"><%= resource["url"] %></a>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header border-0">
                  <div class="float-left mb-0 font-weight-bold"><%= t('model.task').pluralize.titlecase %></div>
                </div>
                <div class="card-body p-0">
                  <% if activity.tasks.count > 0 %>
                    <div class="accordion" id='<%= "#{activity.slug}_accordion" %>'>
                      <% activity.tasks.each do |task| %>
                        <div class="card border-right-0 border-left-0 border-bottom-0">
                          <div class="mb-0 float-left font-weight-bold">
                            <%= task.name %>
                          </div>
                          <div id='<%= "#{task.slug}_collapse" %>' >
                            <div class="card-body p-3">
                              <div id='<%= "#{task.slug}_viewer" %>'>
                                <%= task.description %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="alert alert-light mb-0" role="alert">
                      <%= t('view.activity.index.no-data') %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% else %>
            <div class="alert alert-light mb-0" role="alert">
              <%= t('view.handbook.index.no-activity') %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-footer border-0">
        <div class="float-right mb-0">
          <% if user_signed_in? && policy(Handbook).mod_allowed? %>
            <%= link_to t('view.general.edit'), edit_handbook_path(@handbook), class: "card-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
