<div class="card mt-2">
  <div class="card-body py-3 px-3">
    <div>
      <strong>
        <%= "#{@candidate_role.email}" %>
      </strong>
    </div>
    <div>
      <span class="text-muted"><%= t('view.candidate-role.index.request-roles') %></span>:
      <%=
        @candidate_role.roles
                       .map { |role| t("view.user.role.#{role}") }
                       .join(', ')
      %>
    </div>
    <div>
      <span class="text-muted"><%= t('view.candidate-role.index.request-status') %></span>:
      <% if @candidate_role.rejected.nil? %>
        <%= t('view.candidate-role.index.new') %>
        on
        <%= @candidate_role.created_at.strftime('%m/%d/%Y - %H:%M') %>
      <% elsif @candidate_role.rejected %>
        <%= t('view.candidate-role.index.rejected') %>
        on
        <%= @candidate_role.rejected_date.strftime('%m/%d/%Y - %H:%M') %>
      <% else %>
        <%= t('view.candidate-role.index.approved') %>
        on
        <%= @candidate_role.approved_date.strftime('%m/%d/%Y - %H:%M') %>
      <% end %>
    </div>
    <div class="text-muted">
      <span class="text-muted"><%= t('view.candidate-role.index.request-reason') %></span>:
    </div>
    <div id="tag-viewer" class="wysiwyg-viewer">
      <%= @candidate_role.description.html_safe %>
    </div>
    <p class="float-right mb-0">
      <%= link_to t('view.general.back'), candidate_roles_path, class: "card-link" %>
      <% if user_signed_in? && policy(@candidate_role).mod_allowed? %>
        <% if @candidate_role.rejected.nil? %>
          <%= link_to t('view.candidate-role.index.approve'),
                      approve_candidate_role_path(@candidate_role),
                      method: :post, class: "card-link"  %>
          <%= link_to t('view.candidate-role.index.reject'),
                      reject_candidate_role_path(@candidate_role),
                      method: :post, class: "card-link"  %>
        <% end %>
        <% if @candidate_role.rejected %>
          <%= link_to t('view.candidate-role.index.approve'),
                      approve_candidate_role_path(@candidate_role),
                      method: :post, class: "card-link"  %>
        <% end %>
        <%= link_to t('view.general.edit'), edit_candidate_role_path(@candidate_role), class: "card-link" %>
      <% end %>
    </p>
  </div>
</div>

