<% base_path = Rails.env.production? ? '/admin/' : '' %>
<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<% if user_signed_in? && policy(PortalView).mod_allowed? %>
  <%= link_to base_path + new_portal_view_path, class: 'btn btn-outline-secondary float-left ml-1' do %>
    <span class="d-none d-md-block"><%= t('view.general.create') %></span>
    <span class="d-block d-md-none">
      <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
    </span>
  <% end %>
<% end %>
<div class="form-group float-right mb-2">
  <%= form_tag(portal_views_path, method: "get", id: "search-form", class: "form-inline") do %>
    <%= text_field_tag :search, params[:search], class: "form-control",
        placeholder: t('view.general.search-placeholder', model: t('model.portal-view').to_s.pluralize) %>
    <div class="input-group-append">
      <%= submit_tag t('view.general.search'), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th class="d-none d-md-table-cell"><%= t('view.general.name') %></th>
      <th class="d-none d-md-table-cell"><%= t('view.general.description') %></th>
      <th class="d-none d-md-table-cell"><%= t('view.filternav.top-nav') %></th>
      <th class="d-none d-md-table-cell"><%= t('view.filternav.filter-nav') %></th>
      <th class="d-none d-md-table-cell"><%= t('view.filternav.user-role') %></th>
      <th class="d-table-cell d-md-none"><%= t('model.portal-view').titlecase %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @portal_views.count > 0 %>
      <% @portal_views.each do |portal_view| %>
        <tr>
          <td class="d-none d-md-table-cell"><%= portal_view.name %></td>
          <td class="d-none d-md-table-cell"><%= portal_view.description %></td>
          <td class="d-none d-md-table-cell">
            <%= portal_view.top_navs
                           .map { |key| I18n.translate("view.filternav.#{key}") }
                           .join(', ') %>
          </td>
          <td class="d-none d-md-table-cell">
            <%= portal_view.filter_navs
                           .map{ |key| I18n.translate("view.filternav.#{key}") }
                           .join(', ') %>
          </td>
          <td class="d-none d-md-table-cell">
            <%= portal_view.user_roles
                           .map{ |key| I18n.translate("view.user.role.#{key}") }
                           .join(', ') %>
          </td>
          <td class="d-table-cell d-md-none">
            <strong><%= portal_view.name %></strong>
            <div class="text-muted">
              <%= portal_view.description %>
            </div>
            <div class="text-muted">
              <span class="font-weight-bold"><%= t('view.filternav.top-nav') %>:</span>
              <%= portal_view.top_navs
                             .map { |key| I18n.translate("view.filternav.#{key}") }
                             .join(', ') %>.
            </div>
            <div class="text-muted">
              <span class="font-weight-bold"><%= t('view.filternav.top-nav') %>:</span>
              <%= portal_view.filter_navs
                             .map{ |key| I18n.translate("view.filternav.#{key}") }
                             .join(', ') %>.
            </div>
            <div class="text-muted">
              <span class="font-weight-bold"><%= t('view.filternav.user-role') %>:</span>
              <%= portal_view.user_roles
                             .map{ |key| I18n.translate("view.user.role.#{key}") }
                             .join(', ') %>.
            </div>
          </td>
          <td class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false" style="padding-top: 0;">
               <%= t('view.general.action') %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to t('view.general.view'), base_path + portal_view_path(portal_view), :class =>"dropdown-item" %>
              <% if user_signed_in? && policy(portal_view).mod_allowed? %>
                <%= link_to t('view.general.edit'), base_path + edit_portal_view_path(portal_view), :class =>"dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to t('view.general.delete'), portal_view_path(portal_view), method: :delete,
                    data: { confirm: t('view.general.delete-confirmation', model: t('model.portal-view')) },
                    class: "dropdown-item" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <small class="text-muted"><%= t('view.portal_view.index.no-data') %></small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @portal_views, class: 'float-right digg-pagination', inner_window: 1 %>
