<div class="card-body">
  <%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %>
        prohibited this organization from being saved:
      </h2>

      <ul>
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>`
      </ul>
    </div>
  <% end %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :organization_name, :class => "form-control", :placeholder => "Name" %>
    <%= form.label :name %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :slug, id: :organization_slug, :class => "form-control", :placeholder => "Slug" %>
    <%= form.label :slug %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :when_endorsed, :value => organization.when_endorsed.blank? ? '' : organization.when_endorsed.strftime("%m/%d/%Y"), id: :organization_when_endorsed, :class => "form-control data-date", :placeholder => "When endorsed" %>
    <%= form.label :when_endorsed %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :website, id: :organization_website, :class => "form-control", :placeholder => "Website" %>
    <%= form.label :website %>
  </fieldset>

  <fieldset class="form-group form-check">
    <%= form.check_box :is_endorser, id: :organization_is_endorser, :class => "form-check-input" %>
    <%= form.label :is_endorser, :class => "form-check-label" %>
  </fieldset>

  <fieldset class="form-label-group">
    <input type="text" id="sector-search" class="form-control" placeholder="Search and assign sectors ..." />
    <label for="sector-search">
      Search and assign sectors ...
    </label>
  </fieldset>

  <fieldset id="selected-sectors" class="d-flex flex-wrap">
    <div id="base-selected-sectors" class="card mr-2 mb-2" style="max-width: 20rem;">
      <div class="card-body p-1 d-flex">
        <p class="card-text p-1 m-0" style="flex: 1"></p>
        <a class="card-link p-1" onclick="remove(this);">
          <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
        </a>
        <input type="hidden"/>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-label-group">
    <input type="text" id="country-search" class="form-control" placeholder="Search and assign countries ..." />
    <label for="country-search">
      Search and assign countries ...
    </label>
  </fieldset>

  <fieldset id="selected-countries" class="d-flex flex-wrap">
    <div id="base-selected-countries" class="card mr-2 mb-2" style="max-width: 20rem;">
      <div class="card-body p-1 d-flex">
        <p class="card-text p-1 m-0" style="flex: 1"></p>
        <a class="card-link p-1" onclick="remove(this);">
          <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
        </a>
        <input type="hidden"/>
      </div>
    </div>
  </fieldset>

  <fieldset class="float-right">
    <%= form.submit 'Submit', :class => "btn btn-primary" %>
    <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>
</div>

<script>
  <% organization.sectors.order("name").each do |sector| %>
    addSector('<%= sector.id %>', '<%= sector.name %>');
  <% end %>
  <% organization.locations.where.not(location_type: 'point').order("name").each do |location| %>
    addLocation('<%= location.id %>', '<%= location.name %>');
  <% end %>
</script>
