
  <div class="card-body">
    <%= form_with(model: organization, local: true) do |form| %>
      <% if organization.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(organization.errors.count, "error") %>
            prohibited this organization from being saved:
          </h2>

          <ul>
            <% organization.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>`
          </ul>
        </div>
      <% end %>

      <fieldset class="form-label-group">
        <%= form.text_field :name, id: :organization_name, :class => "form-control", :placeholder => "Name" %>
        <%= form.label :name %>
      </fieldset>

      <fieldset class="form-label-group">
        <%= form.text_field :slug, id: :organization_slug, :class => "form-control", :placeholder => "Slug" %>
        <%= form.label :slug %>
      </fieldset>

      <fieldset class="form-label-group">
        <%= form.text_field :when_endorsed, id: :organization_when_endorsed, :class => "form-control", :placeholder => "When endorsed" %>
        <%= form.label :when_endorsed %>
      </fieldset>

      <fieldset class="form-label-group">
        <%= form.text_field :website, id: :organization_website, :class => "form-control", :placeholder => "Website" %>
        <%= form.label :website %>
      </fieldset>

      <fieldset class="form-group form-check">
        <%= form.check_box :is_endorser, id: :organization_is_endorser, :class => "form-check-input" %>
        <%= form.label :is_endorser, :class => "form-check-label" %>
      </fieldset>

      <fieldset class="form-group">
        <%= form.label :organization_sectors %>
        <select size="8" class="form-control" multiple="multiple" id="organization_sectors_selector" name="organization_sectors"></select>
      </fieldset>

      <fieldset class="float-right">
        <%= form.submit 'Submit', :class => "btn btn-primary" %>
        <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
      </fieldset>
    <% end %>
  </div>
