  <%= form_with(model: organization, multipart: true, local: true) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :organization_name, :class => "form-control", :placeholder => "Name" %>
      <%= form.label :name %>
    </fieldset>

    <input id="original_name" type="hidden" value="<%= organization.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      One or more organization(s) with similar name already exists.
    </div>
  
    <fieldset class="custom-file">
      <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file" />
      <label class="custom-file-label" for="logo-file">Pick logo</label>
    </fieldset>

    <fieldset class="form-label-group mt-2">
      <%= form.text_field :when_endorsed, :value => organization.when_endorsed.blank? ? '' : organization.when_endorsed.strftime("%m/%d/%Y"), id: :organization_when_endorsed, :class => "form-control data-date", :placeholder => "When endorsed" %>
      <%= form.label :when_endorsed %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= form.text_field :website, id: :organization_website, :class => "form-control", :placeholder => "Website" %>
      <%= form.label :website %>
    </fieldset>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      Contact
    </h6>

    <% if organization.new_record? %>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="contact-name" name="contact[name]" class="form-control" placeholder="Name" required=true />
        <label for="contact-name">
          Name
        </label>
      </fieldset>

      <fieldset class="form-label-group">
        <input type="text" id="contact-email" name="contact[email]" class="form-control" placeholder="Email" />
        <label for="contact-email">
          Email
        </label>
      </fieldset>

      <fieldset class="form-label-group">
        <input type="text" id="contact-title" name="contact[title]" class="form-control" placeholder="Title" />
        <label for="contact-title">
          Title
        </label>
      </fieldset>
    <% end %>

    <% if organization.persisted? %>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="contact-search" name="contact_label" class="form-control" placeholder="Contacts" />
        <label for="contact-label">
          Contacts
        </label>
      </fieldset>
      <div class="row">
        <div id="base-selected-contacts" class="col-6 col-lg-4 mb-2">
          <div class="card h-100">
            <div class="p-2 clearfix">
              <p class="mb-0 float-left"></p>
              <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
                <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
              </a>
              <input type="hidden"/>
              <input type="hidden"/>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      Offices
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="office-label" name="office_label" class="form-control" placeholder="Office Location" />
      <label for="office-label">
        Office Locations
      </label>
    </fieldset>
    <div class="row">
      <div id="base-selected-offices" class="col-6 col-lg-4 mb-2">
        <div class="card h-100">
          <div class="p-2 clearfix">
            <p class="mb-0 float-left"></p>
            <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
            </a>
            <input type="hidden"/>
            <input type="hidden"/>
          </div>
        </div>
      </div>
    </div>

    <fieldset class="form-group form-check">
      <%= form.check_box :is_endorser, id: :organization_is_endorser, :class => "form-check-input" %>
      <%= form.label :is_endorser, :class => "form-check-label" %>
    </fieldset>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      Sectors
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="sector-search" class="form-control" placeholder="Search and assign sectors ..." />
      <label for="sector-search">
        Search and assign sectors ...
      </label>
    </fieldset>
    <div class="row">
      <div id="base-selected-sectors" class="col-6 col-lg-4 mb-2">
        <div class="card h-100">
          <div class="p-2 clearfix">
            <p class="mb-0 float-left"></p>
            <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
            </a>
            <input type="hidden"/>
          </div>
        </div>
      </div>
    </div>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      Products
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="product-search" class="form-control" placeholder="Search and assign products ..." />
      <label for="product-search">
        Search and assign products ...
      </label>
    </fieldset>
    <div class="row">
      <div id="base-selected-products" class="col-6 col-lg-4 mb-2">
        <div class="card h-100">
          <div class="p-2 clearfix">
            <p class="mb-0 float-left"></p>
            <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
            </a>
            <input type="hidden"/>
          </div>
        </div>
      </div>
    </div>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      Countries
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="country-search" class="form-control" placeholder="Search and assign countries ..." />
      <label for="country-search">
        Search and assign countries ...
      </label>
    </fieldset>
    <div class="row">
      <div id="base-selected-countries" class="col-6 col-lg-4 mb-2">
        <div class="card h-100">
          <div class="p-2 clearfix">
            <p class="mb-0 float-left"></p>
            <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
            </a>
            <input type="hidden"/>
          </div>
        </div>
      </div>
    </div>

    <fieldset class="float-right mt-4">
      <%= form.submit 'Submit', :class => "btn btn-primary" %>
      <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>

<script>
  <% organization.sectors.order("name").each do |sector| %>
    addSector('<%= sector.id %>', '<%= sector.name %>');
  <% end %>
  <% organization.products.order("name").each do |product| %>
    addProduct('<%= product.id %>', '<%= product.name %>');
  <% end %>
  <% organization.locations.where.not(location_type: 'point').order("name").each do |location| %>
    addLocation('<%= location.id %>', '<%= location.name %>');
  <% end %>
  <% organization.locations.where(location_type: 'point').order("name").each do |location| %>
    addOffice('<%= location.name %>', '<%= location.id %>', null);
  <% end %>
  <% organization.contacts.order("name").each do |contact| %>
    addContact('<%= contact.id %>', '<%= contact.name %>');
  <% end %>
</script>
