
<div class="col-lg-5ths col-md-4 d-flex mt-2">
  <div class="card w-100 index-card">
    <div class="card-header bg-secondary text-white truncate-parent">
      <%= link_to organization.name, organization, class: 'truncate-text',
          'title' => organization.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    </div>
    <div class="model-logo">
      <%= link_to(organization) do %>
        <%= image_tag(organization.image_file, class: 'card-img-top align-middle',
                      alt: t('alt.el-logo', el: organization.name).humanize,
                      skip_pipeline: true) %>
      <% end %>
    </div>
    <div class="card-footer py-2">
      <div class="row h-100">
        <div class="col-10 col-md-12 right-marker">
          <% if organization.website.present? %>
            <small>
              <a href="<%= "//" + organization.website %>"
                 aria-label="<%= "#{organization.name} #{t('view.organization.form.website')}." %>"
                 target="_blank" rel="noreferrer noopener">
                <%= t('view.organization.form.website').to_s.downcase %> &#x29c9;
              </a>
            </small>
            <br/>
          <% end %>
          <% if organization.is_endorser %>
            <small class="text-muted">
              <%= raw "#{image_tag('digiprins.png', width: 16, 
                                   alt: t('alt.el-logo', el: "Principles for Digital Development").humanize)}
                       #{t('view.organization.index.endorsed-date')}
                       #{organization.when_endorsed.year}" %>
            </small>
          <% end %>
        </div>
        <div class="col-2 d-md-none h-100 d-flex justify-content-center dropup context-menu">
          <button id="organization-context-menu-<%= organization.id %>" type="button" class="btn bg-transparent" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-2x align-self-center"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="organization-context-menu-<%= organization.id %>">
            <% if user_signed_in? && policy(organization).mod_allowed? %>
              <%= link_to "#{t('view.general.edit')} #{t('model.organization')}",
                          edit_organization_path(organization), class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%= link_to "#{t('view.general.view')} #{t('model.organization')}",
                        organization, class: 'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
