<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <% if user_signed_in? && policy(Organization).mod_allowed? %>
      <%= link_to t('view.general.create'), new_organization_path, :class => 'float-right small ml-1' %>
      <%= link_to t('view.organization.index.view-audit'), audits_path("Organization"), :class => 'float-right small ml-1' %>
    <% end %>
    <%= form_with(url: export_path, :method => :get, :data => {remote: false}, :class => 'inline-form'  ) do | form | %>
      <%= form.hidden_field :export_contacts, :value => false %>
      <%= form.submit t('view.organization.index.export'), class: 'btn btn-link float-right pt-0', style: 'color: #fbab18', data: { disable_with: false } %>
      <% if user_signed_in? && policy(Organization).export_contacts_allowed? %>
        <fieldset class="form-check">
          <%= form.check_box :export_contacts, {id: 'export_contacts', class: "form-check-input checkbox-align"}, true, false %>
          <label class="form-check-label text-muted" for="export_contacts">
            <%= t('view.organization.index.export-option') %>
          </label>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>

<div id="current-list">
<div class="row">
  <% @organizations.each do |organization| %>
    <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
      <div class="card index-card small">
        <div class="card-header bg-secondary text-white">
          <%= link_to truncate(organization.name, length: 30, omission: '&hellip;', escape: false), organization,
              'title' => organization.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
        </div>
        <div class="model-logo">
          <%= link_to(organization) do %>
            <%= image_tag(organization.image_file, class: 'card-img-top align-middle') %>
          <% end %>
        </div>
        <% if organization.is_endorser %>
          <div class="card-footer">
            <% if organization.website.present? %>
              <small>
                <a href="<%= "//" + organization.website %>" target="_new">
                  <%= t('view.organization.form.website').to_s.downcase %> &#x29c9;
                </a>
              </small>
              <br/>
            <% end %>
            <small class="text-muted">
              <%= raw "#{image_tag('digiprins.png', width: 16)} #{t('view.organization.index.endorsed-date')}  #{organization.when_endorsed.year}" %>
            </small>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
