<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table class="table">
  <caption>List of organizations</caption>
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>When endorsed</th>
      <th>Website</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.when_endorsed.strftime("%m/%d/%Y") %></td>
        <td><%= link_to organization.website.downcase.strip.sub('https://', '').sub('http://', ''),  organization.website.downcase.strip %></td>
        <td class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Action</a>
          <div class="dropdown-menu">
            <%= link_to 'View', organization, :class =>"dropdown-item" %>
            <%= link_to 'Edit', edit_organization_path(organization), :class =>"dropdown-item"  %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Remove', organization, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"dropdown-item"  %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
