<p id="notice">
  <%= notice %>
</p>

<%= link_to "Export", export_path, :class => 'btn btn-outline-secondary float-left ml-1', target: "_blank" %>
<%= link_to 'Create New', new_organization_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
<div class="float-right pb-2">
  <%= form_tag(organizations_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search organizations ...", :class => "form-control" %>
  <div class="input-group-append">
    <%= submit_tag "Search", :class => "btn btn-secondary" %>
  </div>
<% end %>
</div>
<br clear="both"/>

<div class="row">
  <% @organizations.each do |organization| %>
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-3">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <%= link_to organization.name, organization %>
        </div>
        <%= image_tag(organization.image_file, width: 200, class: 'card-img-top align-middle') %>
        <div class="card-body">
          <% if organization.website.present? %>
          <p class="card-text">
            <small>
              <a href="<%= organization.website %>" target="_new">
                <%= organization.website %> &#x29c9;
              </a>
            </small>
          </p>
          <% end %>
        </div>
        <% if organization.is_endorser %>
          <div class="card-footer">
            <small class="text-muted">
              <%= image_tag('digiprins.png', width: 16) %> Endorser since <%= organization.when_endorsed.year %>
            </small>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
