<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<%= link_to "Export", export_path, :class => 'btn btn-outline-secondary float-left ml-1', target: "_blank" %>
<% if user_signed_in? && policy(Organization).mod_allowed? %>
  <%= link_to 'Create New', new_organization_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
<% end %>
<div class="float-right pb-2">
  <%= form_tag(organizations_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search organizations ...", :class => "form-control" %>
  <div class="input-group-append">
    <%= submit_tag "Search", :class => "btn btn-secondary" %>
  </div>
<% end %>
</div>
<br clear="both"/>

<div class="row">
  <% @organizations.each do |organization| %>
    <div class="col-lg-2 col-md-5 d-flex align-items-stretch mt-2">
      <div class="card index-card">
        <div class="card-header bg-secondary text-white small">
          <%= link_to truncate(organization.name, length: 23, omission: '&hellip;', escape: false), organization,
              'title' => organization.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
        </div>
        <%= image_tag(organization.image_file, width: 200, class: 'card-img-top align-middle') %>
        <% if organization.is_endorser %>
          <div class="card-footer">
            <% if organization.website.present? %>
              <small>
                <a href="<%= "//" + organization.website %>" target="_new">
                   website &#x29c9;
                </a>
              </small><br/>
            <% end %>
            <small class="text-muted">
              <%= image_tag('digiprins.png', width: 16) %> Endorsed in <%= organization.when_endorsed.year %>
            </small>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
