<% content_for(:header_scripts) do %>
<% end %>
<div class="row">
  <div id="left-filter" class="col-12 col-md-3 col-lg-5ths d-none d-md-block nav-container bg-dark">
    <div class="card border-bottom-0">
      <div class="card-header bg-secondary text-white">
        <div class="nav-header mb-0 original-font-size"><%= t('view.filternav.map-filtering') %></div>
      </div>
      <div class="card-body bg-dark">
        <div class="row">
          <div class="col-12 pl-2">
            <label for="sector" class="align-middle text-white"><%= t('view.filternav.sectors') %></label>
            <select id="sector" class="custom-select mb-2">
              <option value=-1>
                <%= t('view.organization.map.all-sectors') %>
              </option>
            </select>
            <label for="year" class="align-middle text-white"><%= t('view.filternav.years') %></label>
            <select id="year" class="custom-select">
              <option value=-1>
                <%= t('view.organization.map.all-years') %>
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="right-content" class="col-12 col-md-9 col-lg-45ths">
    <div class="card">
      <div class="card-header bg-secondary text-white original-font-size">
        <div id="loading-spinner" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <%= t('view.organization.map.title') %>
        <div class="float-right">
          <%= link_to products_path, class: 'no-hover' do %>
            <div class="text-white icon-inline original-font-size"><%= t("view.about.return_catalog") %></div>
            <i class="fas fa-external-link-alt text-white icon-inline"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div id="map-osm" class="map" style="height:40rem;">
      <div id="popup-osm" class="map-info" style="display: none;"></div>
    </div>
    <div id="country-osm"></div>
  </div>
</div>

<script>
  const endorserOsmMapLoadedHandler = function() {
    const positionGranted = function(position) {
      if (position.coords) {
        console.log('Readjusting map center and zoom ...');
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        const geoCoordinate = ol.proj.transform([parseFloat(longitude), parseFloat(latitude)], 'EPSG:4326', 'EPSG:3857');
        // Center the map to the coordinate

        endorserMap = $('#map-osm').data('map');
        endorserMap.getView().setCenter(geoCoordinate);
        endorserMap.getView().setZoom(6);
      }
    }
    <% if !Setting.find_by(slug: 'default_map_center_position', value: 'country').nil? %>
      requestGeoPosition(positionGranted);
    <% end %>
  }

  $(document).on('#map-osm:loaded', endorserOsmMapLoadedHandler);
</script>
