<% content_for(:header_scripts) do %>
<% end %>

<div class="card">
  <h5 class="card-header bg-secondary text-white">
    <div id="loading-spinner" class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <%= t('view.organization.map.title') %>
    <div class="float-right">
      <%= link_to products_path, class: 'no-hover' do %>
        <h5 class="text-white icon-inline"><%= t("view.about.return_catalog") %></h5>
        <i class="fas fa-external-link-alt text-white icon-inline"></i>
      <% end %>
    </div>
  </h5>
</div>
<div id="map-osm" class="map" style="height:40rem;">
  <div id="popup-osm" class="map-info" style="display: none;"></div>
</div>
<div id="country-osm"></div>
<div class="form-inline">
  <div class="form-group col-12">
    <div class="float-right">
      <select id="sector" class="custom-select">
        <option value=-1>
          <%= t('view.organization.map.all-sectors') %>
        </option>
      </select>
      <select id="year" class="custom-select">
        <option value=-1>
          <%= t('view.organization.map.all-years') %>
        </option>
      </select>
    </div>
  </div>
</div>

<script>
  const endorserOsmMapLoadedHandler = function() {
    const positionGranted = function(position) {
      if (position.coords) {
        console.log('Readjusting map center and zoom ...');
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        const geoCoordinate = ol.proj.transform([parseFloat(longitude), parseFloat(latitude)], 'EPSG:4326', 'EPSG:3857');
        // Center the map to the coordinate

        endorserMap = $('#map-osm').data('map');
        endorserMap.getView().setCenter(geoCoordinate);
        endorserMap.getView().setZoom(6);
      }
    }
    <% if !Setting.find_by(slug: 'default_map_center_position', value: 'country').nil? %>
      requestGeoPosition(positionGranted);
    <% end %>
  }

  $(document).on('#map-osm:loaded', endorserOsmMapLoadedHandler);
</script>