<% content_for(:header_scripts) do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@4.6.5/ol.css"
          integrity="sha256-72AsUmsoxyYb+HfGS44LqAscCOz3Ch/B1oUyos9lBM0="
          crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/openlayers@4.6.5/dist/ol.js"
            integrity="sha256-77IKwU93jwIX7zmgEBfYGHcmeO0Fx2MoWB/ooh9QkBA="
            crossorigin="anonymous"></script>
<% end %>

<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-8 mb-2">
    <% if user_signed_in? && policy(Organization).mod_allowed? %>
      <%= link_to t('view.general.delete-with-model', model: t('model.organization').titlecase),
                  @organization, method: :delete,
                  data: { confirm: t('view.general.delete-confirmation', model: t('model.organization')) },
                  class: 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>
<div class="border rounded bg-secondary text-white clearfix border card-header">
  <h5 class="float-left mb-0">
    <%= "#{t('model.organization').to_s.humanize}:  #{@organization.name}" %>
    <% if @organization.is_endorser %>
      <i class="fas fa-check-circle text-success ml-2"></i>
    <% end %>
  </h5>
</div>

<div class="mt-2">
  <div class="row">
    <% if @organization.offices.count > 0 %>
      <div class="col-12">
        <div id="office" style="max-height: 28rem;"></div>
        <div id="office-popup" class="office-popup"></div>
      </div>
    <% end %>
    <div class="col-12">
      <% if !@organization.aliases.empty? %>
        <p class="m-2">
          <strong><%= t('view.organization.form.other-names') %>:</strong>
          <ul>
            <% @organization.aliases.each{|other_name| %>
              <li><%= other_name %></li>
            <%}%>
          </ul>
        </p>
      <% end %>
      <% if !@organization.is_mni %>
        <p class="m-2">
          <strong><%= "#{t('view.organization.index.endorsed-date')}:" %></strong>
          <%= @organization.when_endorsed.nil? ? '' : @organization.when_endorsed.strftime("%m/%d/%Y") %>
        </p>
      <% end %>
      <% if !@organization_description.description.nil? &&
            !@organization_description.description.empty? &&
            @organization_description.description != {} %>
        <p class="m-2">
          <strong><%= t('view.organization.index.description') %>:</strong>
          <div id="product-viewer" class="wysiwyg-viewer ml-4">
            <%= @organization_description.description.html_safe %>
          </div>
        </p>
      <% end %>
      <% if !@organization.website.nil? %>
        <p class="m-2">
          <strong><%= "#{t('view.organization.form.website')}:" %></strong>
          <%= link_to @organization.website.downcase.strip, "//#{@organization.website.downcase.strip}", target: :_blank %>
        </p>
      <% end %>
      <% if @organization.offices.count > 1 %>
        <p class="m-2">
          <strong><%= "#{t('view.organization.show.other-offices')}:" %></strong>
          <ul>
          <% 
            @organization.offices
                         .order(:name)
                         .drop(1)
                         .each do |office|
              city = City.find_by(name: office.city, region: office.region_id)
          %>
            <li><%= link_to office.name, city %></li>
          <% end %>
          </ul>
        </p>
      <% end %>
      <% if @owner.empty? %>
        <div class="alert alert-info my-2 text-center" role="alert">
          <%= t("view.organization.show.owner") %>
          <a href="https://docs.osc.dial.community/projects/product-registry/en/latest/org_owner.html" target="_blank">
            <%= t("view.about.help_link") %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="offset-8 col-4">
      <p class="float-right mb-0 mr-2" >
        <%= link_to t('view.general.back'), 'javascript:window.history.back()', :class => "card-link" %>
        <% if user_signed_in? && policy(@organization).mod_allowed? %>
          <%= link_to t('view.general.edit'), edit_organization_path(@organization), :class => "card-link" %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<% if user_signed_in? && (policy(Contact).view_allowed? || policy(@organization).mod_allowed?) %>
  <div class="mt-2">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.contact').to_s.pluralize.humanize %></h5>
    </div>
    <% if @organization.organizations_contacts.count > 0 %>
      <div class="row">
        <% @organization.organizations_contacts.joins(:contact).order('contacts.name').each do |organization_contact| %>
          <div class="col-6 col-lg-4 mt-2">
            <div class="card h-100">
              <div class="card-body py-2">
                <h5 class="card-title"><%= link_to organization_contact.contact.name, organization_contact.contact %></h5>
                <h6 class="card-subtitle text-muted"><%= organization_contact.contact.email %></h6>
                <% if !organization_contact.contact.title.blank? %>
                  <p class="card-text"><%= organization_contact.contact.title %></p>
                <% end %>
                <p class="card-text text-muted small">
                <%= t('view.organization.show.with-org') %>:
                <%= organization_contact.started_at.nil? ?
                    t('view.organization.show.unknown') :
                    organization_contact.started_at.strftime("%m/%d/%Y") %>
                  -
                <%= organization_contact.ended_at.nil? ?
                    t('view.organization.show.current') :
                    organization_contact.ended_at.strftime("%m/%d/%Y") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.contact').to_s.pluralize) %>
    <% end %>
  </div>
<% end %>

<% if !@organization.is_mni ### Start for non-MNI data section. ### %>
<div class="mt-2">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.sector').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.sectors.count > 0 %>
    <div class="row">
      <% @organization.sectors.order("name").each do |sector| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text" style="flex: 1"><%= link_to sector.name, sector %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.sector').to_s.pluralize) %>
  <% end %>
</div>

<div class="mt-2">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.product').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.products.count > 0 %>
    <div class="row">
      <% @organization.products.each do |product| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card flex-row">
            <%= link_to product do %>
              <%= image_tag(product.image_file, height: 75, class: 'card-image-top align-middle p-1') %>
            <% end %>
            <div class="card-body align-middle my-auto px-2 py-2">
              <%= link_to product.name, product %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.product').to_s.pluralize) %>
  <% end %>
</div>

<div class="mt-2">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.project').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.projects.count > 0 %>
    <div class="row">
      <% @organization.projects.order("name").each do |project| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text" style="flex: 1"><%= link_to project.name, project %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.project').to_s.pluralize) %>
  <% end %>
</div>
<% end ### End for non-MNI data section. ### %>

<div class="mt-2">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.country').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.countries.count > 0 %>
    <div class="row">
      <% @organization.countries.order("name").each do |country| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text" style="flex: 1"><%= link_to country.name, country %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.country').to_s.pluralize) %>
  <% end %>
</div>

<% if @organization.is_mni && @can_view_mni %>
  <div class="mt-2">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.operator_services').to_s.pluralize.humanize %></h5>
    </div>
    <div id="orgId" style="display:none"><%= @organization.id %></div>
    <div id="agg-nav" class="card-body accordion-section p-0">
      <div class="mni-accordion">
        <% @organization.countries.order("name").each do |country| %>
          <h3 class="country-list" id="<%= country.id %>"><%= country.name %></h3>
          <div>
            <div class="mni-accordion">
              <% @core_services.each do |service| %>
                <h3 class="country-service" id="<%= country.id %>_<%= service %>"><%= service %></h3>
                <div class="capability">
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="mt-2">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('view.general.comment').to_s.titlecase.pluralize %></h5>
  </div>
  <%= commontator_thread(@organization) %>
</div>

<script>
  <%
    office = @organization.offices
                          .order(:name)
                          .first
    if (office)
  %>
      var setupMapView = function () {
      
        const coordinate = [parseFloat(<%= office.longitude %>), parseFloat(<%= office.latitude %>)];
        const markerCoordinate = ol.proj.transform(coordinate, 'EPSG:4326', 'EPSG:3857');

        const feature = new ol.Feature({
          name: "Organization Marker",
          geometry: new ol.geom.Point(markerCoordinate)
        })

        const markerLayer = new ol.layer.Vector({
          source: new ol.source.Vector({
            features: [feature]
          }),
          style: new ol.style.Style({
            image: new ol.style.Icon({
              anchor: [11, 29],
              anchorXUnits: 'pixels',
              anchorYUnits: 'pixels',
              opacity: 1,
              src: '/assets/marker_shadow.png'
            })
          }),
        });

        const tooltip = new ol.Overlay({
          element: document.getElementById('office-popup')
        });

        const map = new ol.Map({
          target: "office",
          layers: [
            new ol.layer.Tile({
              source: new ol.source.OSM()
            }),
            markerLayer
          ],
          overlays: [tooltip],
          view: new ol.View({
            center: markerCoordinate,
            zoom: 4
          })
        });

        tooltip.setPosition(undefined);
        const element = tooltip.getElement();
        const content =
          `<h5 class='text-muted m-2'><%= @organization.name %></h5>
           <h6 class='text-muted m-2'><%= office.name %></h6>`
        $(element).html(content);

        map.on("click", function(e) {
          const feature = map.forEachFeatureAtPixel(e.pixel, function(feature, layer) {
            if (layer === markerLayer && tooltip) {
              return feature;
            }
          });

          position = feature ? markerCoordinate : undefined;
          tooltip.setPosition(position);
        });
      }

      setupMapView();
  <% end %>
</script>