<div class="container">
  <div class="card">
    <h5 class="card-header">
      <%= @organization.name %>
      <% if @organization.is_endorser %>
        <i class="fas fa-check-square" style="color: #28a745; margin-left: 0.5rem;"></i>
      <% end %>
    </h5>
    <div class="card-body">
      <p class="card-text">
        <strong>Endorsed on:</strong>
        <%= @organization.when_endorsed.strftime("%m/%d/%Y") %>.
      </p>
      <p class="card-text">
        <strong>Website:</strong>
        <%= @organization.website.downcase.strip %>
      </p>

      <% if @organization.locations.find{|location| location.location_type == 'point'} %>
        <div id="office" style="max-height: 28rem;"></div>
      <% end %>

      <p class="float-right mb-0" >
        <%= link_to 'Back', organizations_path, :class => "card-link" %>
        <%= link_to 'Edit', edit_organization_path(@organization), :class => "card-link" %>
      </p>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="card">
    <div class="card-header clearfix">
      <h5 class="float-left">Contacts</h5>
      <%= link_to 'Add', new_contact_path, :class => "card-link float-right" %>
    </div>
    <div class="card-body">
      <% if @organization.contacts.count > 0 %>
        <div class="card-columns">
        <% @organization.contacts.each do |contact| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= contact.name %></h5>
              <h6 class="card-subtitle text-muted mb-2"><%= contact.email %></h6>
              <% if contact.title %>
                <p class="card-text"><%= contact.title %></p>
              <% end %>
              <%= link_to 'Edit', edit_contact_path(contact), :class => "card-link float-right mb-2" %>
            </div>
          </div>
        <% end %>
        </div>
      <% else %>
        <p class="card-text text-muted">We don't have any contact information for this organization.</p>
      <% end %>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="card">
    <div class="card-header clearfix">
      <h5 class="float-left">Sectors</h5>
      <%= link_to 'Add', new_sector_path, :class => "card-link float-right" %>
    </div>
    <div class="card-body">
      <% if @organization.sectors.count > 0 %>
        <div class="card-columns">
        <% @organization.sectors.each do |sector| %>
          <div class="card">
            <div class="card-body d-flex">
              <p class="card-text text-muted mb-0" style="flex: 1"><%= sector.name %></p>
              <%= link_to 'Edit', edit_sector_path(sector), :class => "card-link float-right" %>
            </div>
          </div>
        <% end %>
        </div>
      <% else %>
        <p class="card-text text-muted">We don't have any sector information for this organization.</p>
      <% end %>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="card">
    <div class="card-header clearfix">
      <h5 class="float-left">Countries</h5>
      <%= link_to 'Add', new_location_path, :class => "card-link float-right" %>
    </div>
    <div class="card-body">
      <% if @organization.locations.select{|location| location.location_type != 'point'}.count > 0 %>
        <div class="card-columns">
        <% @organization.locations.select{|location| location.location_type != 'point'}.each do |country| %>
          <div class="card">
            <div class="card-body d-flex">
              <p class="card-text text-muted mb-0" style="flex: 1"><%= country.name %></p>
              <%= link_to 'Edit', edit_location_path(country), :class => "card-link float-right" %>
            </div>
          </div>
        <% end %>
        </div>
      <% else %>
        <p class="card-text text-muted">We don't have any sector information for this organization.</p>
      <% end %>
    </div>
  </div>
</div>


<script>
  <%
    office = @organization.locations.find{|location| location.location_type == 'point'}
    if (office)
  %>
    setMapCenter('<%= office.points[0][1] %>', '<%= office.points[0][0] %>');
    setMarker('<%= @organization.name %>', '<%= office.points[0][1] %>', '<%= office.points[0][0] %>');
  <% end %>
</script>
