<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @organization.slug %>
</p>

<p>
  <strong>When endorsed:</strong>
  <%= @organization.when_endorsed %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>Is endorser:</strong>
  <%= @organization.is_endorser %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %>
|
<%= link_to 'Back', organizations_path %>

<div class="container">
  <% if @organization.contacts.count > 0 %>
    <% @organization.contacts.each do |contact| %>
      <p>
        <strong>Name:</strong>
        <%= contact.name %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= contact.email %>
      </p>
      <%= link_to 'Edit contact', edit_contact_path(contact) %>
    <% end %>
  <% end %>
</div>

<!-- # In the show organization, we will show list of contacts for that organization. # * Display contact information (maybe just the basic info?). # * Add link to edit or delete the contact. # * Editing a contact will take them to the contact edit
form. # * Add link to add new contact which will take them to the contact add form. -->
