<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-8 mb-2">
    <% if user_signed_in? && policy(Organization).mod_allowed? %>
      <%= link_to 'Delete this organization', @organization, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>
<div class="border rounded bg-secondary text-white clearfix border card-header">
  <h5 class="float-left mb-0">
    <%= "#{t('model.organization').to_s.humanize}:  #{@organization.name}" %>
    <% if @organization.is_endorser %>
      <i class="fas fa-check-circle text-success ml-2"></i>
    <% end %>
  </h5>
</div>

<div class="mt-2">
  <div class="row">
    <% if @organization.locations.find_all{|location| location.location_type == 'point'}.first %>
      <div class="col-lg-4 col-12">
        <div id="office" style="max-height: 28rem;"></div>
        <div id="office-popup" class="office-popup"></div>
      </div>
    <% end %>
    <div class="col-lg-8 col-12">
      <p class="m-2">
        <strong><%= "#{t('view.organization.index.endorsed-date')}:" %></strong>
        <%= @organization.when_endorsed.nil? ? '' : @organization.when_endorsed.strftime("%m/%d/%Y") %>
      </p>
      <p class="m-2">
        <strong><%= "#{t('view.organization.form.website')}:" %></strong>
        <%= link_to @organization.website.downcase.strip, "//#{@organization.website.downcase.strip}", target: :_blank %>
      </p>
      <% if @organization.locations.find_all{|location| location.location_type == 'point'}.count > 1 %>
        <p class="m-2">
          <strong><%= "#{t('view.organization.show.other-offices')}:" %></strong>
          <ul>
          <% @organization.locations
                .find_all{ |location| location.location_type == 'point' }
                .drop(1)
                .each do |office| %>
            <li><%= office.name %></li>
          <% end %>
          </ul>
        </p>
      <% end %>
    </div>
  </div>
  <p class="float-right mb-0" >
    <%= link_to 'Back', organizations_path, :class => "card-link" %>
    <% if user_signed_in? && policy(@organization).mod_allowed? %>
      <%= link_to 'Edit', edit_organization_path(@organization), :class => "card-link" %>
    <% end %>
  </p>
</div>

<% if user_signed_in? && policy(Contact).view_allowed? %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.contact').to_s.pluralize.humanize %></h5>
    </div>
    <% if @organization.contacts.count > 0 %>
      <div class="row">
        <% @organization.contacts.order("name").each do |contact| %>
          <div class="col-6 col-lg-4 mt-2">
            <div class="card h-100">
              <div class="card-body pb-1">
                <h5 class="card-title"><%= link_to contact.name, contact %></h5>
                <h6 class="card-subtitle text-muted mb-2"><%= contact.email %></h6>
                <% if contact.title %>
                  <p class="card-text"><%= contact.title %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.contact').to_s.pluralize) %>
    <% end %>
  </div>
<% end %>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.sector').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.sectors.count > 0 %>
    <div class="row">
      <% @organization.sectors.order("name").each do |sector| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body pb-2 pt-2">
              <p class="card-text text-muted mb-0" style="flex: 1"><%= link_to sector.name, sector %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.sector').to_s.pluralize) %>
  <% end %>
</div>


<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.product').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.products.count > 0 %>
    <div class="row">
      <% @organization.products.each do |product| %>
        <div class="col-6 col-lg-2 mt-2">
          <div class="card">
            <h5 class="card-header"><%= product.name %></h5>
            <div class="card-body snug">
              <%= link_to product do %>
                <%= image_tag(product.image_file, width: 50, class: 'card-img-top align-middle') %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.product').to_s.pluralize) %>
  <% end %>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.country').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.locations.select{|location| location.location_type != 'point'}.count > 0 %>
    <div class="row">
      <% @organization.locations.where.not(location_type: 'point').order("name").each do |country| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body pb-2 pt-2">
              <p class="card-text text-muted mb-0" style="flex: 1"><%= link_to country.name, country %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.country').to_s.pluralize) %>
  <% end %>
</div>

<script>
  <%
    office = @organization.locations.find{|location| location.location_type == 'point'}
    if (office)
  %>
    function updateMapMarker() {
      setOfficeMarker('<%= @organization.name %>', '<%= office.name %>', '<%= office.points[0][1] %>', '<%= office.points[0][0] %>');
    }

    $(document).on('organizations#show:loaded', updateMapMarker)
  <% end %>
</script>
