<%= form_with(model: activity, local: true, html: { id: 'activity-form' }) do |form| %>
  <%= form.hidden_field :playbook_id, id: :playbook_id %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :activity_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.activity.form.description') %>
  </h6>
  <%= form.cktext_area :activity_description, value: @description.description.html_safe, id: 'activity_description' %>

  <fieldset class="form-group mb-1">
    <strong class="text-muted inline"><%= form.label :phase, t('view.activity.form.phase') %></strong>
    <%= form.collection_select :phase, @phases, :to_s, :to_s, { include_blank: false }, { class: "form-control inline" } %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.number_field :order, id: :order, class: "form-control", placeholder: t('view.activity.form.order') %>
    <%= form.label :name, t('view.activity.form.order') %>
  </fieldset>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.activity.index.media') %>
  </h6>
  <div id="activity-media">
    <fieldset class="form-label-group">
      <%= form.text_field :media_url, id: :media_url, class: "form-control", placeholder: t('view.activity.form.media-prompt') %>
      <%= form.label :media_url, t('view.activity.form.media-prompt') %>
    </fieldset>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.activity.index.question') %>
  </h6>
  <div id="activity-question">
    <fieldset class="form-label-group">
      <%= form.text_field :question_text, id: :question_text, class: "form-control", placeholder: t('view.activity.form.question-text') %>
      <%= form.label :question_text, t('view.activity.form.question-text') %>
    </fieldset>
    <fieldset class="form-label-group">
      <%= form.text_field :answer_text, id: :answer_text, class: "form-control", placeholder: t('view.activity.form.question-text') %>
      <%= form.label :answer_text, t('view.activity.form.question-text') %>
    </fieldset>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mt-2 mb-0">
    <%= t('view.play.form.resources') %>
    <% if user_signed_in? && policy(Playbook).mod_allowed? %>
      <a href="#" class="card-link float-right" id="add-resource" style="color: #fbab18 !important"><%= t('view.general.add') %></a>
    <% end %>
  </h6>
  <div id="activity-resources">
    <% @activity.resources.each do |resource| %>
      <%= render :partial => 'resource', :object => resource %>
    <% end %>
  </div>
  <div id="activity-tasks">
    <div class="accordion" id='<%= "#{@activity.slug}_accordion" %>'>
      <% @activity.tasks.each do |task| %>
        <div class="card border-right-0 border-left-0 border-bottom-0">
          <div id='<%= "#{task.slug}_header" %>' class="card-header" 
              data-toggle="collapse" data-target='#<%= "#{task.slug}_collapse" %>'
              aria-expanded="true" aria-controls='<%= "#{task.slug}_collapse" %>'>
            <h6 class="mb-0 float-left font-weight-bold">
              <%= task.name %>
            </h6>
            <i class="fa fa-angle-down float-right"></i>
          </div>
          <div id='<%= "#{task.slug}_collapse" %>' class="collapse"
              aria-labelledby='<%= "#{task.slug}_header" %>'
              data-parent='#<%= "#{@activity.slug}_accordion" %>'>
            <div class="card-body p-3">
              <div id='<%= "#{task.slug}_viewer" %>'>
                <%= task.description %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
$('#add-resource').click(function(e) {
  e.preventDefault();
  $("#activity-resources").append("<%= escape_javascript render(partial: 'resource', object: {}) %>")
});

$('.remove-resource').click(function(e) {
  e.preventDefault();
  removeId = e.currentTarget.id.split('-')[1].replace(" ", "-")
  $("#"+removeId).remove();
});

</script>
