  <%= form_with(model: product, local: true) do |form| %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :product_name, :class => "form-control", :placeholder => "Name" %>
    <%= form.label :name %>
  </fieldset>

  <div class="mt-2">
    <input id="original_name" type="hidden" value="<%= product.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      One or more product(s) with similar name already exists.
    </div>
  </div>

  <div id="other-name-label">Other names:</div>
  <div id="other-names">
    <div id="base-other-name" class="form-inline mt-2 mb-2">
      <input type="text" id="sector-search" name="other_names[]" class="form-control col-10"
              placeholder="Other name" aria-labelledby="other-name-label" style="height: 3.125rem" />
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary ml-2 add-other-name">+</button>
        <button type="submit" class="btn btn-primary ml-2 remove-other-name">-</button>
      </div>
    </div>
  </div>
  
  <fieldset class="custom-file">
    <%= form.file_field :logo, :class => "custom-file-input", :id => "logo-file", :'aria-describedby' => "logo-file" %>
    <label class="custom-file-label" for="logo-file">Pick different logo</label>
  </fieldset>
  
  <fieldset class="form-label-group mt-2">
    <%= form.text_field :website, id: :product_website, :class => "form-control", :placeholder => "Website" %>
    <%= form.label :website %>
  </fieldset>

  <%= form.hidden_field :is_launchable, :value => false %>
  <%= form.check_box :is_launchable, {}, true, false %>
  <label class="form-label-group mt-2" for="is_launchable">Check to indicate product is auto-launchable.</label>
  <fieldset class="form-label-group">
    <%= form.text_field :default_url, id: :default_url, :class => "form-control", :placeholder => "Default Url (use <host_ip> as placeholder)" %>
    <%= form.label :default_url %>
  </fieldset>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        Assigned Organizations
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="organization-search" class="form-control" placeholder="Search and assign organizations ..." />
        <label for="country-organization">
          Search and assign organizations ...
        </label>
      </fieldset>
      <div class="row">
        <div id="base-selected-organizations" class="selected-elements col-6 mb-2">
          <div class="card h-100">
            <div class="p-2 clearfix">
              <p class="mb-0 float-left"></p>
                <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
                  <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
                </a>
              <input type="hidden"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        Assigned Sectors
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="sector-search" class="form-control" placeholder="Search and assign sectors ..." />
        <label for="sector-search">
          Search and assign sectors ...
        </label>
      </fieldset>
      <div class="row">
        <div id="base-selected-sectors" class="selected-elements col-6 mb-2">
          <div class="card h-100">
            <div class="p-2 clearfix">
              <p class="mb-0 float-left"></p>
              <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
                <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
              </a>
              <input type="hidden"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        Building Blocks
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="building-block-search" class="form-control" placeholder="Search and assign building blocks ..." />
        <label for="product-building-blocks">
          Search and assign building blocks ...
        </label>
      </fieldset>
      <div class="row">
        <div id="base-selected-building-blocks" class="selected-elements col-6 mb-2">
          <div class="card h-100">
            <div class="p-2 clearfix">
              <p class="mb-0 float-left"></p>
                <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
                  <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
                </a>
              <input type="hidden"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        SDGs
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="sustainable-development-goal-search" class="form-control" placeholder="Search and assign sustainable development goals ..." />
        <label for="product-sustainable-development-goals">
          Search and assign sustainable development goals ...
        </label>
      </fieldset>
      <div class="row">
        <div id="base-selected-sustainable-development-goals" class="selected-elements col-6 mb-2">
          <div class="card h-100">
            <div class="p-2 clearfix">
              <p class="mb-0 float-left"></p>
                <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
                  <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
                </a>
              <input type="hidden"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
          Interoperable Products
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="interoperate-search" class="form-control" placeholder="Search and assign interoperable products ..." />
        <label for="interoperable-products">
          Search and assign interoperable products ...
        </label>
      </fieldset>
      <div class="row">
        <div id="base-selected-interoperable-products" class="selected-elements col-6 mb-2">
          <div class="card h-100">
            <div class="p-2 clearfix">
              <p class="mb-0 float-left"></p>
              <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
                <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
              </a>
              <input type="hidden"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        Included Products
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="include-search" class="form-control" placeholder="Search and assign included products ..." />
        <label for="included-products">
          Search and assign included products ...
        </label>
      </fieldset>
      <div class="row">
        <div id="base-selected-included-products" class="selected-elements col-6 mb-2">
          <div class="card h-100">
            <div class="p-2 clearfix">
              <p class="mb-0 float-left"></p>
              <a class="float-right" onclick="remove(this);" style="cursor: pointer;">
                <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
              </a>
              <input type="hidden"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input"
           id="product-assessment" name="product[start_assessment]"
           value="true"
           <%= "checked" if product.start_assessment %> />
    <label class="custom-control-label" for="product-assessment">Start assessing this product.</label>
  </div>

  <div id="product-assessment-section" class="card mt-4 mb-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right" id="maturity" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="osc-maturity-tab" data-toggle="tab" href="#osc-element" role="tab"
             aria-controls="osc-maturity" aria-selected="true">
            OSC Maturity
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="digi-square-tab" data-toggle="tab" href="#digisquare-element" role="tab"
             aria-controls="digi-square" aria-selected="false">
            Digital Square Maturity
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content maturity-element">
        <div class="tab-pane fade show active" id="osc-element" role="tabpanel" aria-labelledby="osc-maturity-tab">
          <% @osc_maturity.each do |maturity| %>
            <div class="list-group mb-2">
              <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
                <h4 class="mb-1"><%= maturity["header"] %></h4>
              </div>
              <% maturity["items"].each do |item| %>
                <div class="list-group-item align-items-start custom-control-lg">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1"><%= item["code"] %></h6>
                    <fieldset>
                      <input type="hidden"
                             name="<%= "osc_maturity[osc_" + item["code"].downcase + "]" %>"
                             value="false" />
                      <input type="checkbox"
                             name="<%= "osc_maturity[osc_" + item["code"].downcase + "]" %>"
                             value="true"
                             <%= "checked" if product.product_assessment && product.product_assessment.send("osc_" + item["code"].downcase) %> />
                    </fieldset>
                  </div>
                  <p class="mb-1"><%= item["desc"].html_safe %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <fieldset class="form-group form-check mt-2">
            <input type="hidden"
                   name="has_osc"
                   value="false" />
            <input id="osc-completed" type="checkbox" class="form-check-input"
                   name="has_osc" value="true"
                   <%= "checked" if product.product_assessment && product.product_assessment.has_osc %> />
            <label class="form-check-label ml-1" for="osc-completed">Mark assessment as completed.</label>
          </fieldset>
        </div>
        <div class="tab-pane fade" id="digisquare-element" role="tabpanel" aria-labelledby="digi-square-tab">
          <% @digisquare_maturity.each do |digisquare_maturity| %>
            <div class="list-group mb-2">
              <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
                <h4 class="mb-1"><%= digisquare_maturity["core"] %></h4>
              </div>
              <% digisquare_maturity["sub-indicators"].each do |sub_indicator| %>
                <div class="list-group-item">
                  <h5 class="mb-1"><%= sub_indicator["name"] %></h5>
                  <div class="dropdown">
                    <button class="btn btn-block btn-outline-secondary dropdown-toggle disable-hover" type="button"
                            id="digisquare-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= digisquare_maturity_level_text(product.product_assessment, sub_indicator) %>
                    </button>
                    <input type="hidden" name="<%= "digisquare_maturity[" + sub_indicator["code"] + "]" %>"
                           value="<%= product.product_assessment.send(sub_indicator["code"]) if product.product_assessment  %>"/>
                    <div class="dropdown-menu" aria-labelledby="digisquare-selector">
                      <div class="dropdown-item" data-sub-indicator="1">
                        <h6>Low</h6>
                        <div><%= sub_indicator["low"].html_safe %></div>
                      </div>
                      <div class="dropdown-item" data-sub-indicator="2">
                        <h6>Medium</h6>
                        <div><%= sub_indicator["medium"].html_safe %></div>
                      </div>
                      <div class="dropdown-item" data-sub-indicator="3">
                        <h6>High</h6>
                        <div><%= sub_indicator["high"].html_safe %></div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <fieldset class="form-group form-check mt-2">
            <input type="hidden"
                   name="has_digisquare"
                   value="false" />
            <input id="digisquare-completed" type="checkbox" class="form-check-input"
                   name="has_digisquare"
                   value="true"
                   <%= "checked" if product.product_assessment && product.product_assessment.has_digisquare %> />
            <label class="form-check-label ml-1" for="digisquare-completed">Mark assessment as completed.</label>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit 'Submit', :class => "btn btn-primary" %>
    <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  <% product.organizations.sort_by{|organization| organization.name }.each do |organization| %>
    addOrganization('<%= organization.id %>', '<%= organization.name %>');
  <% end %>
  <% product.building_blocks.order("name").each do |block| %>
    addBuildingBlock('<%= block.id %>', '<%= block.name %>');
  <% end %>
  <% product.interoperates_with.order("name").each do |interop| %>
    addInteropProduct('<%= interop.id %>', '<%= interop.name %>');
  <% end %>
  <% product.includes.order("name").each do |include| %>
    addIncludedProduct('<%= include.id %>', '<%= include.name %>');
  <% end %>
  <% product.sustainable_development_goals.order("name").each do |sdg| %>
    addSDG('<%= sdg.id %>', '<%= sdg.name %>');
  <% end %>
  <% product.aliases.each {|other_name| %>
    addOtherName('<%= other_name %>');
  <% } %>
</script>
