<div class="card-body">
  <%= form_with(model: product, local: true) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :product_name, :class => "form-control", :placeholder => "Name"  %>
      <%= form.label :name %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= form.text_field :website, id: :product_website, :class => "form-control", :placeholder => "Website"  %>
      <%= form.label :website %>
    </fieldset>

    <fieldset class="float-right mt-4">
      <%= form.submit 'Submit', :class => "btn btn-primary" %>
      <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>
</div>
