<div class="card-body">
  <%= form_with(model: product, local: true) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :product_name, :class => "form-control", :placeholder => "Name" %>
      <%= form.label :name %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= form.text_field :website, id: :product_website, :class => "form-control", :placeholder => "Website" %>
      <%= form.label :website %>
    </fieldset>

    <% @osc_maturity.each do |maturity| %>
      <div class="list-group">
        <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
          <h4 class="mb-1"><%= maturity["header"] %></h4>
        </div>
        <% maturity["items"].each do |item| %>
          <div class="list-group-item align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1"><%= item["code"] %></h6>
              <fieldset class="form-group form-check">
                <%= form.check_box :is_endorser, id: :organization_is_endorser, :class => "form-check-input" %>
              </fieldset>
            </div>
            <p class="mb-1"><%= item["desc"].html_safe %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% @digisquare_maturity.each do |digisquare_maturity| %>
      <div class="list-group">
        <div class="list-group-item align-items-start" style="background-color: #c9daf8;">
          <h4 class="mb-1"><%= digisquare_maturity["core"] %></h4>
        </div>
        <% digisquare_maturity["sub-indicators"].each do |sub_indicator| %>
          <div class="list-group-item">
            <div class="list-group">
              <div class="list-group-item align-items-start" style="background-color: #c9daf8;">
                <h5 class="mb-1"><%= sub_indicator["name"] %></h5>
              </div>
              <div class="list-group-item align-items-start" style="background-color: #e6b8af;">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">Low</h6>
                  <i class="
                         <%= @product.product_assessment.send(sub_indicator["code"]) == 1 ? 'fas fa-check-circle text-success' : 'far fa-check-circle' %>"></i>
                </div>
                <p class="mb-1"><%= sub_indicator["low"].html_safe %></p>
              </div>
              <div class="list-group-item align-items-start" style="background-color: #fff2cc;">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">Medium</h6>
                  <i class="
                         <%= @product.product_assessment.send(sub_indicator["code"]) == 2 ? 'fas fa-check-circle text-success' : 'far fa-check-circle' %>"></i>
                </div>
                <p class="mb-1"><%= sub_indicator["medium"].html_safe %></p>
              </div>
              <div class="list-group-item align-items-start" style="background-color: #b6d7a8;">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">High</h6>
                  <i class="
                         <%= @product.product_assessment.send(sub_indicator["code"]) == 1 ? 'fas fa-check-circle text-success' : 'far fa-check-circle' %>"></i>
                </div>
                <p class="mb-1"><%= sub_indicator["high"].html_safe %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <fieldset class="float-right mt-4">
      <%= form.submit 'Submit', :class => "btn btn-primary" %>
      <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>
</div>
