<div class="card-body">
  <%= form_with(model: product, local: true) do |form| %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :product_name, :class => "form-control", :placeholder => "Name" %>
    <%= form.label :name %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :website, id: :product_website, :class => "form-control", :placeholder => "Website" %>
    <%= form.label :website %>
  </fieldset>

  <div id="osc-element">
    <% @osc_maturity.each do |maturity| %>
      <div class="list-group mb-2">
        <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
          <h4 class="mb-1"><%= maturity["header"] %></h4>
        </div>
        <% maturity["items"].each do |item| %>
          <div class="list-group-item align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1"><%= item["code"] %></h6>
              <fieldset class="form-group form-check">
                <%= form.check_box :is_endorser, id: :organization_is_endorser, :class => "form-check-input" %>
              </fieldset>
            </div>
            <p class="mb-1"><%= item["desc"].html_safe %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="digisquare-element">
    <% @digisquare_maturity.each do |digisquare_maturity| %>
      <div class="list-group mb-2">
        <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
          <h4 class="mb-1"><%= digisquare_maturity["core"] %></h4>
        </div>
        <% digisquare_maturity["sub-indicators"].each do |sub_indicator| %>
          <div class="list-group-item">
            <h5 class="mb-1"><%= sub_indicator["name"] %></h5>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="digisquare-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= sub_indicator["low"].html_safe %>
              </button>
              <div class="dropdown-menu" aria-labelledby="digisquare-selector">
                <div class="dropdown-item"><%= sub_indicator["low"].html_safe %></div>
                <div class="dropdown-item"><%= sub_indicator["medium"].html_safe %></div>
                <div class="dropdown-item"><%= sub_indicator["high"].html_safe %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit 'Submit', :class => "btn btn-primary" %>
    <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>
</div>
