  <%= form_with(model: product, multipart: true, local: true, html: { id: 'product-form' }) do |form| %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :product_name,
                        disabled: !policy(product).permitted_attributes.include?(:name),
                        class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2">
    <input id="original_name" type="hidden" value="<%= product.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      <%= t('view.general.duplicates', model: t('model.product')) %>
    </div>
  </div>

  <div id="other-name-label" class="mt-2"><%= "#{t('view.product.form.other-names')}:" %></div>
  <div id="other-names">
    <div id="base-other-name" class="form-inline mt-2 mb-2">
      <input type="text" name="other_names[]" class="form-control col-10"
             style="height: calc(1.5em + 0.75rem + 12px);" 
             <% !policy(product).permitted_attributes.include?(:aliases) && concat('disabled') %>
             placeholder="<%= t('view.product.form.other-names') %>" aria-labelledby="other-name-label" />
      <div class="input-group-append">
        <% if policy(product).permitted_attributes.include?(:aliases) %>
          <button type="submit" class="btn btn-primary ml-2 add-other-name">+</button>
          <button type="submit" class="btn btn-primary ml-2 remove-other-name">-</button>
        <% end %>
      </div>
    </div>
  </div>

  <%= form.cktext_area :product_description, value: @product_description.description.html_safe, id: 'product_description', ckeditor: { allowedContent: true } %>
  
  <fieldset class="custom-file mt-2">
    <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file"/>
    <label class="custom-file-label" for="logo-file">
      <%= t('view.general.logo') %>
    </label>
  </fieldset>
  
  <fieldset class="form-label-group mt-2">
    <%= form.text_field :website, id: :product_website,
                        disabled: !policy(product).permitted_attributes.include?(:website),
                        class: "form-control", placeholder: t('view.product.form.website') %>
    <%= form.label :website, t('view.product.form.website') %>
  </fieldset>
  
  <fieldset class="form-label-group mt-2">
    <%= form.text_field :repository, id: :repository,
                        disabled: !policy(product).permitted_attributes.include?(:repository),
                        class: "form-control", placeholder: t('view.product.form.repository') %>
    <%= form.label :repository, t('view.product.form.repository') %>
  </fieldset>

  <%= form.hidden_field :is_launchable, :value => false %>
  <%= form.check_box :is_launchable, { disabled: !policy(product).permitted_attributes.include?(:is_launchable) }, true, false %>
  <label class="form-label-group mt-2" for="is_launchable">
    <%= t('view.product.form.is-launchable') %>
  </label>

  <fieldset class="form-label-group">
    <%= form.text_field :default_url, id: :default_url, class: "form-control",
        placeholder: t('view.product.form.default-url') %>
    <%= form.label :default_url, t('view.product.form.default-url') %>
  </fieldset>

  <%= form.hidden_field :status, :value => 'Not Vetted' %>
  <%= form.check_box :status, { disabled: !policy(product).permitted_attributes.include?(:status) }, 'Vetted', 'Not Vetted' %>
  <label class="form-label-group mt-2" for="is_launchable">
    <%= t('view.product.form.is-vetted') %>
  </label>

  <div class="row">

    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.multi-select.assigned.title', model: t('model.organization').to_s.pluralize.humanize) %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="organization-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>" />
        <label for="country-organization">
          <%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-organizations" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.multi-select.assigned.title', model: t('model.sector').to_s.pluralize.humanize) %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="sector-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.sector').to_s.pluralize) %>" />
        <label for="sector-search">
          <%= t('view.multi-select.assigned.label', model: t('model.sector').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-sectors" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.multi-select.assigned.title', model: t('model.building-block').to_s.pluralize.titlecase) %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="building-block-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.sector').to_s.pluralize) %>" />
        <label for="product-building-blocks">
          <%= t('view.multi-select.assigned.label', model: t('model.building-block').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-4">
          <% if policy(Product).beta_only? %>
            <%
              options = options_for_select(
                             ProductBuildingBlock
                                 .mapping_status_types
                                 .keys
                                 .reject do |x|
                                    x != ProductBuildingBlock.mapping_status_types[:BETA]
                                  end
                                 .map { |status_type| [status_type.titlecase, status_type] }
                                 .sort_by { |label, value| label })
            %>
            <%= select_tag :sdg_mapping, options, disabled: true, class: "form-control filter-element mb-1" %>
          <% else %>
            <%
              options = options_for_select(
                             ProductBuildingBlock
                                 .mapping_status_types
                                 .keys
                                 .map { |status_type| [status_type.titlecase, status_type] }
                                 .sort_by { |label, value| label })
            %>
            <%= select_tag :sdg_mapping, options, :class => "form-control filter-element mb-1" %>
          <% end %>
        </div>
        <div class="col-8 ml-0">
          <label for="product-building-blocks">
            <%= t('view.product.form.bb-mapping') %>
          </label>
        </div>
        <div class="col-12">
          <span id="base-selected-building-blocks" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.multi-select.assigned.title', model: t('model.sdg').to_s.upcase.pluralize) %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="sustainable-development-goal-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.sustainable-development-goal').to_s.pluralize) %>" />
        <label for="product-sustainable-development-goals">
          <%= t('view.multi-select.assigned.label', model: t('model.sustainable-development-goal').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-4">
          <% if policy(Product).beta_only? %>
            <%
              options = options_for_select(
                             ProductSustainableDevelopmentGoal
                                 .mapping_status_types
                                 .keys
                                 .reject do |x|
                                    x != ProductSustainableDevelopmentGoal.mapping_status_types[:BETA]
                                  end
                                 .map { |status_type| [status_type.titlecase, status_type] }
                                 .sort_by { |label, value| label })
            %>
            <%= select_tag :sdg_mapping, options, disabled: true, class: "form-control filter-element mb-1" %>
          <% else %>
            <%
              options = options_for_select(
                             ProductSustainableDevelopmentGoal
                                 .mapping_status_types
                                 .keys
                                 .map { |status_type| [status_type.titlecase, status_type] }
                                 .sort_by { |label, value| label })
            %>
            <%= select_tag :sdg_mapping, options, :class => "form-control filter-element mb-1" %>
          <% end %>
        </div>
        <div class="col-8 ml-0">
          <label for="product-building-blocks">
            <%= t('view.product.form.sdg-mapping') %>
          </label>
        </div>
        <div class="col-12">
          <span id="base-selected-sustainable-development-goals" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.product.form.interoperable-products') %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="interoperate-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('view.product.form.interoperable-products').downcase) %>" />
        <label for="interoperable-products">
          <%= t('view.multi-select.assigned.label', model: t('view.product.form.interoperable-products').downcase) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-interoperable-products" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.product.form.included-products') %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="include-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('view.product.form.included-products').downcase) %>" />
        <label for="included-products">
          <%= t('view.multi-select.assigned.label', model: t('view.product.form.included-products').downcase) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-included-products" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>

    <div class="col-12">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('model.project').to_s.pluralize.humanize %> 
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="project-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
        <label for="project-search">
          <%= t('view.multi-select.assigned.label', model: t('model.project').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-projects" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('model.tag').titlecase.pluralize %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="tag-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.tag').pluralize.downcase) %>" />
        <label for="tag-search">
          <%= t('view.multi-select.assigned.label', model: t('model.tag').pluralize.downcase) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-tags" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.product.show.cost-data') %>
      </h6>
      <div class="row">
        <fieldset class="form-label-group col-6 mt-2">
          <%= form.text_field :est_hosting, id: :est_hosting,
                  disabled: !policy(product).permitted_attributes.include?(:est_hosting),
                  class: "form-control", placeholder: t('view.product.form.est-hosting') %>
          <%= form.label :est_hosting, t('view.product.form.est-hosting'), class: "pl-4" %>
        </fieldset>
        <fieldset class="form-label-group col-6 mt-2">
          <%= form.text_field :est_invested, id: :est_invested,
                  disabled: !policy(product).permitted_attributes.include?(:est_invested),
                  class: "form-control", placeholder: t('view.product.form.est-invested') %>
          <%= form.label :est_invested, t('view.product.form.est-invested'), class: "pl-4" %>
        </fieldset>
      </div>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  <% product.organizations.sort_by{|organization| organization.name }.each do |organization| %>
    addOrganization('<%= organization.id %>', '<%= organization.name %>');
  <% end %>
  <% product.building_blocks.order("name").each do |block| %>
    addBuildingBlock('<%= block.id %>', '<%= block.name %>');
  <% end %>
  <% product.projects.order("name").each do |project| %>
    addProject('<%= project.id %>', '<%= project.name %>');
  <% end %>
  <% product.sectors.order("name").each do |sector| %>
    addSector('<%= sector.id %>', '<%= sector.name %>');
  <% end %>
  <% product.interoperates_with.order("name").each do |interop| %>
    addInteropProduct('<%= interop.id %>', '<%= interop.name %>');
  <% end %>
  <% product.includes.order("name").each do |include| %>
    addIncludedProduct('<%= include.id %>', '<%= include.name %>');
  <% end %>
  <% product.sustainable_development_goals.order("name").each do |sdg| %>
    addSDG('<%= sdg.id %>', '<%= sdg.name %>');
  <% end %>
  <% product.aliases.each {|other_name| %>
    addOtherName('<%= other_name %>');
  <% } %>
  <% product.tags.each {|tag| %>
    tagProduct('', '<%= tag %>');
  <% } %>

</script>
