  <%= form_with(model: product, multipart: true, local: true, html: { id: 'product-form' }) do |form| %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :product_name,
                        disabled: !policy(product).permitted_attributes.include?(:name),
                        class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2">
    <input id="original_name" type="hidden" value="<%= product.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      <%= t('view.general.duplicates', model: t('model.product')) %>
    </div>
  </div>

  <div id="other-name-label" class="mt-2"><%= "#{t('view.product.form.other-names')}:" %></div>
  <div id="other-names">
    <div id="base-other-name" class="form-inline mt-2 mb-2">
      <input type="text" name="other_names[]" class="form-control col-10"
             style="height: calc(1.5em + 0.75rem + 12px);" 
             <% !policy(product).permitted_attributes.include?(:aliases) && concat('disabled') %>
             placeholder="<%= t('view.product.form.other-names') %>" aria-labelledby="other-name-label" />
      <div class="input-group-append">
        <% if policy(product).permitted_attributes.include?(:aliases) %>
          <button type="submit" class="btn btn-primary ml-2 add-other-name">+</button>
          <button type="submit" class="btn btn-primary ml-2 remove-other-name">-</button>
        <% end %>
      </div>
    </div>
  </div>

  <%= form.hidden_field :product_description, id: :product_description %>
  <div class="wysiwyg-editor">
  </div>
  
  <fieldset class="custom-file mt-2">
    <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file"/>
    <label class="custom-file-label" for="logo-file">
      <%= t('view.general.logo') %>
    </label>
  </fieldset>
  
  <fieldset class="form-label-group mt-2">
    <%= form.text_field :website, id: :product_website,
                        disabled: !policy(product).permitted_attributes.include?(:website),
                        class: "form-control", placeholder: t('view.product.form.website') %>
    <%= form.label :website, t('view.product.form.website') %>
  </fieldset>
  
  <fieldset class="form-label-group mt-2">
    <%= form.text_field :repository, id: :repository,
                        disabled: !policy(product).permitted_attributes.include?(:repository),
                        class: "form-control", placeholder: t('view.product.form.repository') %>
    <%= form.label :repository, t('view.product.form.repository') %>
  </fieldset>

  <%= form.hidden_field :is_launchable, :value => false %>
  <%= form.check_box :is_launchable, { disabled: !policy(product).permitted_attributes.include?(:is_launchable) }, true, false %>
  <label class="form-label-group mt-2" for="is_launchable">
    <%= t('view.product.form.is-launchable') %>
  </label>
  <fieldset class="form-label-group">
    <%= form.text_field :default_url, id: :default_url, class: "form-control",
        placeholder: t('view.product.form.default-url') %>
    <%= form.label :default_url, t('view.product.form.default-url') %>
  </fieldset>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.multi-select.assigned.title', model: t('model.organization').to_s.pluralize.humanize) %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="organization-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>" />
        <label for="country-organization">
          <%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-organizations" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.multi-select.assigned.title', model: t('model.sector').to_s.pluralize.humanize) %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="sector-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.sector').to_s.pluralize) %>" />
        <label for="sector-search">
          <%= t('view.multi-select.assigned.label', model: t('model.sector').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-sectors" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.multi-select.assigned.title', model: t('model.building-block').to_s.pluralize.titlecase) %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="building-block-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.sector').to_s.pluralize) %>" />
        <label for="product-building-blocks">
          <%= t('view.multi-select.assigned.label', model: t('model.building-block').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-building-blocks" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.multi-select.assigned.title', model: t('model.sdg').to_s.upcase.pluralize) %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="sustainable-development-goal-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.sustainable-development-goal').to_s.pluralize) %>" />
        <label for="product-sustainable-development-goals">
          <%= t('view.multi-select.assigned.label', model: t('model.sustainable-development-goal').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-sustainable-development-goals" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.product.form.interoperable-products') %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="interoperate-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('view.product.form.interoperable-products').downcase) %>" />
        <label for="interoperable-products">
          <%= t('view.multi-select.assigned.label', model: t('view.product.form.interoperable-products').downcase) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-interoperable-products" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('view.product.form.included-products') %>
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="include-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('view.product.form.included-products').downcase) %>" />
        <label for="included-products">
          <%= t('view.multi-select.assigned.label', model: t('view.product.form.included-products').downcase) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-included-products" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input"
           id="product-assessment" name="product[start_assessment]"
           value="true" <%= "checked" if product.start_assessment %> />
    <label class="custom-control-label" for="product-assessment">
      <%= t('view.product.form.start-assessment') %>
    </label>
  </div>

  <div id="product-assessment-section" class="card mt-4 mb-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right" id="maturity" role="tablist">
        <li class="nav-item">
          <a class="nav-link maturity-tab active" id="osc-maturity-tab" data-toggle="tab" href="#osc-element" role="tab"
             aria-controls="osc-maturity" aria-selected="true">
            <%= t('view.product.form.osc-maturity') %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link maturity-tab" id="digi-square-tab" data-toggle="tab" href="#digisquare-element" role="tab"
             aria-controls="digi-square" aria-selected="false">
            <%= t('view.product.form.digisquare-maturity') %>
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content maturity-element">
        <div class="tab-pane fade show active" id="osc-element" role="tabpanel" aria-labelledby="osc-maturity-tab">
          <% @osc_maturity.each do |maturity| %>
            <div class="list-group mb-2">
              <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
                <h4 class="mb-1"><%= maturity["header"] %></h4>
              </div>
              <% maturity["items"].each do |item| %>
                <div class="list-group-item align-items-start custom-control-lg">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1"><%= item["code"] %></h6>
                    <fieldset>
                      <input type="hidden"
                             name="<%= "osc_maturity[osc_" + item["code"].downcase + "]" %>"
                             value="false" />
                      <input type="checkbox"
                             name="<%= "osc_maturity[osc_" + item["code"].downcase + "]" %>"
                             value="true"
                             <%= "checked" if product.product_assessment && product.product_assessment.send("osc_" + item["code"].downcase) %> />
                    </fieldset>
                  </div>
                  <p class="mb-1"><%= item["desc"].html_safe %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <fieldset class="form-group form-check mt-2">
            <input type="hidden"
                   name="has_osc"
                   value="false" />
            <input id="osc-completed" type="checkbox" class="form-check-input"
                   name="has_osc" value="true"
                   <%= "checked" if product.product_assessment && product.product_assessment.has_osc %> />
            <label class="form-check-label ml-1" for="osc-completed">
              <%= t('view.product.form.complete-assessment') %>
            </label>
          </fieldset>
        </div>
        <div class="tab-pane fade" id="digisquare-element" role="tabpanel" aria-labelledby="digi-square-tab">
          <% @digisquare_maturity.each do |digisquare_maturity| %>
            <div class="list-group mb-2">
              <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
                <h4 class="mb-1"><%= digisquare_maturity["core"] %></h4>
              </div>
              <% digisquare_maturity["sub-indicators"].each do |sub_indicator| %>
                <div class="list-group-item">
                  <h5 class="mb-1"><%= sub_indicator["name"] %></h5>
                  <div class="dropdown">
                    <button class="btn btn-block btn-outline-secondary dropdown-toggle disable-hover" type="button"
                            id="digisquare-selector[sub='<%= sub_indicator["name"] %>']" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      <%= digisquare_maturity_level_text(product.product_assessment, sub_indicator) %>
                    </button>
                    <input type="hidden" name="<%= "digisquare_maturity[" + sub_indicator["code"] + "]" %>"
                           value="<%= product.product_assessment.send(sub_indicator["code"]) if product.product_assessment  %>"/>
                    <div class="dropdown-menu" aria-labelledby="digisquare-selector[sub='<%= sub_indicator["name"] %>']">
                      <div class="dropdown-item" data-sub-indicator="low">
                        <h6><%= t('view.product.form.low').to_s.humanize %></h6>
                        <div><%= sub_indicator["low"].html_safe %></div>
                      </div>
                      <div class="dropdown-item" data-sub-indicator="medium">
                        <h6><%= t('view.product.form.medium').to_s.humanize %></h6>
                        <div><%= sub_indicator["medium"].html_safe %></div>
                      </div>
                      <div class="dropdown-item" data-sub-indicator="high">
                        <h6><%= t('view.product.form.high').to_s.humanize %></h6>
                        <div><%= sub_indicator["high"].html_safe %></div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <fieldset class="form-group form-check mt-2">
            <input type="hidden"
                   name="has_digisquare"
                   value="false" />
            <input id="digisquare-completed" type="checkbox" class="form-check-input"
                   name="has_digisquare"
                   value="true"
                   <%= "checked" if product.product_assessment && product.product_assessment.has_digisquare %> />
            <label class="form-check-label ml-1" for="digisquare-completed">
              <%= t('view.product.form.complete-assessment') %>
            </label>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  <% product.organizations.sort_by{|organization| organization.name }.each do |organization| %>
    addOrganization('<%= organization.id %>', '<%= organization.name %>');
  <% end %>
  <% product.building_blocks.order("name").each do |block| %>
    addBuildingBlock('<%= block.id %>', '<%= block.name %>');
  <% end %>
  <% product.sectors.order("name").each do |sector| %>
    addSector('<%= sector.id %>', '<%= sector.name %>');
  <% end %>
  <% product.interoperates_with.order("name").each do |interop| %>
    addInteropProduct('<%= interop.id %>', '<%= interop.name %>');
  <% end %>
  <% product.includes.order("name").each do |include| %>
    addIncludedProduct('<%= include.id %>', '<%= include.name %>');
  <% end %>
  <% product.sustainable_development_goals.order("name").each do |sdg| %>
    addSDG('<%= sdg.id %>', '<%= sdg.name %>');
  <% end %>
  <% product.aliases.each {|other_name| %>
    addOtherName('<%= other_name %>');
  <% } %>

  var editor = setUpEditor(<%= raw JSON.generate(@product_description.description) %>, '<%= t('view.product.form.description-placeholder') %>');
  var form = document.querySelector('#product-form');
  form.onsubmit = function() {
    var productDescription = $('#product_description');
    productDescription.val(JSON.stringify(editor.getContents()));
  };
</script>
