
<div class="col-lg-5ths col-md-4 d-flex mt-2">
  <div class="card w-100 index-card">
    <div class="card-header bg-secondary text-white truncate-parent">
      <%= link_to product.name, product, class: 'truncate-text',
        'title' => product.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
      <div style="display: inline-flex;">
        <% if product.is_launchable %>
          <i class="fa fa-rocket header-img mt-1" data-toggle="tooltip"
            data-placement="top" data-original-title="<%= t('view.product.index.is_deployable') %>"></i>
        <% end %>
        <% if product_endorsed(product) %>
          <%= image_tag("digiprins.png", class: 'header-img mt-1 ml-1',
                        alt: t('alt.el-logo', el: 'Principles for Digital Development'),
                        'title': t('view.product.index.is_endorsed'),
                        'data-toggle': 'tooltip', 'data-placement': 'top') %>
        <% end %>
        <% if coronavirus_handler(product) %>
          <%= image_tag("marker-coronavirus.png", class: 'header-img mt-1 ml-1',
                        alt: t('alt.el-logo', el: 'Coronavirus').humanize,
                        'title': t('view.product.index.covid-19-related'),
                        'data-toggle': 'tooltip', 'data-placement': 'top') %>
        <% end %>
      </div>
    </div>
    <div class="card-body model-logo product-logo">
      <div class="overlay d-none d-lg-block indicator-list">
        <%
          product_description = product.product_descriptions
                                       .where(product_id: product, locale: I18n.locale)
                                       .first&.description
          product_description ||= product.product_descriptions
                                       .where(product_id: product, locale: I18n.default_locale)
                                       .first&.description
          product_description ||= product.name
        %>
        <% unless product_description.nil? %>
          <i class="info-indicator text-secondary" data-toggle="tooltip" data-placement="top"
             data-original-title="<%= strip_tags(product_description) %>"></i>
        <% end %>
        <i class="favorite-indicator text-secondary"
           data-slug="<%= product.slug %>"
           data-favorited="<%= current_user.saved_products.include?(product.id) unless current_user.nil? %>"
           data-toggle="tooltip"
           data-placement="top" data-original-title="<%= t('view.product.index.toggle-favorite') %>"></i>
        <%= link_to edit_product_path(product), class: "text-secondary", 'aria-label': "Edit #{product.name}." do%>
          <i class="edit-indicator" data-toggle="tooltip" data-placement="top"
             data-original-title="Edit <%= product.name %>."></i>
        <% end %>
      </div>
      <%= link_to(product) do %>
        <%= image_tag(product.image_file, class: 'product-logo-img align-middle',
                      alt: t('alt.el-logo', el: product.name), skip_pipeline: true) %>
        <% if product.product_type == "dataset" %>
        <div class="text-muted text-center"><%= t('view.product.index.dataset') %></div>
        <% end %>
      <% end %>
      <div class="overlay d-block endorser-list">
        <% if !product.endorsers.nil? %>
          <% product.endorsers.each do |endorser| %>
            <span class='badge badge-success text-small' data-toggle="tooltip"
              data-placement="top" data-original-title="<%= endorser.description %>">
              <%= endorser.slug.upcase %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <div class="row h-100">
        <div class="col-10 col-md-12 right-marker">
          <% # Footer line 1: SDG %>
          <% category, images = get_footer_row(product, 1) %>
          <div class="footer-row">
            <% images.each do |image| %>
              <%= image_tag(image["filename"], class: 'footer-img', 'title': image["tooltip"],
                            alt: image[:alt_text], 'data-toggle': 'tooltip', 'data-placement': 'top') %>
            <% end %>
          </div>
          <% # Footer line 2: Maturity, BB, Compatability or License %>
          <% category, images = get_footer_row(product, 2) %>
          <div class="footer-row mt-1">
            <% images.each do |image| %>
              <% if image["license"] %>
                <p class="footer-source mb-1"><%= t('view.product.show.license') %>:</p>
                <p class="footer-source float-right mb-1"><%= product.license %></p>
              <% elsif image["maturity"] %>
                <p class="footer-source mb-1"><%= t('view.product.index.footer_maturity_score') %></p>
                <p class="footer-source float-right mb-1">
                  <%= product.maturity_score.nil? ? 0 : product.maturity_score %>
                </p>
              <% else %>
                <%= image_tag(image["filename"], class: 'footer-img', 'title': image["tooltip"],
                              alt: image[:alt_text], 'data-toggle': 'tooltip', 'data-placement': 'top') %>
              <% end %>
            <% end %>
          </div>
          <% # Footer line 3: Source %>
          <% category, images = get_footer_row(product, 3) %>
          <div class="footer-row">
            <p class="footer-source mb-0"><%= get_source_label(product) %></p>
            <% images.each do |image| %>
              <%= image_tag(image["filename"], class: 'footer-img-right', 'title': image["tooltip"],
                            alt: image[:alt_text], 'data-toggle': 'tooltip', 'data-placement': 'top') %>
            <% end %>
          </div>
        </div>
        <div class="col-2 d-md-none h-100 d-flex justify-content-center dropup context-menu">
          <button type="button" class="btn bg-transparent" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-2x align-self-center"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="product-context-menu">
            <% if user_signed_in? && policy(product).mod_allowed? %>
              <%
                # See index.html.erb to see handler for this link.
              %>
              <a href="#" class="dropdown-item favorite-context-menu"
                 data-slug="<%= product.slug %>"
                 data-favorited="<%= current_user.saved_products.include?(product.id) %>">
                 <%= t('view.general.remove-favorite') if current_user.saved_products.include?(product.id) %>
                 <%= t('view.general.add-favorite') unless current_user.saved_products.include?(product.id) %>
              </a>
              <%= link_to "#{t('view.general.edit')} #{t('model.product')}",
                          edit_product_path(product), :class => 'dropdown-item' %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%= link_to "#{t('view.general.view')} #{t('model.product')}", product, :class => 'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
