  <div class="card mt-2">
    <h5 class="card-header bg-secondary text-white">
      <%= t('view.product.show.repository-info') %>
      <%
        last_updated = DateTime.parse(repository_data['updatedAt'])
        last_three_month = Date.today.months_ago(3)
        last_year = Date.today.years_ago(1)

        if last_updated >= last_three_month
          concat("<span class='badge badge-success'>#{t('view.product.show.very-active')}</span>".html_safe)
        elsif last_updated > last_year && last_updated < last_three_month
          concat("<span class='badge badge-warning'>#{t('view.product.show.not-very-active')}</span>".html_safe)
        else
          concat("<span class='badge badge-danger'>#{t('view.product.show.inactive')}</span>".html_safe)
        end
      %>
    </h5>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-6 col-md-3 mt-3">
          <div class="text-muted"><i class="fas fa-star"></i> <%= t('view.product.show.star') %></div>
          <h5><%= repository_data['stargazers']['totalCount'] %></h5>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="text-muted"><i class="fas fa-eye"></i> <%= t('view.product.show.watcher') %></div>
          <h5><%= repository_data['watchers']['totalCount'] %></h5>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="text-muted"><i class="fas fa-code-branch"></i> <%= t('view.product.show.fork') %></div>
          <h5><%= repository_data['forkCount'] %></h5>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="text-muted"><i class="fas fa-file"></i> <%= t('view.product.show.current-version') %></div>
          <% if repository_data['releases']['totalCount'].to_i > 0 %>
          <h5><%= repository_data['releases']['edges'][0]['node']['name'] %></h5>
          <% else %>
          <h5><%= t('view.product.show.no-version-data') %></h5>
          <% end %>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="text-muted"><i class="fas fa-calendar"></i> <%= t('view.product.show.created') %></div>
          <h5><%= DateTime.parse(repository_data['createdAt']).strftime("%m/%d/%Y") %></h5>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="text-muted"><i class="fas fa-calendar-alt"></i> <%= t('view.product.show.last-updated') %></div>
          <h5><%= DateTime.parse(repository_data['updatedAt']).strftime("%m/%d/%Y") %></h5>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="text-muted"><i class="fas fa-code"></i> <%= t('view.product.show.open-pr') %></div>
          <h5><%= repository_data['openPullRequestCount']['totalCount'] %></h5>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <div class="text-muted"><i class="fas fa-check"></i> <%= t('view.product.show.merged-pr') %></div>
          <h5><%= repository_data['mergedPullRequestCount']['totalCount'] %></h5>
        </div>
      </div>
      <%= render 'languages', product: @product %>
    </div>
  </div>