<p id="notice"><%= notice %></p>

<%= link_to "Product Graph", productmap_path, :class => 'btn btn-outline-secondary float-left ml-1', target: "_blank" %>
<%= link_to 'Create New', new_product_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
<div class="float-right pb-2">
  <%= form_tag(products_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search products ...", :class => "form-control" %>
  <div class="input-group-append">
    <%= submit_tag "Search", :class => "btn btn-secondary" %>
  </div>
<% end %>
</div>
<br clear="both"/>


<div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-3">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <%= link_to truncate(product.name, length: 28, omission: '&hellip;', escape: false), product,
              'title' => product.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
        </div>
        <%= link_to image_tag(product.image_file, width: 200, class: 'card-img-top align-middle'), product %>
        <div class="card-body">
            <% if !product.website.nil? and !product.website.empty? %>
              <p class="card-text"><small><a href="<%= product.website %>" target="_new"><%= product.website %> &#x29c9;</a></small><br/>
            <% end %>
            <small>
              <%= product.interop_relationships.size %> interops,
              <%= product.include_relationships.size %> includes,
              <%= product.references.size %> references,
              <%= product.building_blocks.size %> building block(s),
              <%= product.sectors.size %> sector(s)
            </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
