<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div id="prod-more" class="hidden">
    <section class="hero bg-secondary mb-2 ml-3 mr-3">
      <div class="col-12 ml-2 mt-2 text-white">
        <h5><strong><%= t('model.product').to_s.titleize.pluralize %></strong></h5>
        <div id="prod-desc">
          <p class="mr-4"><%= t('view.product.index.definition').to_s %></p>
          <div class="row">
            <div class="col-lg-6">
              <%= image_tag("/assets/products/ProductLegend1.png", class: 'legend-img align-middle p-0') %>
            </div>
            <div class="col-lg-6">
              <%= image_tag("/assets/products/ProductLegend2.png", class: 'legend-img align-middle p-0') %>
            </div>
          </div>
          <p class="mr-4 mt-2"><%= t('view.product.index.footer_help').to_s %></p>
          <a href="#" id="prod-show-less" class="prod-show-hide hidden">
            <p class="float-left"><%= t('view.general.show-less').to_s %></p>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="float-left">
      <a href="#" class="prod-show-hide small" id="prod-show-more">
        <%= t('view.general.show-product').to_s %>
      </a>
    </div>
    <div class="float-right">
    <%= link_to t('view.product.index.product-graph'), productmap_path, class: 'small mr-1',
                target: "_blank", rel: "noreferrer noopener" %>
    <span class="small mr-1">&nbsp;|</span>
    <% if user_signed_in? && policy(Product).mod_allowed? %>
      <%= link_to t('view.general.create'), new_product_path, class: 'small mr-1' %>
      <span class="small mr-1">&nbsp;|</span>
      <%= link_to t('view.organization.index.view-audit'), audits_path(type: "Product"), :class => 'small mr-1' %>
    <% else %>
      <%= link_to t('view.general.create'),
          'https://github.com/unicef/publicgoods-candidates#how-to-submit-a-new-candidate-for-a-digital-public-good',
          class: 'small mr-1', target: :_blank  %>
    <% end %>
    </div>
  </div>
</div>

<%= render 'products/filter' %>

<div id="current-list">
  <div id="product-list" data-current-page="1" class="row">
    <%= render @products %>
  </div>
</div>

<script>
  $(".prod-show-hide").on('click', function(e) {
    e.preventDefault()
    $("#prod-more").toggleClass('hidden')
    $("#prod-show-more").toggleClass('hidden')
    $("#prod-show-less").toggleClass('hidden')
  })
</script>
