<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <%= link_to t('view.product.index.product-graph'), productmap_path,
        class: 'small ml-1 float-right', target: "_blank" %>
    <% if user_signed_in? && policy(Product).mod_allowed? %>
      <span class="float-right small">&nbsp;|</span><%= link_to t('view.general.create'), new_product_path, class: 'float-right small ml-1' %>
    <% else %>
      <span class="float-right small">&nbsp;|</span><%= link_to t('view.general.create'),
          'https://github.com/unicef/publicgoods-candidates#how-to-submit-a-new-candidate-for-a-digital-public-good',
          class: 'float-right small ml-1', target: :_blank  %>
    <% end %>
  </div>
</div>

<div id="current-list">
<div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
      <div class="card index-card small">
        <div class="card-header bg-secondary text-white">
          <%= link_to truncate(product.name, length: 25, omission: '&hellip;', escape: false), product,
              'title' => product.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          <% if product.is_launchable %>
            <i class="fa fa-rocket header-img ml-1" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('view.product.index.is_deployable') %>"></i>
          <% end %>
          <% if is_endorsed(product) %>
            <%= image_tag("digiprins.png", class: 'header-img', 'title' => t('view.product.index.is_endorsed'), 'data-toggle' => 'tooltip', 'data-placement' => 'top') %>
          <% end %>
        </div>
        <div class="model-logo">
          <%= link_to(product) do %>
            <% if product.is_image_compiled %>
              <%= image_tag(product.image_file, class: 'card-img-top align-middle') %>
            <% else %>
              <%= image_tag(product.image_file, class: 'card-img-top align-middle', skip_pipeline: true) %>
            <% end %>
          <% end %>
        </div>

        <div class="card-footer footer-padding">
            <% category, images = get_footer_row(product, 1) %>
            <% if images.count > 0 %>
              <div class="footer-row" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<%= get_row_popover(category,images) %>'>
            <% else %>
              <div class="footer-row">
            <% end %>
              <% images.each do |image| %>
                <% if image["gradient"] %>
                  <div class="digisquare-gauge-small" title data-toggle="tooltip" data-placement="top" data-original-title="<%= image["tooltip"] %>">
                    <p class="footer-score"><%= image["filename"] %></p>
                  </div>
                <% elsif image["osc"] %>
                  <div class="osc-small" title data-toggle="tooltip" data-placement="top" data-original-title="<%= image["tooltip"] %>">
                    <p class="osc-footer-score"><%= image["filename"] %></p>
                  </div>
                <% else %>
                  <%= image_tag(image["filename"], class: 'footer-img', 'title' => image["tooltip"], 'data-toggle' => 'tooltip', 'data-placement' => 'top') %>
                <% end %>
              <% end %>
            </div>
            <% category, images = get_footer_row(product, 2) %>
            <% if images.count > 0 %>
              <div class="footer-row mt-1" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<%= get_row_popover(category,images) %>'>
            <% else %>
              <div class="footer-row mt-1">
            <% end %>
              <% images.each do |image| %>
                <% if image["gradient"] %>
                  <div class="digisquare-gauge-small" title data-toggle="tooltip" data-placement="top" data-original-title="<%= image["tooltip"] %>">
                    <p class="footer-score"><%= image["filename"] %></p>
                  </div>
                <% elsif image["osc"] %>
                  <div class="osc-small" title data-toggle="tooltip" data-placement="top" data-original-title="<%= image["tooltip"] %>">
                    <p class="osc-footer-score"><%= image["filename"] %></p>
                  </div>
                <% else %>
                  <%= image_tag(image["filename"], class: 'footer-img', 'title' => image["tooltip"], 'data-toggle' => 'tooltip', 'data-placement' => 'top') %>
                <% end %>
              <% end %>
            </div>
            <% category, images = get_footer_row(product, 3) %>
            <div class="footer-row" data-container="body" data-toggle="popover" data-placement="bottom">
              <p class="footer-source"><%= get_source_label(product) %></p>
              <% images.each do |image| %>
                <%= image_tag(image["filename"], class: 'footer-img-right', 'title' => image["tooltip"], 'data-toggle' => 'tooltip', 'data-placement' => 'top') %>
              <% end %>
            </div>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
