<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-8">
    <%= link_to "Product Graph", productmap_path, :class => 'btn btn-outline-secondary float-left ml-1', target: "_blank" %>
    <% if user_signed_in? && policy(Product).mod_allowed? %>
      <%= link_to 'Create New', new_product_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
  <div class="col-4 pr-0">
    <div class="float-right">
      <button id="filter-toggle" type="button" class="btn btn-secondary"
              data-toggle="collapse" data-target="#filter-options"
              aria-expanded="false" aria-controls="filter-options">
        Filter
      </button>
    </div>
  </div>
</div>
<%= render 'filter', products: @products %>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-2 col-md-4 d-flex align-items-stretch mt-2">
      <div class="card index-card">
        <div class="card-header bg-secondary text-white small">
          <%= link_to truncate(product.name, length: 25, omission: '&hellip;', escape: false), product,
              'title' => product.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
        </div>
        <%= link_to image_tag(product.image_file, width: 200, class: 'card-img-top align-middle'), product %>
        <div class="card-footer">
            <% if !product.website.nil? and !product.website.empty? %>
              <p class="card-text"><small><a href="<%= product.website %>" target="_new"><%= product.website %> &#x29c9;</a></small><br/>
            <% end %>
            <small>
              <%= product.interop_relationships.size %> interops,
              <%= product.include_relationships.size %> includes,
              <%= product.references.size %> references,
              <%= product.building_blocks.size %> building block(s),
              <%= product.sectors.size %> sector(s)
            </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
