<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<br clear="both"/>

<div class="card mt-2">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.product').to_s.humanize}: #{@product.name}" %>
    <% if !@product.status.nil? %>
      <div class="float-right mr-2 text-white"> 
        <%= @product.status %>
      </div>
    <% end %>
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div style="display:flex; align-items:center; flex-grow:1">
          <%= image_tag(@product.image_file, class: 'card-img-top align-middle') %>
        </div>
      </div>
      <% if @child_products.empty? %>
        <div class="col-6 mt-2">
          <%= render 'productdata', product: @product, product_description: @product_description %>
        </div>
      <% else %>
        <div class="col-6 mt-2">
          <h6 class="card-text text-muted mt-2 mb-2">
              <%= @product.name %> <%= t('view.product.index.multiple') %>
          </h6>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-4">
        <% if !@product.tags.empty? %>
            <small class="font-italic">
            <%= t('model.tag').titlecase.pluralize %>:
            <%= @product.tags.join(", ") %>
            </small>
        <% end %>
      </div>
      <div class="offset-4 col-4">
        <p class="float-right mb-0" >
          <%= link_to t('view.general.back'), products_path, :class => "card-link" %>
          <% if user_signed_in? && policy(@product).mod_allowed? %>
            <%= link_to t('view.general.edit'), edit_product_path(@product), :class => "card-link" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<% if !@child_products.empty? %>
  
  <div class="card my-3">
    <h5 class="card-header bg-secondary text-white">
      <%= @product.name %>
    </h5>
    <div class="card-body p-3">
      <div class="row">
        <div class="col-6">
          <%= render 'productdata', product: @product, product_description: @product_description %>
        </div>
        <div class="col-6">
          <% statistics_data = @product.statistics %>
          <% unless statistics_data['data'].nil? %>
            <% repository_data = statistics_data['data']['repository'] %>
            <% if !repository_data.nil? %>
              <%= render 'repositorydata', repository_data: repository_data %>
            <% end %>
          <% end %>
        </div>
        <div class="col-12">
          <p class="float-right mb-1" >
            <% if user_signed_in? && policy(@product).mod_allowed? %>
              <%= link_to t('view.general.edit'), edit_product_path(@product), :class => "card-link" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <% @child_products.each do |child_product| %>
    <% curr_description = @child_descriptions.where(product_id: child_product).first %>
    <div class="card my-3">
      <h5 class="card-header bg-secondary text-white">
        <%= child_product.name %>
      </h5>
      <div class="card-body p-3">
        <div class="row">
          <div class="col-6">
            <%= render 'productdata', product: child_product, product_description: curr_description %>
          </div>
          <div class="col-6">
            <% statistics_data = child_product.statistics %>
            <% unless statistics_data['data'].nil? %>
              <% repository_data = statistics_data['data']['repository'] %>
              <% if !repository_data.nil? %><%= render 'repositorydata', repository_data: repository_data %><% end %>
            <% end %>
          </div>
          <div class="col-12">
            <p class="float-right mb-1" >
              <% if user_signed_in? && policy(@product).mod_allowed? %>
                <%= link_to t('view.general.edit'), edit_product_path(child_product), :class => "card-link" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <% statistics_data = @product.statistics %>
  <% unless statistics_data['data'].nil? %>
    <% repository_data = statistics_data['data']['repository'] %>
    <% if !repository_data.nil? %><%= render 'repositorydata', repository_data: repository_data %><% end %>
  <% end %>
<% end %>

<div class="card-deck mt-2">
  <div class="card">
    <h5 class="card-header bg-secondary text-white clearfix"><%= t('model.organization').to_s.humanize.pluralize %></h5>
    <div class="card-body">
      <% if @product.organizations.count > 0 %>
        <% @product.organizations.each_slice(3) do |org_row| %>
          <div class="card-deck">
            <% org_row.each do |organization| %>
              <div class="card">
                <div class="card-body">
                  <%= link_to organization do %>
                    <%= image_tag(organization.image_file, class: 'card-image align-middle p-0') %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if org_row.size < 3  %>
              <% (3 - org_row.size).times do |x| %>
                <div class="card card-placeholder">
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.organization').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header bg-secondary text-white clearfix"><%= t('model.sector').to_s.humanize.pluralize %></h5>
    <div class="card-body">
      <% if @product.sectors.count > 0 %>
        <% @product.sectors.each_slice(3) do |sector_row| %>
        <div class="card-deck">
          <% sector_row.each do |sector| %>
            <div class="card">
              <div class="card-body">
                <%= link_to sector do %>
                  <div class="p-2 ml-1 clearfix">
                    <p class="mb-0 float-left"><%= sector.name %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if sector_row.size < 3  %>
            <% (3 - sector_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.sector').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck mt-2">
  <div class="card">
    <h5 class="card-header bg-secondary text-white"><%= t('model.building-block').to_s.pluralize.titlecase %></h5>
    <div class="card-body">
    <% if @product.building_blocks.count > 0 %>
      <% @product.building_blocks.each_slice(3) do |bb_row| %>
        <div class="card-deck">
          <% bb_row.each do |bb| %>
            <div class="card">
              <div class="card-body">
                <%= link_to bb do %>
                  <%= image_tag(bb.image_file, class: 'card-image align-middle p-0', title: bb.name, 'data-toggle': 'tooltip', 'data-placement': 'top' ) %>
                <% end %>
              </div>
              <% product_bb = @product.products_building_blocks.where(building_block_id: bb.id) %>
              <% if !product_bb.first.nil? %>
                <div class="text-muted text-center"><%= product_bb.first.link_type %></div>
              <% end %>
            </div>
          <% end %>
          <% if bb_row.size < 3  %>
            <% (3 - bb_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.building-block').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header bg-secondary text-white clearfix"><%= t('model.sdg').to_s.upcase.pluralize %></h5>
    <div class="card-body">
      <% if @product.sustainable_development_goals.count > 0 %>
        <% @product.sustainable_development_goals.each_slice(3) do |sdg_row| %>
        <div class="card-deck">
          <% sdg_row.each do |sdg| %>
            <div class="card">
              <div class="card-body">
                <%= link_to sdg do %>
                  <%= image_tag(sdg.image_file, width: 50, class: 'card-image align-middle p-0') %>
                <% end %>
              </div>
              <% product_sdg = @product.products_sustainable_development_goals.where(sustainable_development_goal_id: sdg.id) %>
              <% if !product_sdg.first.nil? %>
                <div class="text-muted text-center"><%= product_sdg.first.link_type %></div>
              <% end %>
            </div>
          <% end %>
          <% if sdg_row.size < 3  %>
            <% (3 - sdg_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.sustainable-development-goal').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck mt-2">
  <div class="card">
    <h5 class="card-header bg-secondary text-white clearfix"><%= t('view.product.form.interoperable-products') %></h5>
    <div class="card-body">
      <% if @product.interoperates_with.count > 0 %>
        <% @product.interoperates_with.each_slice(3) do |product_row| %>
        <div class="card-deck">
          <% product_row.each do |product| %>
            <div class="card">
              <div class="card-body">
                <!-- <h5 class="card-title"><%= link_to product.name, product %></h5> -->
                <%= link_to product do %>
                  <%= image_tag(product.image_file, width: 50, class: 'card-image align-middle') %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if product_row.size < 3  %>
            <% (3 - product_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <%end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.product.show.no-interrop-product') %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header bg-secondary text-white clearfix"><%= t('view.product.form.included-products') %></h5>
    <div class="card-body">
      <% if @product.includes.count > 0 %>
        <% @product.includes.each_slice(3) do |product_row| %>
        <div class="card-deck">
          <% product_row.each do |product| %>
            <div class="card">
              <div class="card-body">
                <!-- <h5 class="card-title"><%= link_to product.name, product %></h5> -->
                <%= link_to product do %>
                  <%= image_tag(product.image_file, width: 50, class: 'card-image align-middle') %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if product_row.size < 3  %>
            <% (3 - product_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.product.show.no-include-product') %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck mt-2">
  <div class="card">
    <h5 class="card-header bg-secondary text-white"><%= t('view.product.form.product-maturity') %></h5>
    <div class="card-body">
      <% if !@product.maturity_score.nil? && @product.maturity_score > 0 %>
        <h5 class="card-text text-left mb-2">
          <%= t('view.product.show.overall-maturity-score') %>: <%= @product.maturity_score %> / 100
        </h5>
        <div id="maturity-nav" class="card-body accordion-section p-0">
          <div class="maturity-accordion">
            <h3 class="country-list"><%= t('model.rubric-category').titlecase.pluralize %></h3>
            <div>
              <div class="maturity-accordion">
                <% !@maturity_scores.nil? && @maturity_scores.each do |category| %>
                  <% if category[:overall_score] > 0 %>
                    <div><%= category[:name] %>, <%= t('view.product.show.overall-score') %>: <%= (category[:overall_score] * 10).round %> / 100</div>
                    <div>
                    <% num_indicators = category[:indicator_scores].count %>
                    <% category[:indicator_scores].each do |indicator| %>
                      <% indicator_score = (indicator[:score] * num_indicators * 10).round %>
                      <% if indicator_score > 100 %>
                        <% indicator_score = 100 %>
                      <% end %>
                      <% if !indicator[:score].nil? %>
                          <p>Indicator: <%= indicator[:name] %>,
                          Score: <%= indicator_score %> / 100 </p>
                          <p class="ml-4 text-muted">Description: <%= raw indicator[:description] %></p>
                      <% end %>
                    <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <p class="card-text text-left text-muted">
          <%= t('view.product.show.no-maturity') %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<% if @product.classifications.count > 0 %>
<div class="card-deck mt-2">
  <div class="card">
    <h5 class="card-header bg-secondary text-white">
        <%= t('view.product.show.classifications') %>
    </h5>
    <div class="card-body">

      <ul>
        <% @product.classifications.each do |classification| %>
            <li><%= classification.name %>
            (<%= t('view.product.show.classification-source') %>: 
            <%= classification.source %>)</li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
<% end %>
<div class="card-deck mt-2">
  <div class="card">
    <h5 class="card-header bg-secondary text-white">
        <%= t('view.product.show.cost-data') %>
    </h5>
    <div class="card-body">
      <% if @product.code_lines.nil? && @product.cocomo.nil? && @product.est_hosting.nil? && @product.est_invested.nil? %>
        <p class="card-text text-muted">
          <%= t('view.product.show.no-cost-data') %>
        </p>
      <% else %>
        <div class="row">
          <div class="col-5 col-xs-12 mt-3">
            <div class="text-muted"><%= t('view.product.show.code-lines') %></div>
            <h4 class="ml-4"><%= @product.code_lines %></h4>
          </div>
          <div class="col-6 col-xs-12 mt-3" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('view.product.show.cocomo') %>">
            <div class="text-muted"><%= t('view.product.show.est-effort') %>
              <i class="fas fa-info-circle ml-1"></i>
            </div>
            <h4 class="ml-4"><%= @product.cocomo %></h4>
          </div>
        </div>
        <% if !@product.est_hosting.nil? || !@product.est_invested.nil? %>
          <div class="row">
            <div class="col-5 col-xs-12 mt-3">
              <div class="text-muted"><%= t('view.product.show.est-hosting') %></div>
              <h4 class="ml-4"><%= @product.est_hosting %></h4>
            </div>
            <div class="col-6 col-xs-12 mt-3">
              <div class="text-muted"><%= t('view.product.show.est-invested') %></div>
              <h4 class="ml-4"><%= @product.est_invested %></h4>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header bg-secondary text-white">
        <%= t('view.product.show.auto-launch') %>
    </h5>
    <div class="card-body">
      <% if @product.is_launchable %>
        <div id="launchdata">
        <%= render partial: "launch" %>
        </div>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.product.show.not-auto-launch') %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-2">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('view.general.comment').to_s.titlecase.pluralize %></h5>
  </div>
  <%= commontator_thread(@product) %>
</div>

<script>
  setUpViewer(<%= raw JSON.generate(@product_description.description) %>)
</script>
