<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<%= link_to "Product Graph", productmap_path, :class => 'btn btn-outline-secondary float-left ml-1 float-right', target: "_blank" %>
<br clear="both"/>

<div class="card mt-4">
  <h5 class="card-header bg-secondary text-white">
    Product: <%= @product.name %>
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <%= image_tag(@product.image_file, width: 200, class: "ml-3") %>
      </div>
      <div class="col-6 mt-4">
        <% if !@product.website.nil? and !@product.website.empty? %>
          <h6 class="card-text text-muted mt-2 mb-2">
            <strong>Website:
            </strong><%= @product.website %>
          </h6>
        <% end %>
      </div>
    </div>
    <p class="float-right mb-0" >
      <%= link_to 'Back', products_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@product).mod_allowed? %>
        <%= link_to 'Edit', edit_product_path(@product), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0">Organizations</h5>
  </div>
  <% if @product.organizations.count > 0 %>
    <div class="row">
      <% @product.organizations.each do |organization| %>
        <div class="col-6 col-lg-2 mt-2">
          <div class="card h-100">
            <div class="card-body pb-1 snug">
              <%= link_to organization do %>
                <%= image_tag(organization.image_file, width: 200, class: 'card-img-top align-middle') %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">We don't have any organization information for this product.</p>
  <% end %>
</div>

<div class="card-deck mt-4">
  <div class="card">
    <div class="card-header bg-secondary text-white clearfix">
      <h5 class="float-left">Interoperable Products</h5>
    </div>
    <div class="card-body">
      <% if @product.interoperates_with.count > 0 %>
        <% @product.interoperates_with.each_slice(2) do |product_row| %>
        <div class="card-deck">
          <% product_row.each do |product| %>
            <div class="card">
              <div class="card-body snug">
                <!-- <h5 class="card-title"><%= link_to product.name, product %></h5> -->
                <%= link_to product do %>
                  <%= image_tag(product.image_file, width: 50, class: 'card-img-top align-middle') %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if product_row.size < 2  %>
            <% (2 - product_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <%end %>
      <% else %>
        <p class="card-text text-muted">We don't have any interoperating information for this product.</p>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-secondary text-white clearfix">
      <h5 class="float-left">Included Products</h5>
    </div>
    <div class="card-body">
      <% if @product.includes.count > 0 %>
        <% @product.includes.each_slice(2) do |product_row| %>
        <div class="card-deck">
          <% product_row.each do |product| %>
            <div class="card">
              <div class="card-body snug">
                <!-- <h5 class="card-title"><%= link_to product.name, product %></h5> -->
                <%= link_to product do %>
                  <%= image_tag(product.image_file, width: 50, class: 'card-img-top align-middle') %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if product_row.size < 2  %>
            <% (2 - product_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">We don't have any includes information for this product.</p>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-secondary text-white clearfix">
      <h5 class="float-left">SDGs</h5>
    </div>
    <div class="card-body">
      <% if @product.sustainable_development_goals.count > 0 %>
        <% @product.sustainable_development_goals.each_slice(2) do |sdg_row| %>
        <div class="card-deck">
          <% sdg_row.each do |sdg| %>
            <div class="card">
              <div class="card-body snug">
                <!-- <h5 class="card-title"><%= sdg.name %></h5> -->
                <%= image_tag(sdg.image_file, width: 50, class: 'card-img-top align-middle') %>
              </div>
            </div>
          <% end %>
          <% if sdg_row.size < 2  %>
            <% (2 - sdg_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">We don't have any sustainable development goal information for this product.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck">
    <div class="card">
      <h5 class="card-header bg-secondary text-white">Digital Square Maturity</h5>
      <div class="card-body text-center">
        <% if !@product.product_assessment.nil? and @product.product_assessment.has_digisquare %>
          <% @digisquare_maturity.each do |digisquare_maturity_category| %>
            <div class="digisquare-gauge">
             <div class="needle" style="transform: rotate(<%= 90 + 18*(@product.maturity_scores[digisquare_maturity_category['core']])%>deg)"></div>
            </div>
            <br clear="both"/>
            <small><%= digisquare_maturity_category['core'] %>:<%= @product.maturity_scores[digisquare_maturity_category['core']] %></small>
            <br clear="both"/>
          <% end %>
        <% else %>
          <small>This product hasn't been evaluated with Digital Square's maturity model.</small>
        <% end %>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header bg-secondary text-white">Open Source Center Maturity</h5>
      <div class="card-body">
        <% if !@product.product_assessment.nil? and @product.product_assessment.has_osc %>
          <small>
          <ul>
            <% @osc_maturity.each do |osc_maturity| %>
              <li>
                  <strong><%= osc_maturity["header"] %></strong>:
                  <big><%= @product.maturity_scores[osc_maturity['header']]['score'] %></big> /
                  <%= @product.maturity_scores[osc_maturity['header']]['total'] %>
              </li>
            <% end %>
          </ul>
          </small>
        <% else %>
          <small>This product hasn't been evaluated with the OSC's maturity model.</small>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-header bg-secondary text-white clearfix">
        <h5 class="float-left">Building Blocks</h5>
      </div>
      <div class="row">
        <div class="card h-100 p-1">
          <div class="card-body pb-2 pt-2">
            <% if @product.building_blocks.count > 0 %>
                <% @product.building_blocks.each do |building_block| %>
                  <h5 class="card-text text-muted mb-1"><small><%= link_to building_block.name, building_block %></small></h5>
                <% end %>
            <% else %>
              <p class="card-text text-muted">We don't have any building block information for this product.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0">Automatic Launch</h5>
  </div id="autolaunch">
  <% if @product.is_launchable %>
    <p class="card-text text-muted">Docker hub image: <%= @product.docker_image %></p>
    <div id="launchdata">
    <%= render partial: "launch" %>
    </div>
  <% else %>
    <p class="card-text text-muted">This product is not configured for auto-launch</p>
  <% end %>
</div>
