<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<%= link_to t('view.product.index.product-graph'), productmap_path,
            :class => 'btn btn-outline-secondary float-left ml-1 float-right',
            target: "_blank", rel: "noreferrer noopener" %>
<br clear="both"/>

<div class="card mt-4">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.product').to_s.humanize}: #{@product.name}" %>
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div style="display:flex; align-items:center; flex-grow:1">
          <%= image_tag(@product.image_file, class: 'card-img-top align-middle') %>
        </div>
      </div>
      <div class="col-6 mt-4">
        <% if !@product.website.nil? and !@product.website.empty? %>
          <h6 class="card-text text-muted mt-2 mb-2">
            <strong><%= t('view.product.form.website') %>:</strong>
            <a href="//<%= @product.website %>" target="_blank" rel="noreferrer noopener"><%= @product.website %> &#x29c9;</a>
          </h6>
        <% end %>
        <h6 class="card-text text-muted mt-2 mb-2">
          <strong><%= t('view.product.form.repository') %>:</strong>
          <% if !@product.repository.blank? %>
            <a href="//<%= @product.repository %>" target="_new"><%= @product.repository %> &#x29c9;</a>
          <% else %>
            <%= t('view.product.show.na') %>
          <% end %>
        </h6>
        <h6 class="card-text text-muted mt-2 mb-2">
          <strong><%= t('view.product.show.license') %>:</strong>
          <%= @product.license.blank? ? t('view.product.show.na') :
              @product.license == 'NOASSERTION' ? t('view.product.show.license-unknown') :
              @product.license
          %>
        </h6>
        <% if !@product.product_versions.nil? and !@product.product_versions.empty? %>
          <h6 class="card-text text-muted mt-2 mb-2">
            <strong><%= t('view.product.show.active-version') %>:</strong>
            <%= @product.product_versions.last.version %>
          </h6>
        <% end %>
        <% if !@product.origins.nil? and !@product.origins.empty? %>
          <h6 class="card-text text-muted mt-2 mb-2">
          <strong><%= t('view.product.index.sources') %></strong>
          <% @product.origins.each do |origin| %>
            <%= image_tag("origins/"+origin.slug+".png", class: 'origin-img-full') %>
          <% end %>
        <% end %>
        <% if !@product.aliases.empty? %>
          <h6 class="card-text text-muted mt-2 mb-2">
            <strong><%= t('view.product.form.other-names') %>:</strong>
            <ul>
              <% @product.aliases.each{|other_name| %>
                <li><%= other_name %></li>
              <%}%>
            </ul>
          </h6>
        <% end %>
        <% if !@product_description.description.nil? and !@product_description.description.empty? %>
          <h6 class="card-text text-muted mt-2 mb-2">
            <strong><%= t('view.product.index.description') %>:</strong>
            <div id="product-viewer" class="wysiwyg-viewer"></div>
          </h6>
        <% end %>
      </div>
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), products_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@product).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_product_path(@product), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>

<div class="card-deck mt-4">
  <div class="card">
    <div class="card-header bg-secondary text-white clearfix">
      <h5 class="float-left mb-0"><%= t('model.organization').to_s.humanize.pluralize %></h5>
    </div>
    <div class="card-body">
      <% if @product.organizations.count > 0 %>
        <% @product.organizations.each_slice(3) do |org_row| %>
          <div class="card-deck">
            <% org_row.each do |organization| %>
              <div class="card">
                <div class="card-body snug">
                  <%= link_to organization do %>
                    <%= image_tag(organization.image_file, width: 50, class: 'card-img-top align-middle p-0') %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if org_row.size < 3  %>
              <% (3 - org_row.size).times do |x| %>
                <div class="card card-placeholder">
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.organization').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-secondary text-white clearfix">
      <h5 class="float-left"><%= t('model.sector').to_s.humanize.pluralize %></h5>
    </div>
    <div class="card-body">
      <% if @product.sectors.count > 0 %>
        <% @product.sectors.each_slice(3) do |sector_row| %>
        <div class="card-deck">
          <% sector_row.each do |sector| %>
            <div class="card">
              <div class="card-body">
                <%= link_to sector do %>
                  <div class="p-2 ml-1 clearfix">
                    <p class="mb-0 float-left"><%= sector.name %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if sector_row.size < 3  %>
            <% (3 - sector_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.sector').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <h5 class="card-header bg-secondary text-white"><%= t('model.building-block').to_s.pluralize.titlecase %></h5>
    <div class="card-body">
    <% if @product.building_blocks.count > 0 %>
      <% @product.building_blocks.each_slice(3) do |bb_row| %>
        <div class="card-deck">
          <% bb_row.each do |bb| %>
            <div class="card">
              <div class="card-body snug">
                <%= link_to bb do %>
                  <%= image_tag(bb.image_file, width: 50, class: 'card-img-top align-middle p-0') %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if bb_row.size < 3  %>
            <% (3 - bb_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.building-block').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-secondary text-white clearfix">
      <h5 class="float-left"><%= t('model.sdg').to_s.upcase.pluralize %></h5>
    </div>
    <div class="card-body">
      <% if @product.sustainable_development_goals.count > 0 %>
        <% @product.sustainable_development_goals.each_slice(3) do |sdg_row| %>
        <div class="card-deck">
          <% sdg_row.each do |sdg| %>
            <div class="card">
              <div class="card-body snug">
                <%= link_to sdg do %>
                  <%= image_tag(sdg.image_file, width: 50, class: 'card-img-top align-middle p-0') %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if sdg_row.size < 3  %>
            <% (3 - sdg_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.sustainable-development-goal').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck mt-4">
  <div class="card">
    <div class="card-header bg-secondary text-white clearfix">
      <h5 class="float-left"><%= t('view.product.form.interoperable-products') %></h5>
    </div>
    <div class="card-body">
      <% if @product.interoperates_with.count > 0 %>
        <% @product.interoperates_with.each_slice(3) do |product_row| %>
        <div class="card-deck">
          <% product_row.each do |product| %>
            <div class="card">
              <div class="card-body snug">
                <!-- <h5 class="card-title"><%= link_to product.name, product %></h5> -->
                <%= link_to product do %>
                  <%= image_tag(product.image_file, width: 50, class: 'card-img-top align-middle') %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if product_row.size < 3  %>
            <% (3 - product_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <%end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.product.show.no-interrop-product') %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-secondary text-white clearfix">
      <h5 class="float-left"><%= t('view.product.form.included-products') %></h5>
    </div>
    <div class="card-body">
      <% if @product.includes.count > 0 %>
        <% @product.includes.each_slice(3) do |product_row| %>
        <div class="card-deck">
          <% product_row.each do |product| %>
            <div class="card">
              <div class="card-body snug">
                <!-- <h5 class="card-title"><%= link_to product.name, product %></h5> -->
                <%= link_to product do %>
                  <%= image_tag(product.image_file, width: 50, class: 'card-img-top align-middle') %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if product_row.size < 3  %>
            <% (3 - product_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.product.show.no-include-product') %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
      <h5 class="card-header bg-secondary text-white"><%= t('view.product.form.digisquare-maturity') %></h5>
      <div class="card-body text-center">
        <% if !@product.product_assessment.nil? and @product.product_assessment.has_digisquare %>
          <% @digisquare_maturity.each do |digisquare_maturity_category| %>
            <div class="digisquare-gauge">
             <div class="needle" style="transform: rotate(<%= 90 + 18*(@product.maturity_scores[digisquare_maturity_category['core']])%>deg)"></div>
            </div>
            <br clear="both"/>
            <small><%= digisquare_maturity_category['core'] %>:<%= @product.maturity_scores[digisquare_maturity_category['core']] %></small>
            <br clear="both"/>
          <% end %>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.product.show.no-digisquare-eval') %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header bg-secondary text-white"><%= t('view.product.form.osc-maturity') %></h5>
      <div class="card-body">
        <% if !@product.product_assessment.nil? and @product.product_assessment.has_osc %>
          <small>
          <ul>
            <% @osc_maturity.each do |osc_maturity| %>
              <li>
                  <strong><%= osc_maturity["header"] %></strong>:
                  <big><%= @product.maturity_scores[osc_maturity['header']]['score'] %></big> /
                  <%= @product.maturity_scores[osc_maturity['header']]['total'] %>
              </li>
            <% end %>
          </ul>
          </small>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.product.show.no-osc-eval') %>
          </p>
        <% end %>
      </div>
    </div>
</div>

<div class="card-deck">
  <div class="card">
    <h5 class="card-header bg-secondary text-white">
        <%= t('view.product.show.auto-launch') %>
    </h5>
    <div class="card-body">
      <% if @product.is_launchable %>
        <div id="launchdata">
        <%= render partial: "launch" %>
        </div>
      <% else %>
        <p class="card-text text-muted">
          <%= t('view.product.show.not-auto-launch') %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="card" style="border:none;">
  </div>
</div>

<script>
  setUpViewer("<%= @product_description.description %>")
</script>
