<p id="notice"><%= notice %></p>
<div class="card">
  <h5 class="card-header"><%= @product.name %></h5>
  <div class="card-body">
    <h6 class="card-text text-muted mb-2">
      <strong>Website:
      </strong><%= @product.website %>
    </h6>
    <p class="float-right mb-0">
      <%= link_to 'Back', products_path, :class => "card-link" %>
      <%= link_to 'Edit', edit_product_path(@product), :class => "card-link" %>
    </p>
  </div>
</div>

<div class="container mt-4">
  <div class="card">
    <div class="card-header clearfix">
      <h5 class="float-left">Building Blocks</h5>
      <%= link_to 'Add', new_building_block_path, :class => "card-link float-right" %>
    </div>
    <div class="card-body">
      <% if @product.building_blocks.count > 0 %>
        <div class="card-columns">
          <% @product.building_blocks.each do |building_block| %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= link_to building_block.name, building_block %></h5>
                <%= link_to 'Edit', edit_building_block_path(building_block), :class => "card-link float-right mb-2" %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="card-text text-muted">We don't have any product information for this building block.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs pull-right" id="maturity" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="osc-maturity-tab" data-toggle="tab" href="#osc-maturity" role="tab" aria-controls="osc-maturity" aria-selected="true">
          OSC Maturity
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="digi-square-tab" data-toggle="tab" href="#digi-square-maturity" role="tab" aria-controls="digi-square" aria-selected="false">
          Digital Square Maturity
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content maturity-element">
      <div class="tab-pane fade show active" id="osc-maturity" role="tabpanel" aria-labelledby="osc-maturity-tab">
        <% if !@product.product_assessment.has_osc %>
          <% if !has_osc_assessment(@product.product_assessment) %>
            <div class="alert alert-primary" role="alert">
              This product has not been evaluated with this maturity model.
            </div>
          <% else %>
            <div class="alert alert-warning" role="alert">
              This product evaluation is started but the evaluation process is not complete yet.
            </div>
          <% end %>
        <% else %>
          <div class="alert alert-success" role="alert">
            This product evaluation with this maturity model is completed.
          </div>
        <% end %>
        <% @osc_maturity.each do |osc_maturity| %>
          <div class="list-group">
            <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
              <h4 class="mb-1"><%= osc_maturity["header"] %></h4>
            </div>
            <% osc_maturity["items"].each do |item| %>
              <div class="list-group-item align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1"><%= item["code"] %></h6>
                  <i class="
                       <%= @product.product_assessment.send('osc_' + item["code"].downcase) ? 'fas fa-check-circle text-success' : 'far fa-circle' %>"></i>
                </div>
                <p class="mb-1"><%= item["desc"].html_safe %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="digi-square-maturity" role="tabpanel" aria-labelledby="digi-square-tab">
        <% if !@product.product_assessment.has_digisquare %>
          <% if !has_digisquare_assessment(@product.product_assessment) %>
            <div class="alert alert-primary" role="alert">
              This product has not been evaluated with this maturity model.
            </div>
          <% else %>
            <div class="alert alert-warning" role="alert">
              This product evaluation is started but the evaluation process is not complete yet.
            </div>
          <% end %>
        <% else %>
          <div class="alert alert-success" role="alert">
            This product evaluation with this maturity model is completed.
          </div>
        <% end %>
        <% @digisquare_maturity.each do |digisquare_maturity| %>
          <div class="list-group">
            <div class="list-group-item align-items-start text-light" style="background-color: #2e3842;">
              <h4 class="mb-1"><%= digisquare_maturity["core"] %></h4>
            </div>
            <% digisquare_maturity["sub-indicators"].each do |sub_indicator| %>
              <div class="list-group-item">
                <div class="list-group">
                  <div class="list-group-item align-items-start" style="background-color: #c9daf8;">
                    <h5 class="mb-1"><%= sub_indicator["name"] %></h5>
                  </div>

                  <% if !@product.product_assessment.send(sub_indicator["code"]) %>
                    <div class="list-group-item align-items-start">
                      <p class="mb-1">Maturity indicator is not assigned.</p>
                    </div>
                  <% end %>

                  <% if @product.product_assessment.send(sub_indicator["code"]) == 1 %>
                  <div class="list-group-item align-items-start" style="background-color: #e6b8af;">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">Low</h6>
                      <i class="
                         <%= @product.product_assessment.send(sub_indicator["code"]) == 1 ? 'fas fa-check-circle text-success' : 'far fa-check-circle' %>"></i>
                    </div>
                    <p class="mb-1"><%= sub_indicator["low"].html_safe %></p>
                  </div>
                  <% end %>

                  <% if @product.product_assessment.send(sub_indicator["code"]) == 2 %>
                  <div class="list-group-item align-items-start" style="background-color: #fff2cc;">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">Medium</h6>
                      <i class="
                         <%= @product.product_assessment.send(sub_indicator["code"]) == 2 ? 'fas fa-check-circle text-success' : 'far fa-check-circle' %>"></i>
                    </div>
                    <p class="mb-1"><%= sub_indicator["medium"].html_safe %></p>
                  </div>
                  <% end %>

                  <% if @product.product_assessment.send(sub_indicator["code"]) == 3 %>
                  <div class="list-group-item align-items-start" style="background-color: #b6d7a8;">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">High</h6>
                      <i class="
                         <%= @product.product_assessment.send(sub_indicator["code"]) == 3 ? 'fas fa-check-circle text-success' : 'far fa-check-circle' %>"></i>
                    </div>
                    <p class="mb-1"><%= sub_indicator["high"].html_safe %></p>
                  </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
