<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div id="product-page">

<div class="card mt-2">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.product').to_s.humanize}: #{@product.name}" %>
    <% if !@product.status.nil? %>
      <div class="float-right mr-2 text-white"> 
        <%= @product.status %>
      </div>
    <% end %>
  </h5>
  <div class="card-body">
    <% if @owner.empty? %>
    <div class="alert alert-info my-2 text-center" role="alert">
      <%= t("view.product.show.owner") %>
      <a href="https://docs.osc.dial.community/projects/product-registry/en/latest/product_owner.html" target="_blank">
        <%= t("view.about.help_link") %>
      </a>
    </div>
    <% end %>
    <div class="row">
      <div class="col-12 col-md-3">
        <div style="display:flex; align-items:center; flex-grow:1; justify-content: center;">
          <%= image_tag(@product.image_file, class: 'card-img-top align-middle') %>
        </div>
      </div>
      <% if @child_products.empty? %>
        <div class="col-12 col-md-9 mt-2">
          <%= render 'productdata', product: @product, product_description: @product_description %>
        </div>
      <% else %>
        <div class="col-12 col-md-9 mt-2">
          <h6 class="card-text text-muted mt-2 mb-2">
              <%= @product.name %> <%= t('view.product.index.multiple') %>
          </h6>
        </div>
      <% end %>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-md-6">
        <% if !@product.tags.empty? %>
            <small class="font-italic">
            <%= t('model.tag').titlecase.pluralize %>:
            <%= @product.tags.join(", ") %>
            </small>
        <% end %>
      </div>
      <div class="col-12 col-md-6">
        <p class="float-right mb-0" >
          <%= link_to t('view.general.back'), products_path, :class => "card-link" %>
          <% if user_signed_in? && policy(@product).mod_allowed? %>
            <%= link_to t('view.general.edit'), edit_product_path(@product), :class => "card-link" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<% if !@child_products.empty? %>
  
  <div class="card my-3">
    <h5 class="card-header bg-secondary text-white">
      <%= @product.name %>
    </h5>
    <div class="card-body p-3">
      <div class="row">
        <div class="col-12 col-md-6">
          <%= render 'productdata', product: @product, product_description: @product_description %>
        </div>
        <div class="col-12 col-md-6">
          <% statistics_data = @product.statistics %>
          <% unless statistics_data['data'].nil? %>
            <% repository_data = statistics_data['data']['repository'] %>
            <% if !repository_data.nil? %>
              <%= render 'repositorydata', repository_data: repository_data %>
            <% end %>
          <% end %>
        </div>
        <div class="col-12">
          <p class="float-right mb-1" >
            <% if user_signed_in? && policy(@product).mod_allowed? %>
              <%= link_to t('view.general.edit'), edit_product_path(@product), :class => "card-link" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <% @child_products.each do |child_product| %>
    <% curr_description = @child_descriptions.where(product_id: child_product).first %>
    <div class="card my-3">
      <h5 class="card-header bg-secondary text-white">
        <%= child_product.name %>
      </h5>
      <div class="card-body p-3">
        <div class="row">
          <div class="col-12 col-md-6">
            <%= render 'productdata', product: child_product, product_description: curr_description %>
          </div>
          <div class="col-12 col-md-6">
            <% statistics_data = child_product.statistics %>
            <% unless statistics_data['data'].nil? %>
              <% repository_data = statistics_data['data']['repository'] %>
              <% if !repository_data.nil? %><%= render 'repositorydata', repository_data: repository_data %><% end %>
            <% end %>
          </div>
          <div class="col-12">
            <p class="float-right mb-1" >
              <% if user_signed_in? && policy(@product).mod_allowed? %>
                <%= link_to t('view.general.edit'), edit_product_path(child_product), :class => "card-link" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <% statistics_data = @product.statistics %>
  <% unless statistics_data['data'].nil? %>
    <% repository_data = statistics_data['data']['repository'] %>
    <% if !repository_data.nil? %><%= render 'repositorydata', repository_data: repository_data %><% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-12 col-md-6 mt-2">
    <div id="organization-list" class="card">
      <h5 class="card-header bg-secondary text-white clearfix">
        <%= t('model.organization').to_s.humanize.pluralize %>
      </h5>
      <div class="card-body">
        <% if @product.organizations.count > 0 %>
          <div class="row">
            <% @product.organizations.each do |organization| %>
              <div class="col-6 col-md-4 mt-2 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-body">
                    <%= link_to organization do %>
                      <%= image_tag(organization.image_file, class: 'card-image align-middle p-0') %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.general.not-available', model: t('model.product'), multi: t('model.organization').to_s.pluralize) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-2">
    <div id="sector-list" class="card">
      <h5 class="card-header bg-secondary text-white clearfix">
        <%= t('model.sector').to_s.humanize.pluralize %>
      </h5>
      <div class="card-body">
        <% if @product.sectors.count > 0 %>
          <div class="row">
            <% @product.sectors.each do |sector| %>
              <div class="col-6 mt-2">
                <div class="card">
                  <div class="card-body p-2">
                    <%= link_to sector do %>
                      <div class="p-1 clearfix">
                        <p class="mb-0 text-center"><%= sector.name %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.general.not-available', model: t('model.product'), multi: t('model.sector').to_s.pluralize) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-2">
    <div id="building-block-list" class="card">
      <h5 class="card-header bg-secondary text-white">
        <%= t('model.building-block').to_s.pluralize.titlecase %>
      </h5>
      <div class="card-body">
        <% if @product.building_blocks.count > 0 %>
          <div class="row">
            <% @product.product_building_blocks.each do |product_bb| %>
              <div class="col-6 col-md-4 mt-2 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-body">
                    <%= link_to product_bb.building_block do %>
                      <%= image_tag(product_bb.building_block.image_file, class: 'card-image align-middle p-0',
                                    title: product_bb.building_block.name, 'data-toggle': 'tooltip', 'data-placement': 'top' ) %>
                    <% end %>
                  </div>
                  <div class="text-muted text-center"><%= product_bb.mapping_status %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.general.not-available', model: t('model.product'), multi: t('model.building-block').to_s.pluralize) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-2">
    <div id="sdg-list" class="card">
      <h5 class="card-header bg-secondary text-white clearfix">
        <%= t('model.sdg').to_s.upcase.pluralize %>
      </h5>
      <div class="card-body">
        <% if @product.product_sustainable_development_goals.count > 0 %>
          <div class="row">
            <% @product.product_sustainable_development_goals.each do |product_sdg| %>
              <div class="col-6 col-md-4 mt-2 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-body">
                    <%= link_to product_sdg.sustainable_development_goal do %>
                      <%= image_tag(product_sdg.sustainable_development_goal.image_file, width: 50, 
                                    class: 'card-image align-middle p-0') %>
                    <% end %>
                  </div>
                  <% if !product_sdg.nil? %>
                    <div class="text-muted text-center"><%= product_sdg.mapping_status %></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.general.not-available', model: t('model.product'),
                  multi: t('model.sustainable-development-goal').to_s.pluralize) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-2">
    <div id="interop-list" class="card">
      <h5 class="card-header bg-secondary text-white clearfix">
        <%= t('view.product.form.interoperable-products') %>
      </h5>
      <div class="card-body">
        <% if @product.interoperates_with.count > 0 %>
          <div class="row">
            <% @product.interoperates_with.each do |product| %>
              <div class="col-6 col-md-4 mt-2 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-body">
                    <!-- <h5 class="card-title"><%= link_to product.name, product %></h5> -->
                    <%= link_to product do %>
                      <%= image_tag(product.image_file, width: 50, class: 'card-image align-middle') %>
                    <% end %>
                  </div>
                </div>
              </div>
            <%end %>
          </div>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.product.show.no-interrop-product') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-2">
    <div id="include-list" class="card">
      <h5 class="card-header bg-secondary text-white clearfix">
        <%= t('view.product.form.included-products') %>
      </h5>
      <div class="card-body">
        <% if @product.includes.count > 0 %>
          <div class="row">
            <% @product.includes.each do |product| %>
              <div class="col-6 col-md-4 mt-2 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-body">
                    <!-- <h5 class="card-title"><%= link_to product.name, product %></h5> -->
                    <%= link_to product do %>
                      <%= image_tag(product.image_file, width: 50, class: 'card-image align-middle') %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.product.show.no-include-product') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="mt-2">
  <div class="card">
    <h5 class="card-header bg-secondary text-white"><%= t('view.product.form.product-maturity') %></h5>
    <div class="card-body">
      <% if !@product.maturity_score.nil? && @product.maturity_score > 0 %>
        <h5 class="card-text text-left mb-2">
          <%= t('view.product.show.overall-maturity-score') %>: <%= @product.maturity_score %> / 100
        </h5>
        <div id="maturity-nav" class="card-body accordion-section p-0">
          <div class="maturity-accordion">
            <h3 class="country-list"><%= t('model.rubric-category').titlecase.pluralize %></h3>
            <div>
              <div class="maturity-accordion">
                <% !@maturity_scores.nil? && @maturity_scores.each do |category| %>
                  <% if category[:overall_score] > 0 %>
                    <div>
                      <%= category[:name] %>, <%= t('view.product.show.overall-score') %>:
                      <%= (category[:overall_score] * 10).round %> / 100
                    </div>
                    <div>
                    <% num_indicators = category[:indicator_scores].count %>
                    <% category[:indicator_scores].each do |indicator| %>
                      <% indicator_score = (indicator[:score] * num_indicators * 10).round %>
                      <% if indicator_score > 100 %>
                        <% indicator_score = 100 %>
                      <% end %>
                      <% if !indicator[:score].nil? %>
                        <p>Indicator: <%= indicator[:name] %>,
                        Score: <%= indicator_score %> / 100 </p>
                        <p class="text-muted">Description: <%= raw indicator[:description] %></p>
                        <hr />
                      <% end %>
                    <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <p class="card-text text-left text-muted">
          <%= t('view.product.show.no-maturity') %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-2">
  <div id="project-list" class="card">
    <h5 class="card-header bg-secondary text-white">
      <%= t('model.project').to_s.pluralize.humanize %>
    </h5>
    <div class="card-body">
      <% if @product.projects.count > 0 %>
        <div class="row">
          <% @product.projects.order("name").each do |project| %>
            <div class="col-6 col-lg-4 mt-2">
              <div class="card h-100">
                <div class="card-body py-2">
                  <p class="card-text" style="flex: 1"><%= link_to project.name, project %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="card-text text-left text-muted">
          <%= t('view.general.not-available', model: t('model.product'), multi: t('model.project').to_s.pluralize) %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<% if @product.classifications.count > 0 %>
  <div class="card mt-2">
    <h5 class="card-header bg-secondary text-white">
        <%= t('view.product.show.classifications') %>
    </h5>
    <div class="card-body">

      <ul>
        <% @product.classifications.each do |classification| %>
            <li><%= classification.name %>
            (<%= t('view.product.show.classification-source') %>: 
            <%= classification.source %>)</li>
        <% end %>
      </ul>

    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-12 col-md-6 mt-2">
    <div class="card">
      <h5 class="card-header bg-secondary text-white">
          <%= t('view.product.show.cost-data') %>
      </h5>
      <div class="card-body">
        <% if @product.code_lines.nil? && @product.cocomo.nil? && @product.est_hosting.nil? && @product.est_invested.nil? %>
          <p class="card-text text-muted">
            <%= t('view.product.show.no-cost-data') %>
          </p>
        <% else %>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="text-muted"><%= t('view.product.show.code-lines') %></div>
              <h5><%= @product.code_lines %></h5>
            </div>
            <div class="col-12 col-md-6" data-toggle="tooltip" data-placement="top" 
                 data-original-title="<%= t('view.product.show.cocomo') %>">
              <div class="text-muted"><%= t('view.product.show.est-effort') %>
                <i class="fas fa-info-circle ml-1"></i>
              </div>
              <h5><%= @product.cocomo %></h5>
            </div>
            <% if !@product.est_hosting.nil? || !@product.est_invested.nil? %>
              <div class="col-12 col-md-6">
                <div class="text-muted"><%= t('view.product.show.est-hosting') %></div>
                <h5><%= @product.est_hosting %></h5>
              </div>
              <div class="col-12 col-md-6">
                <div class="text-muted"><%= t('view.product.show.est-invested') %></div>
                <h5><%= @product.est_invested %></h5>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mt-2">
    <div class="card">
      <h5 class="card-header bg-secondary text-white">
          <%= t('view.product.show.auto-launch') %>
      </h5>
      <div class="card-body">
        <% if @product.is_launchable %>
          <div id="launchdata">
          <%= render partial: "launch" %>
          </div>
        <% else %>
          <p class="card-text text-muted">
            <%= t('view.product.show.not-auto-launch') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="mt-2">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('view.general.comment').to_s.titlecase.pluralize %></h5>
  </div>
  <%= commontator_thread(@product) %>
</div>

</div>
