<p id="notice"><%= notice %></p>

<div class="card">
  <h5 class="card-header"><%= @product.name %></h5>
  <div class="card-body">
    <h6 class="card-subtitle text-muted mb-2">
      <strong>Slug: </strong><%= @product.slug %>
    </h6>
    <h6 class="card-subtitle text-muted mb-2">
      <strong>Website: </strong><%= @product.website %>
    </h6>

    <p class="float-right mb-0" >
      <%= link_to 'Back', products_path, :class => "card-link" %>
      <%= link_to 'Edit', edit_product_path(@product), :class => "card-link" %>
    </p>
  </div>
</div>
