<p id="notice"><%= notice %></p>

<%= link_to "Product Graph", productmap_path, :class => 'btn btn-outline-secondary float-left ml-1', target: "_blank" %>
<br clear="both"/>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0">Automatic Launch</h5>
  </div id="autolaunch">
  <% if @product.is_launchable %>
    <p class="card-text text-muted">Docker hub image: <%= @product.docker_image %></p>
    <div id="launchdata">
    <%= render partial: "launch" %>
    </div>
  <% else %>
    <p class="card-text text-muted">This product is not configured for auto-launch</p>
  <% end %>
</div>

<br/>
<div class="card-deck">
  <div class="card">
    <h5 class="card-header"><%= @product.name %></h5>
    <%= image_tag(@product.image_file, width: 200) %>
    <div class="card-body">
      <% if !@product.website.nil? and !@product.website.empty? %>
      <h6 class="card-text text-muted mb-2">
        <strong>Website:
        </strong><%= @product.website %>
      </h6>
      <% end %>

      <p class="float-right mb-0">
        <small><%= link_to 'Edit', edit_product_path(@product), :class => "card-link" %></small>
      </p>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <div class="card-header clearfix">
      <h5 class="float-left">Interoperable Products</h5>
      <%= link_to 'Add', new_product_path, :class => "card-link float-right" %>
    </div>
    <div class="card-body">
      <% if @product.interoperates_with.count > 0 %>
        <% @product.interoperates_with.each_slice(3) do |product_row| %>
        <div class="card-deck">
          <% product_row.each do |product| %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= link_to product.name, product %></h5>
                <%= image_tag(product.image_file, width: 50, class: 'card-img-top align-middle') %>
              </div>
            </div>
          <% end %>
          <% if product_row.size < 3  %>
            <% (3 - product_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <%end %>
      <% else %>
        <p class="card-text text-muted">We don't have any interoperating information for this product.</p>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-header clearfix">
      <h5 class="float-left">Included Products</h5>
      <%= link_to 'Add', new_product_path, :class => "card-link float-right" %>
    </div>
    <div class="card-body">
      <% if @product.includes.count > 0 %>
        <% @product.includes.each_slice(3) do |product_row| %>
        <div class="card-deck">
          <% product_row.each do |product| %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= link_to product.name, product %></h5>
                <%= image_tag(product.image_file, width: 50, class: 'card-img-top align-middle') %>
              </div>
            </div>
          <% end %>
          <% if product_row.size < 3  %>
            <% (3 - product_row.size).times do |x| %>
              <div class="card card-placeholder">
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p class="card-text text-muted">We don't have any includes information for this product.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck">
    <div class="card">
      <h5 class="card-header">Digital Square Maturity</h5>
      <div class="card-body text-center">
        <% if !@product.product_assessment.nil? and @product.product_assessment.has_digisquare %>
          <% @digisquare_maturity.each do |digisquare_maturity_category| %>
            <div class="digisquare-gauge">
             <div class="needle" style="transform: rotate(<%= 90 + 18*(@product.maturity_scores[digisquare_maturity_category['core']])%>deg)"></div>
            </div>
            <br clear="both"/>
            <small><%= digisquare_maturity_category['core'] %>:<%= @product.maturity_scores[digisquare_maturity_category['core']] %></small>
            <br clear="both"/>
          <% end %>
        <% else %>
          <small>This product hasn't been evaluated with Digital Square's maturity model.</small>
        <% end %>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Open Source Center Maturity</h5>
      <div class="card-body">
        <% if !@product.product_assessment.nil? and @product.product_assessment.has_osc %>
          <small>
          <ul>
            <% @osc_maturity.each do |osc_maturity| %>
              <li>
                  <strong><%= osc_maturity["header"] %></strong>:
                  <big><%= @product.maturity_scores[osc_maturity['header']]['score'] %></big> /
                  <%= @product.maturity_scores[osc_maturity['header']]['total'] %>
              </li>
            <% end %>
          </ul>
          </small>
        <% else %>
          <small>This product hasn't been evaluated with the OSC's maturity model.</small>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-header clearfix">
        <h5 class="float-left">Building Blocks</h5>
        <%= link_to 'Add', new_building_block_path, :class => "card-link float-right" %>
      </div>
      <div class="card-body">
        <% if @product.building_blocks.count > 0 %>
            <% @product.building_blocks.each do |building_block| %>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><small><%= link_to building_block.name, building_block %></small></h5>
                </div>
              </div>
              <br clear="both"/>
            <% end %>
        <% else %>
          <p class="card-text text-muted">We don't have any building block information for this product.</p>
        <% end %>
      </div>
    </div>
</div>
