<% description = category_indicator.category_indicator_descriptions
                                   .select { |desc| desc.locale == I18n.locale.to_s }
                                   .first %>
<%= form_with(model: category_indicator, local: true, html: { id: 'category-indicator-form' }) do |form| %>
  <%= form.hidden_field :rubric_category_id, id: :rubric_category_id %>
  
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :category_indicator_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= category_indicator.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.rubric-category')) %>
  </div>

  <label for="rubric-category-description">
    <%= t('view.rubric-category.form.description') %>
  </label>

  <input type="hidden" id="ci_desc" name="category_indicator[ci_desc]" />
  <div id="ci_desc_editor"> </div>
  
  <fieldset class="form-label-group mt-2">
    <%= form.text_field :weight, id: :category_indicator_weight, required: true,
                        type: 'number', step: 'any', class: "form-control",
                        placeholder: t('view.category-indicator.form.weight') %>
    <%= form.label :weight, t('view.category-indicator.form.weight') %>
  </fieldset>

  <fieldset class="form-group mt-2">
    <%= label_tag "indicator_type", t('view.category-indicator.form.indicator-type') %>
    <%= form.select(:indicator_type, options_for_select(CategoryIndicator.category_indicator_types
                                                                         .map {|k, v| [k.humanize.capitalize, v]},
                                                        selected: category_indicator.indicator_type),
                   {},
                   { class: 'form-control filter-element', style: 'height: calc(1.5em + 0.75rem + 15px) !important' }) %>
  </fieldset>
  
  <fieldset class="form-label-group">
    <%= form.text_field :source_indicator, id: :category_indicator_source_indicator,
                        class: "form-control", placeholder: t('view.category-indicator.form.source-indicator') %>
    <%= form.label :source_indicator, t('view.category-indicator.form.source-indicator') %>
  </fieldset>
  
  <fieldset class="form-label-group">
    <%= form.text_field :data_source, id: :category_indicator_data_source,
                        class: "form-control", placeholder: t('view.category-indicator.form.data-source') %>
    <%= form.label :data_source, t('view.category-indicator.form.data-source') %>
  </fieldset>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary", :id => "submit-btn" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  $("#submit-btn").on('click', function(e) {
    var descHtml = descEditor.html.get()
    $("#ci_desc").val(descHtml)
  });

  var descEditor;
  $(document).ready(function() {
    descEditor = new FroalaEditor('#ci_desc_editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      language: "<%= I18n.locale %>",
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      descEditor.html.set("<%= description.description.nil? ? "" : description.description.squish.gsub("\"","\\\"").html_safe %>")
    });
  });

</script>


