<div class="card-body">
  <%= form_with(model: location, local: true) do |form| %>
    <% if location.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
        <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :location_name, :class => "form-control", :placeholder => "Name" %>
      <%= form.label :name %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= form.text_field :slug, id: :location_slug, :class => "form-control", :placeholder => "Slug"  %>
      <%= form.label :slug %>
    </fieldset>

    <fieldset class="form-label-group">
      <input type="text" id="organization-search" class="form-control" placeholder="Search and assign organizations ..." />
      <label for="country-organization">
        Search and assign organizations ...
      </label>
    </fieldset>

    <fieldset id="selected-organizations" class="d-flex flex-wrap">
      <div id="base-selected-organizations" class="card mr-2 mb-2" style="max-width: 20rem;">
        <div class="card-body p-1 d-flex">
          <p class="card-text p-1 m-0" style="flex: 1"></p>
          <a class="card-link p-1" onclick="remove(this);">
            <i class="fas fa-trash-alt" style="color: #6c757d;"></i>
          </a>
          <input type="hidden"/>
        </div>
      </div>
    </fieldset>

    <fieldset class="float-right">
      <%= form.submit 'Submit', :class => "btn btn-primary" %>
      <%= link_to 'Back', "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>
</div>

<script>
  <% location.organizations.order("name").each do |organization| %>
    addOrganization('<%= organization.id %>', '<%= organization.name %>');
  <% end %>
</script>
