  <%= form_with(model: location, local: true) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :location_name, class: "form-control", placeholder: t('view.general.name') %>
      <%= form.label :name, t('view.general.name') %>
    </fieldset>

    <input id="original_name" type="hidden" value="<%= location.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      <%= t('view.general.duplicates', model: t('model.location')) %>
    </div>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('view.multi-select.assigned.title', model: t('model.organization').to_s.pluralize.humanize) %>
    </h6>
    <% if !@organization %>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="organization-search" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>" />
        <label for="country-organization">
          <%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>
        </label>
      </fieldset>
    <% end %>
    <div class="row">
      <div id="base-selected-organizations" class="col-6 col-lg-4 mb-2">
        <div class="card h-100">
          <div class="px-1 clearfix badge badge-secondary">
            <p class="mb-0 float-left"></p>
            <% if !@organization %>
              <a class="float-right p-1" onclick="remove(this);" style="cursor: pointer;">
                <i class="fas fa-trash-alt"></i>
              </a>
            <% end %>
            <input type="hidden"/>
          </div>
        </div>
      </div>
    </div>

    <fieldset class="float-right mt-4">
      <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
      <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>

<script>
  <% location.organizations.sort_by{|organization| organization.name }.each do |organization| %>
    addOrganization('<%= organization.id %>', '<%= organization.name %>');
  <% end %>
</script>
