  <%= form_with(model: location, local: true) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :location_name, class: "form-control", placeholder: t('view.general.name') %>
      <%= form.label :name, t('view.general.name') %>
    </fieldset>

    <input id="original_name" type="hidden" value="<%= location.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      <%= t('view.general.duplicates', model: t('model.location')) %>
    </div>

    <div id="other-name-label" class="mt-2"><%= "#{t('view.location.form.other-names')}:" %></div>
    <div id="other-names">
      <div id="base-other-name" class="form-inline mt-2 mb-2">
        <input type="text" name="other_names[]" class="form-control col-10"
               style="height: calc(1.5em + 0.75rem + 12px);" 
               <% !policy(location).permitted_attributes.include?(:aliases) && concat('disabled') %>
               placeholder="<%= t('view.location.form.other-names') %>" aria-labelledby="other-name-label" />
        <div class="input-group-append">
          <% if policy(location).permitted_attributes.include?(:aliases) %>
            <button type="submit" class="btn btn-primary ml-2 add-other-name">+</button>
            <button type="submit" class="btn btn-primary ml-2 remove-other-name">-</button>
          <% end %>
        </div>
      </div>
    </div>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('view.multi-select.assigned.title', model: t('model.organization').to_s.pluralize.humanize) %>
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="organization-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>" />
      <label for="country-organization">
        <%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-organizations" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <fieldset class="float-right mt-4">
      <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
      <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>

<script>
  <% location.aliases.each {|other_name| %>
    addOtherName('<%= other_name %>');
  <% } %>
  <% location.organizations.sort_by{|organization| organization.name }.each do |organization| %>
    addOrganization('<%= organization.id %>', '<%= organization.name %>');
  <% end %>
</script>
