<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white">
    Location: <%= @location.name %>
  </h5>
  <div class="card-body">
    <p class="float-right mb-0" >
      <%= link_to 'Back', locations_path, :class => "card-link" %>
      <% if policy(@location).mod_allowed? %>
        <%= link_to 'Edit', edit_location_path(@location), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0">Organizations</h5>
  </div>
  <% if @location.organizations.count > 0 %>
    <div class="row">
      <% @location.organizations.each do |organization| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body pb-1">
              <h5 class="card-title"><%= link_to organization.name, organization %></h5>
              <h6 class="card-subtitle text-muted mb-2"><%= organization.website %></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">We don't have any organization(s) information for this location.</p>
  <% end %>
</div>
