<!DOCTYPE html>
<html>
  <head>
    <title>Product Registry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .rotate-north {
        top: 65px;
        left: 0.5em;
      }
      .ol-touch .rotate-north {
        top: 80px;
      }
    </style>
  </head>

  <body>
    <div id="header-space" style="min-height: 150px"></div>
    <%= render '/shared/header' %>
    <div id="content" class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= render '/shared/footer' %>
  </body>
</html>
