<!DOCTYPE html>
<html>
  <head>
    <title>Product Registry</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.7.2/css/all.css",
        :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",
        :crossorigin => "anonymous" %>
    <style>
      .rotate-north {
        top: 65px;
        left: 0.5em;
      }
      .ol-touch .rotate-north {
        top: 80px;
      }
    </style>
    <% if Rails.env.production? || Rails.env.development? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.secrets.google_tracker %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Rails.application.secrets.google_tracker %>');
      </script>
    <% end %>
    
  </head>

  <body id="main-body" data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
    <%= render '/shared/topnav' %>
    <div id="content" class="container-fluid">
      <div class="row">
        <div class="col-3">
          <%= render '/shared/filternav' %>
        </div>
        <div class="col-9">
          <%= render '/shared/summarynav' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render '/shared/footer' %>
  </body>
</html>
